src/main/resources/xsd/xmeld243/xmeld-nachrichten-auslaenderzentralregister.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xmeld="http://www.osci.de/xmeld243"
           xmlns:xiaz="http://www.osci.de/xinneres/azrnummer/1"
           xmlns:xida="http://www.osci.de/xinneres/datum/2"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.osci.de/xmeld243"
           version="2.4.3"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XMeld</nameLang>
            <nameKurz>XMeld</nameKurz>
            <nameTechnisch>xinneres.xmeld</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.xmeld</kennung>
            <beschreibung>OSCI–XMeld ist das XInneres-Fachmodul der Innenverwaltung für den elektronischen Datenaustausch
im Meldewesen und mit dem Meldewesen. Es ist Kern eines elektronischen Informationsverbundes zwischen
den Meldebehörden und den Kommunikationspartnern der Meldebehörden. Weitere Bestandteile
des elektronischen Informationsverbundes sind die Intermediäre und Clearingstellenbetreiber, deren
Aufgabe die Übermittlung und Zustellung der XMeld-Nachrichten ist. Für die Übermittlung wird OSCITransport
genutzt. Für die Zustellung und Adressierung der XMeld-Nachrichten das Deutsche Verwaltungsdienste-
Verzeichnis (DVDV).
Entwickelt wird OSCI–XMeld durch ein Expertengremium mit Vertreterinnen und Vertretern aus der
Verwaltung und von Verfahrensherstellern. Die Koordnierungsstelle für IT-Standards (KoSIT) ist dabei
federführend. Auftraggeber für die Erstellung und Weiterentwicklung ist der Arbeitskreis I (AK I) der
Innenministerkonferenz (IMK).
Seit 2007 ist OSCI–XMeld im praktischen Einsatz für die Kommunikation von und mit den Meldebehörden
und wird seit dem kontinuierlich weiterentwickelt und an geänderte rechtliche Vorgaben angepasst.
Zur Einführung des Bundesmeldegesetzes wurde OSCI–XMeld vollständig überarbeitet und setzt die
Anforderungen des Bundesmeldegesetzes in der praktischen Datenübermittlung um.</beschreibung>
         </standard>
         <versionStandard>
            <version>2.4.3</version>
            <versionXOEVProfil>1.5.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.1</versionXOEVHandbuch>
            <versionXGenerator>3</versionXGenerator>
            <versionModellierungswerkzeug>18.0 SP6</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
         <title>Datenaustausch mit dem Ausländerzentralregister</title>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xmeld-nachrichten-basistypen.xsd"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/azrnummer/1/xinneres-azrnummer.xsd"
              namespace="http://www.osci.de/xinneres/azrnummer/1"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/datum/2/xinneres-datum.xsd"
              namespace="http://www.osci.de/xinneres/datum/2"/>
   <xs:import schemaLocation="http://xoev.de/latinchars/1_1/datatypes/latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:element name="auslaenderzentralregister.auslaenderzentralregistermitteilung.1650">
      <xs:annotation>
         <xs:appinfo>
            <title>Ausländerzentralregistermitteilung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht informiert die Meldebehörde das Ausländerzentralregister über Fortschreibungen und weitere Änderungen zu den Daten von Personen im Asylverfahren. Diese Nachricht wird versendet von der Zuzugsmeldebehörde im Falle eines Zuzugs aus dem Inland (Prozess siehe ), Meldebehörde der Hauptwohnung oder Meldebehörde der alleinigen Wohnung im Falle eines Umzugs (Prozess siehe ), Meldebehörde der alleinigen Wohnung im Falle eines Wegzugs in das Ausland (Prozess siehe ). Meldebehörde der alleinigen Wohnung im Falle eines Wegzugs nach unbekannt (Prozess siehe ). Meldebehörde der Hauptwohnung oder Meldebehörde der alleinigen Wohnung im Falle einer Fortschreibung von Daten zur Anschrift (Prozess siehe ). Zuzugsmeldebehörde im Falle eines Wohnungsstatuswechsel mit Wechsel des Zuständigkeitsbereichs (Prozess siehe ). Meldebehörde der Hauptwohnung oder Meldebehörde der alleinigen Wohnung im Falle eines Wohnungsstatuswechsel ohne Wechsel des Zuständigkeitsbereichs (Prozess siehe ), vermeintlichen Wegzugsmeldebehörde im Falle einer Rücknahme eines Zuzugs aus dem Inland (Prozess siehe ).</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xmeld:type.Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="azrNummer" type="xiaz:AZRNummer">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die AZR-Nummer der Person übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlass" type="xmeld:Code.XMeld.Datenuebermittlungsanlaesse">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Anlass für die Datenübermittlung übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="name" type="xmeld:type.NameNatuerlichePerson">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element ist der Name der betroffenen Person zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="geburt" type="xmeld:type.Geburt">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element sind die Angaben zur Geburt der betroffenen Person zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="geschlecht" type="xmeld:Code.Geschlecht">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element ist das Geschlecht der betroffenen Person zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="staatsangehoerigkeit"
                              maxOccurs="4"
                              type="xmeld:type.StaatsangehoerigkeitOhneUnionsbuergerschaft">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element ist die Staatsangehörigkeit der betroffenen Person zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktuelleAnschrift" type="xmeld:type.AnschriftMelderecht">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element ist die aktuelle Anschrift der Haupt- oder alleinigen Wohnung der betroffenen Person zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="letzteFruehereAnschrift"
                              minOccurs="0"
                              type="xmeld:type.AnschriftMelderechtOhneAusland">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element ist die letzte frühere Anschrift der Haupt- oder alleinigen Wohnung der betroffenen Person zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="identifikation.ereignis"
                              type="xmeld:type.Identifikation.Ereignis">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Daten übermittelt, die zur Identifikation und zeitlichen Einordnung des Ereignisses notwendig sind.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anwender" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element ist vorzugsweise der Name der verantwortlichen Person (§ 9 Abs. 1 AZRG) zu übermitteln. Liegt dieser nicht vor, ist alternativ eine technische Kennung, mit der die verantwortliche Person bei der Meldebehörde eindeutig bestimmt werden kann, zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="auslaenderzentralregister.mitteilungAnMeldebehoerde.1651">
      <xs:annotation>
         <xs:appinfo>
            <title>Mitteilung des Ausländerzentralregisters</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht informiert das Ausländerzentralregister die Meldebehörde über Erstmeldungen von Personen im Asylverfahren, Fortschreibungen und weitere Änderungen zu den Daten von Personen im Asylverfahren sowie über die Beendigung der Datenübermittlung mit dem Ausländerzentralregister oder die Löschung der AZR-Nummer aus dem Melderegister. Diese Nachricht wird versendet vom: Ausländerzentralregister im Falle einer Erstmeldung des Ausländerzentralregisters (Prozess siehe ), Ausländerzentralregister im Falle einer Änderung der Anschrift im Ausländerzentralregister (Prozess siehe ), Ausländerzentralregister im Falle einer Änderung der Grundpersonalien oder der Übermittlungssperre im Ausländerzentralregister (Prozess siehe ), Ausländerzentralregister im Falle einer Änderung der AZR-Nummer (Prozess siehe ), Ausländerzentralregister im Falle einer Löschung der Anschrift im Ausländerzentralregister (Prozess siehe ), Ausländerzentralregister im Falle der Beendigung der Datenübermittlung mit dem Ausländerzentralregister (Prozess siehe ), Ausländerzentralregister im Falle der Aufnahme der Kommunikation durch das Ausländerzentralregister (Prozess siehe ).</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xmeld:type.Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="azrNummer" type="xiaz:AZRNummer">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die AZR-Nummer der Person übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlass" type="xmeld:Code.AZR.Anlass">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Anlass für die Datenübermittlung übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="azrNummer.neu" minOccurs="0" type="xiaz:AZRNummer">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird im Falle einer Änderung der AZR-Nummer, die neue AZR-Nummer übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="name" type="xmeld:type.NameNatuerlichePerson">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element ist der Name der betroffenen Person zu übermitteln. Es wird jeweils nur die unstrukturierte Form des Namen übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="geburt" type="xmeld:type.Geburt">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element sind die Angaben zur Geburt der betroffenen Person zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="geschlecht" type="xmeld:Code.Geschlecht">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element ist das Geschlecht der betroffenen Person zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="staatsangehoerigkeit"
                              maxOccurs="4"
                              type="xmeld:type.StaatsangehoerigkeitOhneUnionsbuergerschaft">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element ist die Staatsangehörigkeit der betroffenen Person zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktuelleAnschrift"
                              minOccurs="0"
                              type="xmeld:type.AnschriftMelderechtOhneAusland">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element ist die aktuelle Anschrift der Haupt- oder alleinigen Wohnung der betroffenen Person zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="letzteFruehereAnschrift"
                              minOccurs="0"
                              type="xmeld:type.AnschriftMelderechtOhneAusland">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element ist die letzte frühere Anschrift der Haupt- oder alleinigen Wohnung der betroffenen Person zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="geloeschteAnschrift"
                              minOccurs="0"
                              type="xmeld:type.AnschriftMelderechtOhneAusland">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die im Ausländerzentralregister gelöschte Anschrift der Person im Asylverfahren zu übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="auskunftssperre" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die Tatsache des Vorliegens einer Auskunftssperre nach § 4 Abs. 1 AZRG im Ausländerzentralregister übermittelt. Es sind die Werte true und false zulässig. Eine übermittelte Auskunftssperre ist im Melderegister als Auskunftssperre gemäß § 51 Abs. 1 BMG zu speichern.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="identifikation.ereignis"
                              type="xmeld:type.Identifikation.Ereignis">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Daten übermittelt, die zur Identifikation und zeitlichen Einordnung des Ereignisses notwendig sind.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="auslaenderzentralregister.fehlermitteilung.1652">
      <xs:annotation>
         <xs:appinfo>
            <title>Fehlermitteilung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden Nachrichten vom Ausländerzentralregister gemäß Prüfungsebene II an die Meldebehörde zurückgewiesen, die eine Nachricht übermittelt hat, die im fachlichen Kontext des Ausländerzentralregisters nicht verarbeitet werden kann. Diese Nachricht wird versendet vom: Ausländerzentralregister im Falle einer Rückweisung aufgrund fehlender Identifikation der Person im Asylverfahren (Prozess siehe ), Ausländerzentralregister im Falle einer Prüfung, ob die Datenübermittlung an das AZR beendet werden muss (Prozess siehe ).</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xmeld:type.Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="azrNummer" type="xiaz:AZRNummer">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die AZR-Nummer der Person je nach Fehlercode aus der Ursprungsnachricht oder aus dem Ausländerzentralregister übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="fehlergrund" type="xmeld:Code.AZR.Fehlercode.Fachlich">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Grund der Rückweisung in Form eines Schlüssels und eines Fehlertextes übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anlass" type="xmeld:Code.XMeld.Datenuebermittlungsanlaesse">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Angaben zum Anlass der Übermittlung aus der Ursprungsnachricht übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="name" type="xmeld:type.NameNatuerlichePerson">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Name der Person im Asylverfahren aus der Ursprungsnachricht übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="geburt" type="xmeld:type.Geburt">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Angaben zur Geburt der Person im Asylverfahren aus der Ursprungsnachricht übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="geschlecht" type="xmeld:Code.Geschlecht">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Angaben zum Geschlecht der Person im Asylverfahren aus der Ursprungsnachricht übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="staatsangehoerigkeit"
                              maxOccurs="4"
                              type="xmeld:type.StaatsangehoerigkeitOhneUnionsbuergerschaft">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Angaben zur Staatsangehörigkeit der Person im Asylverfahren aus der Ursprungsnachricht übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktuelleAnschrift" type="xmeld:type.AnschriftMelderecht">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Angaben zur aktuellen Anschrift der Haupt- oder alleinigen Wohnung der Person im Asylverfahren aus der Ursprungsnachricht übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="letzteFruehereAnschrift"
                              minOccurs="0"
                              type="xmeld:type.AnschriftMelderechtOhneAusland">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Angaben zur letzten früheren Anschrift der Haupt- oder alleinigen Wohnung der Person im Asylverfahren aus der Ursprungsnachricht übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ursprungsereignis" type="xmeld:type.Identifikation.Ereignis">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Daten zur Identifikation des Ereignisses aus der Ursprungsnachricht übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ursprungsnachricht" type="xmeld:type.Identifikation.Nachricht">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die Ursprungsnachricht referenziert, mit der die Ausländerzentralregistermitteilung übermittelt wurde. Als Schlüssel darf im Kindelement nachrichtentyp nur der Wert 1650 übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
