src/main/resources/xsd/xmeld243/xmeld-nachrichten-melderegisterauskunft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xmeld="http://www.osci.de/xmeld243"
           xmlns:xian="http://www.osci.de/xinneres/allgemeinername/2"
           xmlns:xicgvz="http://www.osci.de/xinneres/codes/gemeindeverzeichnis/2"
           xmlns:xida="http://www.osci.de/xinneres/datum/2"
           xmlns:xima="http://www.osci.de/xinneres/meldeanschrift/3"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.osci.de/xmeld243"
           version="2.4.3"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XMeld</nameLang>
            <nameKurz>XMeld</nameKurz>
            <nameTechnisch>xinneres.xmeld</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.xmeld</kennung>
            <beschreibung>OSCI–XMeld ist das XInneres-Fachmodul der Innenverwaltung für den elektronischen Datenaustausch
im Meldewesen und mit dem Meldewesen. Es ist Kern eines elektronischen Informationsverbundes zwischen
den Meldebehörden und den Kommunikationspartnern der Meldebehörden. Weitere Bestandteile
des elektronischen Informationsverbundes sind die Intermediäre und Clearingstellenbetreiber, deren
Aufgabe die Übermittlung und Zustellung der XMeld-Nachrichten ist. Für die Übermittlung wird OSCITransport
genutzt. Für die Zustellung und Adressierung der XMeld-Nachrichten das Deutsche Verwaltungsdienste-
Verzeichnis (DVDV).
Entwickelt wird OSCI–XMeld durch ein Expertengremium mit Vertreterinnen und Vertretern aus der
Verwaltung und von Verfahrensherstellern. Die Koordnierungsstelle für IT-Standards (KoSIT) ist dabei
federführend. Auftraggeber für die Erstellung und Weiterentwicklung ist der Arbeitskreis I (AK I) der
Innenministerkonferenz (IMK).
Seit 2007 ist OSCI–XMeld im praktischen Einsatz für die Kommunikation von und mit den Meldebehörden
und wird seit dem kontinuierlich weiterentwickelt und an geänderte rechtliche Vorgaben angepasst.
Zur Einführung des Bundesmeldegesetzes wurde OSCI–XMeld vollständig überarbeitet und setzt die
Anforderungen des Bundesmeldegesetzes in der praktischen Datenübermittlung um.</beschreibung>
         </standard>
         <versionStandard>
            <version>2.4.3</version>
            <versionXOEVProfil>1.5.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.1</versionXOEVHandbuch>
            <versionXGenerator>3</versionXGenerator>
            <versionModellierungswerkzeug>18.0 SP6</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
         <title>Die einfache Melderegisterauskunft</title>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xmeld-nachrichten-basistypen.xsd"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/allgemeinername/2/xinneres-name.xsd"
              namespace="http://www.osci.de/xinneres/allgemeinername/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/codes/gemeindeverzeichnis/2/xinneres-codes-gemeindeverzeichnis.xsd"
              namespace="http://www.osci.de/xinneres/codes/gemeindeverzeichnis/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/datum/2/xinneres-datum.xsd"
              namespace="http://www.osci.de/xinneres/datum/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/meldeanschrift/3/xinneres-meldeanschrift.xsd"
              namespace="http://www.osci.de/xinneres/meldeanschrift/3"/>
   <xs:import schemaLocation="http://xoev.de/latinchars/1_1/datatypes/latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:complexType name="type.GewerblicherZweck">
      <xs:annotation>
         <xs:appinfo>
            <title>Datentyp für die Angabe des Zwecks der einfachen Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Dieser Datentyp dient der Übermittlung der gewerblichen Zwecke einer Anfrage gemäß § 44 BMG. Für die Angabe der Zwecke kann sowohl ein Schlüssel aus einer Schlüsseltabelle als auch ein Freitext angegeben werden. Zusätzlich muss das Element geschaeftszeichen befüllt werden.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="angabeDesZwecks">
            <xs:annotation>
               <xs:documentation>Mit diesem Element können mehrere Einträge aus der Schlüsseltabelle Melderegisterauskunft Gewerblicher Zweck ausgewählt werden. Falls ein vorgesehener Zweck dort nicht enthalten ist, muss er in das Element freitext eingetragen werden. Ggf. kann der Freitext für weitere Informationen zum gewerblichen Zweck genutzt werden.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="code"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xmeld:Code.Melderegisterauskunft.gewerblicher.Zweck">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element kann der Zweck der Suchanfrage übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="freitext" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element kann die Angabe des Zwecks in Form einer Freitextangabe erfolgen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="geschaeftszeichen" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Angabe des Geschäftszeichens zu dem Vorgang übermittelt, in dessen Kontext das Auskunftsersuchen gestellt wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="type.Melderegisterauskunft.Anfragedaten">
      <xs:annotation>
         <xs:appinfo>
            <title>Datentyp für die Anfragedaten der einfachen Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp sind die Daten zu übermitteln, die Rolle und Zweckbestimmung der Anfrage näher bestimmen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="gewerblicherZweck"
                     minOccurs="0"
                     type="xmeld:type.GewerblicherZweck">
            <xs:annotation>
               <xs:documentation>Erfolgt die Anfrage aufgrund eines gewerblichen Zwecks, ist er mit diesem Element zu übermitteln. Hierfür können mehrere Einträge aus der Schlüsseltabelle Melderegisterauskunft Gewerblicher Zweck ausgewählt werden. Falls der vorgesehene Zweck dort nicht enthalten ist, ist eine möglichst konkrete Beschreibung in das Element freitext einzutragen. Das Element geschaeftszeichen ist in jedem Fall zu befüllen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zeicheneinzelfall" minOccurs="0" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Die anfragende Stelle kann hier ihr Zuordnungsmerkmal für die jeweilige Einzelanfrage eintragen (Aktenzeichen, Surrogat, Geschäftskennzeichen), damit auch bei asynchroner Bearbeitung die Antwort der Anfrage zugeordnet werden kann.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zumZweckDerWerbungOderAdresshandel" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Erklärung übermittelt, dass die anfragende Stelle, die Daten nicht zum Zwecke der Werbung oder des Adresshandels verwendet. Die Erklärung wird mit dem Wert 'false' übermittelt. Sofern das Element 'true' übermittelt wird, ist eine Melderegisterauskunft unzulässig.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="type.Melderegisterauskunft.AnschriftMelderecht.Inland">
      <xs:annotation>
         <xs:appinfo>
            <title>Inlandsanschrift einer Person</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp wird die Inlandsanschrift einer Person im Rahmen der einfachen Melderegisterauskunft abgebildet. Er basiert auf der Anschrift des xinneres-basismoduls. Die Kindelemente strasse, postleitzahl und wohnort sind mandatorisch, da sie nach den gesetzlichen Vorschriften (dsm) unverzichtbare Bestandteile einer Anschrift sind.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xima:Meldeanschrift">
            <xs:sequence>
               <xs:element name="gemeindeschluessel"
                           minOccurs="0"
                           type="xicgvz:Code.GemeindeVZ.AmtlicherGemeindeschluessel"
                           form="unqualified">
                  <xs:annotation>
                     <xs:appinfo>
                        <implementationHint>Solange die Aktualität der verwendeten Schlüsseltabelle nicht gegeben ist, wird vollständig auf die Plausibilisierung der listVersionID verzichtet.</implementationHint>
                     </xs:appinfo>
                     <xs:documentation>Es ist der vom Statistischen Bundesamt herausgegebene bundeseinheitliche Gemeindeschlüssel der Gemeinde anzugeben, in der die Wohnung liegt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="hausnummer"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Hausnummer"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es sind nur die Ziffern einer Hausnummer anzugeben.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="hausnummerBuchstabeZusatzziffer"
                           minOccurs="0"
                           type="xima:Meldeanschrift.HausnummerBuchstabeZusatzziffer"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es sind Buchstaben oder Zusatzziffern zur Hausnummer anzugeben. Beispiel: 124 A, 109.5</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="postleitzahl"
                           type="xima:Meldeanschrift.Postleitzahl"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es ist die Postleitzahl anzugeben.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="stockwerkswohnungsnummer"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Stockwerkswohnungsnummer"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es sind Stockwerks- und Wohnungsnummern anzugeben, soweit sie für die Adressierung erforderlich sind; Beispiel: IV. Stockwerk, Wohnung 115.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="strasse"
                           type="xima:Meldeanschrift.Strasse"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es ist die Bezeichnung der Straße anzugeben. Die Feldlänge ist auf 55 Zeichen beschränkt. Bei Überschreitung einer Länge von 25 Zeichen darf sinnvoll abgekürzt werden. Ist keine Straßenbezeichnung - wohl aber eine Hausnummer - vorhanden, so ist die Zeichenkette Hausnummer anzugeben. Sind weder Straßenbezeichnung noch Hausnummer vorhanden, so ist die Zeichenkette ohne Hausnummer anzugeben.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="teilnummerDerHausnummer"
                           minOccurs="0"
                           type="xima:Meldeanschrift.TeilnummerDerHausnummer"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es sind Teilnummern zur Hausnummer anzugeben. Beispiel: 16 1/7</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="wohnort"
                           type="xima:Meldeanschrift.Wohnort"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es ist die postalische Wohnortsbezeichnung anzugeben. Die Feldlänge ist auf 40 Zeichen beschränkt. Des Weiteren gelten die Regelungen des DSMeld-Blattes 1203.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="wohnortFruehererGemeindename"
                           minOccurs="0"
                           type="xima:Meldeanschrift.WohnortFruehererGemeindename"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es ist der frühere Gemeindename anzugeben, der als Stadt- bzw. Ortsteilname dem jetzigen Gemeindenamen hinzugefügt werden kann.Der frühere Gemeindename (jetziger Ortsteil- oder Stadtteilname) ist bei Adressierungen unterhalb des Namens (oberhalb der Straßenbezeichnung) anzugeben.Beispiel: Frau Rita Scholl Zuffenhausen Am Stadtpark 12 70123 Stuttgart Die Feldlänge ist auf 40 Zeichen beschränkt. Des Weiteren gelten die Regelungen des DSMeld-Blattes 1204.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="wohnungsinhaber"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Wohnungsinhaber"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>In diesem Element ist der Hauptmieter oder Eigentümer der Wohnung anzugeben, soweit dies für die Adressierung erforderlich ist. Bei Überschreitung einer Länge von 26 Zeichen darf sinnvoll abgekürzt werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="zusatzangaben"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Zusatzangaben"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es sind Zusatzangaben zur Anschrift anzugeben. Beispiele: Hinterhaus, Gartenhaus. Bei Überschreitung einer Länge von 21 Zeichen darf sinnvoll abgekürzt werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="type.Melderegisterauskunft.DatenAnfrage">
      <xs:annotation>
         <xs:appinfo>
            <title>Datentyp für die Daten zur Anfrage für die einfache Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp sind die Daten zur Anfrage für die einfache Melderegisterauskunft zu übermitteln. Die Namensangaben sind verpflichtend, von den sonstigen Suchkriterien sind mindestens eine Anschrift, oder zwei der weiteren zulässigen Daten anzugeben. Die Angabe von Familienstand und Geschlecht ist gemeinsam in einer Suchanfrage nicht zulässig.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="name" type="xmeld:type.Melderegisterauskunft.Suchprofil.Name">
            <xs:annotation>
               <xs:documentation>Mit diesem Element müssen Informationen zum Namen der betroffenen Person übermittelt werden. Es sind mindestens der Vorname und der Familienname oder der frühere Name anzugeben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschrift"
                     minOccurs="0"
                     type="xmeld:type.Melderegisterauskunft.AnschriftMelderecht.Inland">
            <xs:annotation>
               <xs:documentation>Mit diesem Element können Daten zur Anschrift übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ordensname" minOccurs="0" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann der Ordensname übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kuenstlername" minOccurs="0" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann der Künstlername übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburtsdatum"
                     minOccurs="0"
                     type="xida:TeilbekanntesDatumMitUnbekannt">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann das Geburtsdatum übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburtsortUndStaat"
                     minOccurs="0"
                     type="xmeld:type.Melderegisterauskunft.GeburtOhneDatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element können Informationen zum Geburtsort und Geburtsstaat übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geschlechtOderFamilienstand"
                     minOccurs="0"
                     type="xmeld:type.Melderegisterauskunft.GeschlechtOderFamilienstand">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann entweder das Geschlecht oder der Familienstand der betroffenen Person übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="gesetzlicherVertreter.name"
                     minOccurs="0"
                     type="xmeld:type.GesetzlicherVertreter.Name">
            <xs:annotation>
               <xs:documentation>Mit diesem Element können Namen zum gesetzlichen Vertreter übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="einzugsdatum" minOccurs="0" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann das Einzugsdatum übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="auszugsdatum" minOccurs="0" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann das Auszugsdatum übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="familienstandBeginnUndOrt"
                     minOccurs="0"
                     type="xmeld:type.Melderegisterauskunft.FamilienstandNurBeginnUndOrt">
            <xs:annotation>
               <xs:documentation>Mit diesem Element können Informationen zur Eheschließung oder Begründung einer Lebenspartnerschaft übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="partner.name"
                     minOccurs="0"
                     type="xmeld:type.NameNatuerlichePerson.Partner">
            <xs:annotation>
               <xs:documentation>Mit diesem Element können Namen des Partners übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="sterbetag" minOccurs="0" type="xmeld:type.Sterbetag">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann das Sterbedatum übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="sterbeortUndStaat"
                     minOccurs="0"
                     type="xmeld:type.Melderegisterauskunft.TodOhneDatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element können Informationen zum Sterbeort und Staat übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="type.Melderegisterauskunft.Ergebnis">
      <xs:annotation>
         <xs:appinfo>
            <title>Datentyp für Darstellung des Ergebnisses der einfachen Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp wird das Ergebnis der einfachen Melderegisterauskunft mitgeteilt. Es kann entweder aus einer Rückweisung der Anfrage bestehen oder aus den Informationen zur durchgeführten Suche.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="ergebnis">
            <xs:annotation>
               <xs:documentation>Mit diesem Kindelement wird das Ergebnis der Anfrage mitgeteilt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ergebnisstatus"
                              type="xmeld:Code.Melderegisterauskunft.Ergebnisstatus">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Kindelement wird die Information, ob die gesuchte Person gefunden wurde, übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="zusatzinformation"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xmeld:Code.Melderegisterauskunft.Zusatzinformation">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Kindelement können zusätzliche Informationen übermittelt werden, die einen eher allgemeinen Ergebnisstatus konkretisieren. Ob (mittels Schlüsseltabelle genau definierte) Zusatzinformationen übermittelt werden, obliegt dem jeweiligen EWO-Verfahren.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="namen"
                              minOccurs="0"
                              type="xmeld:type.Melderegisterauskunft.Name">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Informationen zum Namen der betroffenen Person übermittelt, wenn eine Melderegisterauskunft gegeben werden kann. Im Falle einer neutralen Antwort ist dieses Element nicht zu befüllen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anschrift.aktuell"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xmeld:type.AnschriftMelderecht">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die aktuelle Anschrift der betroffenen Person übermittelt, wenn eine Melderegisterauskunft gegeben werden kann. Im Falle einer neutralen Antwort ist dieses Element nicht zu befüllen. Für die Übermittlung der Tatsache, dass für die Person keine derzeitige Anschrift verzeichnet ist, ist nur die Nutzung des Elementes anschrift.unbekannt/anschriftUnbekannt nicht aber die des Elementes anschrift.unbekannt/sachverhalt zulässig.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="rueckweisung"
                     type="xmeld:Code.Melderegisterauskunft.Nichterstellung.Grund">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird mitgeteilt, warum die Suchanfrage zurückgewiesen wird.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="type.Melderegisterauskunft.FamilienstandNurBeginnUndOrt">
      <xs:annotation>
         <xs:appinfo>
            <title>Informationen zum Familienstand einer Person im Rahmen der einfachen Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp werden Informationen zu Beginn und Ort der Eheschließung oder Begründung einer Lebenspartnerschaft im Rahmen der einfachen Melderegisterauskunft abgebildet.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="datumBeginn" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann das Datum der letzten Eheschließung oder der Begründung der letzten Lebenspartnerschaft übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ort.letzte.ehe.oder.lp" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Ort der Eheschließung oder Begründung der Lebenspartnerschaft übermittelt. Reichen 40 Stellen für die Angabe des Ortes nicht aus, ist der Ortsname sinnvoll zu kürzen. Ist der Ort der letzten Eheschließung oder Begründung der letzten Lebenspartnerschaft nicht zu ermitteln, so wird unbekannt angegeben. Falls vorhanden, kann hinter dem Ort der Kreis angegeben werden; in diesem Fall folgen auf den Ort ein Schrägstrich und die Bezeichnung des Kreises. Bei Überschreiten der Stellenzahl wird die Kreisangabe nicht gekürzt, sondern abgebrochen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ortstaat.letzte.ehe.oder.lp"
                     minOccurs="0"
                     type="xmeld:Code.Gebiet">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird bei Eheschließung oder Begründung der Partnerschaft im Ausland der Staat angegeben. Aus dieser Tabelle sind alle Staaten-Codes zugelassen (Spalte DESTATIS_Schluessel_Staat). Zusätzlich sind von den Gebiets-Codes (Spalte DESTATIS_Schluessel_Gebiet) die beiden Einträge zugelassen: Schlüssel 459 Palästinensische Gebiete und 465 Taiwan.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="datumBeginnVorausgegangeneLP"
                     minOccurs="0"
                     type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann das Datum der Begründung der bei der Eheschließung bereits bestehenden Lebenspartnerschaft übermittelt werden (siehe DSMeld-Blatt 1402a).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="type.Melderegisterauskunft.GeburtOhneDatum">
      <xs:annotation>
         <xs:appinfo>
            <title>Geburtsinformationen der Person ohne Angabe des Geburtsdatums</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp werden die Geburtsinformationen einer Person zum Geburtsort und Staat im Rahmen der einfachen Melderegisterauskunft abgebildet.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xmeld:type.Geburt">
            <xs:sequence>
               <xs:element name="geburtsort" type="xoev-lc:String.Latin">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element ist der Geburtsort der Person zu übermitteln.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geburtsortStaat" minOccurs="0" type="xmeld:Code.Gebiet">
                  <xs:annotation>
                     <xs:appinfo>
                        <implementationHint>Deutschland wird immer durch Weglassen dieses Elementes abgebildet.</implementationHint>
                     </xs:appinfo>
                     <xs:documentation>Mit diesem Element wird der Geburtsstaat der Person übermittelt.Eine Angabe in diesem Feld erfolgt nur bei nicht in der Bundesrepublik Deutschland geborenen Personen. In diesen Fällen ist das Staatsgebiet anzugeben, in dem der Einwohner geboren ist. Die Erfassung des Ersatzwertes 994 für von/nach See ist nicht zulässig.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="type.Melderegisterauskunft.GeschlechtOderFamilienstand">
      <xs:annotation>
         <xs:appinfo>
            <title>Informationen zum Geschlecht oder des Familienstands einer Person im Rahmen der einfachen Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp sind die Daten zur Anfrage für die einfache Melderegisterauskunft zum Familienstand oder zum Geschlecht zu übermitteln.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="geschlecht" type="xmeld:Code.Geschlecht">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann das Geschlecht der betroffenen Person übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="familienstand" type="xmeld:Code.Familienstand">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann der Familienstand der betroffenen Person übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="type.Melderegisterauskunft.Name">
      <xs:annotation>
         <xs:appinfo>
            <title>Datentyp zur Darstellung des Namens in der einfachen Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Dieser Datentyp dient der Übermittlung der Daten zum Namen für die einfache Melderegisterauskunft</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xmeld:type.NameNatuerlichePerson">
            <xs:sequence>
               <xs:element name="familienname" minOccurs="0" type="xmeld:type.Nachname">
                  <xs:annotation>
                     <xs:documentation>Der aktuelle Familienname. Familienname kann sein der Geburtsname, der gemeinsam bestimmte Ehename oder Lebenspartnerschaftsname, der Ehename oder der Lebenspartnerschaftsname zusammen mit dem hinzugefügten Begleitnamen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="familienname.unstrukturiert"
                           minOccurs="0"
                           type="xmeld:type.FamiliennameUnstrukturiert"/>
               <xs:element name="vornamen" minOccurs="0" type="xian:AllgemeinerName">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element werden die Vornamen der Person dargestellt. Alle Vornamen sind - durch Leerzeichen getrennt - im Kindelement name anzugeben; in der Reihenfolge, wie sie in einer deutschen Personenstandsurkunde eingetragen sind. Bei Ausländern ohne deutsche Personenstandsurkunde ist die Eintragung im Pass maßgebend. Das Kindelement name darf nur fehlen, wenn durch den Schalter nichtVorhanden angezeigt wird, dass ein Vorname zu Recht nicht vorhanden ist.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="rufname" minOccurs="0" type="xian:AllgemeinerName">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird der gebräuchliche Vorname der betroffenen Person übermittelt. Es sind alle zum gebräuchlichen Vornamen gehörenden Vornamen anzugeben, durch Leerzeichen getrennt. Sofern in einer XMeld-Nachricht die Übermittlung des gebräuchlichen Vornamens vorgesehen ist, soll dieser immer angegeben werden (und nicht nur dann, wenn sich der gebräuchliche Vorname vom ersten Vornamen unterscheidet).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="doktorgrad" minOccurs="0" type="xmeld:type.Doktorgrad">
                  <xs:annotation>
                     <xs:documentation>Es sind nur diejenigen Doktorgrade anzugeben, die in Pässe eingetragen werden dürfen. Sind mehrere Doktorgrade anzugeben, so sind sie durch ein Leerzeichen zu trennen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="type.Melderegisterauskunft.Steuerungsinformationen">
      <xs:annotation>
         <xs:appinfo>
            <title>Steuerungsinformationen zur Anforderung der einfachen Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp können Steuerungsinformationen zur Anforderung der einfachen Melderegisterauskunft übermittelt werden.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="option.auskunft"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xmeld:Code.Melderegisterauskunft.Optionen">
            <xs:annotation>
               <xs:documentation>Mit diesem Element können zusätzliche Optionen zur Nachbearbeitung einer Anfrage übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="wiederholanfrage"
                     minOccurs="0"
                     type="xmeld:type.wiederholanfrage">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird angegeben, ob es sich um eine wiederholte Anfrage handelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="steuerungsinformationAdressketten"
                     minOccurs="0"
                     type="xmeld:type.steuerungsinformationAdressketten">
            <xs:annotation>
               <xs:documentation>Wenn dieses Flag auf 'true gesetzt ist, wird der die auskunft_gebende_stelle beauftragt, im Rahmen der gemeindeübergreifenden Adressrecherche Adressketten zu verfolgen.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="type.Melderegisterauskunft.SteuerungsinformationenOhneAdressketten">
      <xs:annotation>
         <xs:appinfo>
            <title>Steuerungsinformationen zur Anforderung der einfachen Melderegisterauskunft ohne Informationen zu Adressketten</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp können Steuerungsinformationen zur Anforderung der einfachen Melderegisterauskunft ohne Informationen zu Adressketten übermittelt werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xmeld:type.Melderegisterauskunft.Steuerungsinformationen">
            <xs:sequence>
               <xs:element name="option.auskunft"
                           minOccurs="0"
                           maxOccurs="unbounded"
                           type="xmeld:Code.Melderegisterauskunft.Optionen">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element können zusätzliche Optionen zur Nachbearbeitung einer Anfrage übermittelt werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="wiederholanfrage"
                           minOccurs="0"
                           type="xmeld:type.wiederholanfrage">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird angegeben, ob es sich um eine wiederholte Anfrage handelt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="type.Melderegisterauskunft.Suchprofil.Name">
      <xs:annotation>
         <xs:appinfo>
            <title>Namensinformationen für das Suchprofil der Anforderung der einfachen Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp werden Namensinformationen zur Anforderung der einfachen Melderegisterauskunft mitgeteilt. Ist der anfragenden Person oder Stelle bekannt, dass die gesuchte Person zu Recht keinen Vornamen oder Nachnamen besitzt, kann dies beim entsprechenden Kindelement jeweils über das Flag nichtVorhanden mit dem Wert 'true' abgebildet werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xmeld:type.Suchprofil.Name">
            <xs:sequence>
               <xs:element name="nachname" type="xian:AllgemeinerName">
                  <xs:annotation>
                     <xs:documentation>Hier ist der Name wie dem Anfragen vorliegend einzutragen. Im Melderegister muss eine Suche in folgenden Einträgen erfolgen: Familienname (1. und 2. Periode) Ehename Lebenspartnerschaftsname Geburtsname Familienname vor Änderung</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="vornamen" type="xian:AllgemeinerName">
                  <xs:annotation>
                     <xs:documentation>Hier sind ein Vorname oder mehrere Vornamen einzutragen, wie sie dem Anfragen vorliegen. Im Melderegister muss eine Suche in folgenden Einträgen erfolgen:: Vornamen Vornamen vor Änderung</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="phonetik" minOccurs="0" fixed="true" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird übermittelt, dass die abrufende Stelle eine phonetische Namenssuche wünscht.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="type.Melderegisterauskunft.TodOhneDatum">
      <xs:annotation>
         <xs:appinfo>
            <title>Sterbedaten der Person ohne Angabe des Sterbetages</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp werden die Sterbeinformationen einer Person zum Sterbeort und Staat im Rahmen der einfachen Melderegisterauskunft abgebildet.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xmeld:type.Tod">
            <xs:sequence>
               <xs:element name="sterbeort" type="xoev-lc:String.Latin">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird der Sterbeort übermittelt. Nach Möglichkeit sollte nach Nr. A.2.1 der Allgemeinen Verwaltungsvorschrift zum Personenstandgesetz (PStG-VwV) in der jeweils gültigen Fassung verfahren werden. Ist der Sterbeort nicht feststellbar, so ist unbekannt anzugeben. Falls vorhanden, kann hinter dem Sterbeort der Kreis angegeben werden; in diesem Fall folgen auf den Sterbeort ein Schrägstrich und die Bezeichnung des Kreises. Bei Überschreiten der Stellenzahl wird die Kreisangabe nicht gekürzt, sondern abgebrochen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="sterbeortStaat" minOccurs="0" type="xmeld:Code.Gebiet">
                  <xs:annotation>
                     <xs:appinfo>
                        <implementationHint>Deutschland wird immer durch Weglassen dieses Elementes abgebildet.</implementationHint>
                     </xs:appinfo>
                     <xs:documentation>Mit diesem Element wird der Staat übermittelt, in dem die Person verstorben ist. Eine Angabe in diesem Feld erfolgt nur bei im Ausland verstorbenen Personen. In diesen Fällen ist der Staat anzugeben, in dem der Einwohner verstorben ist. Aus dieser Tabelle sind alle Staaten-Codes zugelassen (Spalte DESTATIS_Schluessel_Staat). Zusätzlich sind von den Gebiets-Codes (Spalte DESTATIS_Schluessel_Gebiet) die beiden Einträge zugelassen: Schlüssel 459 Palästinensische Gebiete und 465 Taiwan.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="type.melderegisterauskunfteinfach.dienstleister2kunde">
      <xs:annotation>
         <xs:appinfo>
            <title>Datenübermittlung von der Auskunft gebenden Stelle an die anfragende Person oder Stelle</title>
         </xs:appinfo>
         <xs:documentation>Im Zusammenhang mit der Einfachen Melderegisterauskunft wird eine Nachricht von der auskunft_gebenden_stelle an die anfragende Person oder Stelle gesendet.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xmeld:type.basisnachricht">
            <xs:sequence>
               <xs:element name="nachrichtenkopf"
                           type="xmeld:type.nachrichtenkopf.dienstleister2kunde">
                  <xs:annotation>
                     <xs:documentation>Allgemeine Angaben über diese Nachricht. (Welches Ereignis ist der Auslöser, wer ist der Autor, wer ist der Leser, wann wurde gesendet?)</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="type.melderegisterauskunfteinfach.kunde2dienstleister">
      <xs:annotation>
         <xs:appinfo>
            <title>Datenübermittlung von der anfragenden Person oder Stelle an die auskunft_gebende_stelle</title>
         </xs:appinfo>
         <xs:documentation>Im Zusammenhang mit der Einfachen Melderegisterauskunft wird eine Nachricht von der anfragenden Person oder Stelle an die auskunft_gebende_stelle gesendet.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xmeld:type.basisnachricht">
            <xs:sequence>
               <xs:element name="nachrichtenkopf"
                           type="xmeld:type.nachrichtenkopf.kunde2dienstleister">
                  <xs:annotation>
                     <xs:documentation>Allgemeine Angaben über diese Nachricht. (Welches Ereignis ist der Auslöser, wer ist der Autor, wer ist der Leser, wann wurde gesendet?)</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="type.steuerungsinformationAdressketten">
      <xs:annotation>
         <xs:appinfo>
            <title>Parameter für die Steuerung eines Suchprozesses</title>
         </xs:appinfo>
         <xs:documentation>Dieses Element enthält Merkmale, mit denen der Suchprozess gesteuert werden kann: Wenn eine Adresskettenverfolgung gewünscht ist, muss das Flag auf true gesetzt sein. Kostenobergrenze für diese Einzelanfrage in Eurocent</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="adresskettenverfolgung" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Wenn dieses Flag auf 'true' gesetzt ist, wird die auskunft_gebende_stelle beauftragt, im Rahmen der gemeindeübergreifenden Adressrecherche Adressketten zu verfolgen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kostenlimit" minOccurs="0" type="xs:unsignedLong">
            <xs:annotation>
               <xs:documentation>Es kann die Kostenobergrenze für diese Einzelanfrage festgelegt werden (Einheit: Eurocent).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anzahlZuDurchsuchenderMeldebehoerden"
                     minOccurs="0"
                     type="xs:nonNegativeInteger">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann angegeben werden, wie viele Meldebehörden bei der Adresskettenverfolgung berücksichtigt werden sollen.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="type.wiederholanfrage">
      <xs:annotation>
         <xs:appinfo>
            <title>Informationen zur Wiederholanfrage bei der einfachen Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp ist der Bezug auf eine frühere Anfrage möglich. Der Datentyp unterstützt die Erhebung abweichender Gebühren bei erneuten Anfragen mit geänderten Suchkriterien</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="auftragsnummer.alteanfrage"
                     minOccurs="0"
                     type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Dies ist die Auftragsnummer der (früheren) Antwort der auskunft_gebenden_stelle, auf die Bezug genommen werden soll.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="auftragspositionsnummer.alteanfrage"
                     minOccurs="0"
                     type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Zuordnungsmerkmal kann eine bestimmte Auftragsposition eines früheren Auftrages eindeutig identifiziert werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="melderegisterauskunfteinfach.anforderung.0600">
      <xs:annotation>
         <xs:appinfo>
            <title>Anfrage zur einfachen Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht kann eine Person oder andere Stelle zu einer oder mehreren Personen eine Anforderung einer einfachen Melderegisterauskunft stellen. Diese Nachricht wird versendet von der anfragenden Person oder Stelle im Rahmen des Anfrageverfahrens zu einfachen Melderegisterauskunft (Prozess siehe ).</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xmeld:type.datenuebermittlung.privat2b">
               <xs:sequence>
                  <xs:element name="zeichennachricht" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Die anfragende Stelle kann hier ihr Zuordnungsmerkmal für ihre Sammelanfrage eintragen (Aktenzeichen, Surrogat, Geschäftskennzeichen), damit auch bei asynchroner Bearbeitung die Antwort der Anfrage zugeordnet werden kann.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anwenderkennung" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem optionalen Element wird die Anwenderkennung der abrufenden Person mitgeteilt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="auskunft.anforderung" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="anfragedaten"
                                       type="xmeld:type.Melderegisterauskunft.Anfragedaten">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element werden die anfragedaten zur Anfrage mitgeteilt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="datenZurAnfrage"
                                       type="xmeld:type.Melderegisterauskunft.DatenAnfrage">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element sind die Daten zur Anfrage für die einfache Melderegisterauskunft zu übermitteln. Die Namensangaben sind verpflichtend, von den sonstigen Suchkriterien sind mindestens eine Anschrift, oder zwei der weiteren zulässigen Daten anzugeben. Die Angabe von Familienstand und Geschlecht ist gemeinsam in einer Suchanfrage nicht zulässig.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="steuerungsinformationen"
                                       minOccurs="0"
                                       type="xmeld:type.Melderegisterauskunft.SteuerungsinformationenOhneAdressketten">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element werden die Steuerungsinformationen zur Anfrage mitgeteilt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="technische.einzelidentifikation"
                                       type="xmeld:type.technische.einzelidentifikation"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="melderegisterauskunfteinfach.antwort.0601">
      <xs:annotation>
         <xs:appinfo>
            <title>Antwort zur einfachen Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht kann die auskunft_gebende_stelle zu einer oder mehreren Personen eine Antwort zur einfachen Melderegisterauskunft an eine anfragende Person oder Stelle senden. Diese Nachricht wird versendet von der auskunft_gebenden_stelle im Rahmen des Anfrageverfahrens zur einfachen Melderegisterauskunft (Prozess siehe ).</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xmeld:type.datenuebermittlung.b2privat">
               <xs:sequence>
                  <xs:element name="antwortstatus" type="xmeld:Code.Antwortstatus">
                     <xs:annotation>
                        <xs:documentation>Anhand der Belegung dieses Elementes kann festgestellt werden, ob die korrespondierende Anforderungsnachricht überhaupt bearbeitet worden ist. Im Falle der Nicht-Bearbeitung der Anforderungsnachricht ist anhand des übermittelten Wertes der Grund erkennbar.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="zeichennachricht" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Wenn die anfragende Stelle ein Zuordnungsmerkmal für ihre Sammelanfrage mitgeliefert hat, wird es in diesem Feld zurückgeliefert. Damit wird die Bearbeitung asynchroner Anfragen für die anfragende Person oder Stelle erleichtert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="auftragsnummer" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Meldebehörden, die Wiederholanfragen unterstützen, können mit diesem Feld die Nummer eines bearbeiteten Auftrags übermitteln. Sofern die anfragende Stelle im Rahmen einer Wiederholanfrage auf eine vorherige Antwort Bezug nehmen will, muss sie dieses Feld (zusammen mit dem entsprechenden Feld auftragspositionsnummer der Containerstruktur auskunft.antwort) referenzieren. Meldebehörden, die keine Wiederholanfragen unterstützen, brauchen dieses Feld nicht zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="auskunft.antwort" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Je angefragter Person wird genau eine Instanz dieses Elements geliefert. Wenn eine Auskunft nicht erteilt werden kann, wird ein entsprechender ergebnisstatus gesetzt (und nur das Suchprofil für diese nicht gefundene Person zurückgeliefert).</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="auftragspositionsnummer"
                                       minOccurs="0"
                                       type="xoev-lc:String.Latin">
                              <xs:annotation>
                                 <xs:documentation>Jede Auftragspositionsnummer innerhalb eines Auftrags korrespondiert zu einem Suchprofil innerhalb einer Sammelanfrage. Damit ist eine eineindeutige Abbildbarkeit zwischen Sammelanfragen/Suchprofilen und Aufträgen/Auftragspositionen möglich. Dieses Feld muss nur von denjenigen Meldebehörden übermittelt werden, die auch Wiederholanfragen unterstützen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="auskunft.angefordert">
                              <xs:annotation>
                                 <xs:documentation>Für die Identifikation bei Auskünften und Datenübermittlungen ist die gesuchte Person mit Vor- und Familiennamen sowie mindestens zwei weiteren der auf Grund von § 3 Abs. 1 bmg gespeicherten Daten zu qualifizieren. Diese Daten werden bei der Antwort der Meldebehörde wieder mit zurückgegeben. Zur Anschrift gehören mindestens der Gemeinde- und Straßenname.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="anfragedaten"
                                                type="xmeld:type.Melderegisterauskunft.Anfragedaten">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element werden die anfragedaten zur Anfrage mitgeteilt.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="datenZurAnfrage"
                                                type="xmeld:type.Melderegisterauskunft.DatenAnfrage">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element sind die Daten zur Anfrage für die einfache Melderegisterauskunft zu übermitteln. Die Namensangaben sind verpflichtend, von den sonstigen Suchkriterien sind mindestens eine Anschrift, oder zwei der weiteren zulässigen Daten anzugeben. Die Angabe von Familienstand und Geschlecht ist gemeinsam in einer Suchanfrage nicht zulässig.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="steuerungsinformationen"
                                                minOccurs="0"
                                                type="xmeld:type.Melderegisterauskunft.SteuerungsinformationenOhneAdressketten">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element werden die Steuerungsinformationen zur Anfrage mitgeteilt.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="technische.einzelidentifikation"
                                                type="xmeld:type.technische.einzelidentifikation"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="ergebnis"
                                       minOccurs="0"
                                       type="xmeld:type.Melderegisterauskunft.Ergebnis"/>
                           <xs:element name="steuerungsinformationen" minOccurs="0">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="anzahlderverbleibendenversuche"
                                                minOccurs="0"
                                                type="xs:unsignedLong">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element informiert die auskunft_gebende_stelle über die Anzahl der zu diesem Vorgang maximal noch möglichen Wiederholanfragen. Wenn eine auskunft_gebende_stelle keine oder keine weiteren Wiederholanfragen erlaubt, wird in diesem Feld 0 übermittelt.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="melderegisterauskunfteinfach.anforderunggemeindeuebergreifend.0602">
      <xs:annotation>
         <xs:appinfo>
            <title>Anfrage zur einfachen Melderegisterauskunft (gemeindeübergreifend)</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht kann eine Person oder andere Stelle zu einer oder mehreren Personen eine Anforderung einer gemeindeübergreifenden einfachen Melderegisterauskunft stellen. Diese Nachricht wird versendet von der anfragenden Person oder Stelle im Rahmen des Anfrageverfahrens zu einfachen Melderegisterauskunft (Prozess siehe ).</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xmeld:type.melderegisterauskunfteinfach.kunde2dienstleister">
               <xs:sequence>
                  <xs:element name="zeichennachricht" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Die anfragende Stelle kann hier ihr Zuordnungsmerkmal für die Sammelanfrage eintragen (Aktenzeichen, Surrogat, Geschäftskennzeichen), damit auch bei asynchroner Bearbeitung die Antwort der Anfrage zugeordnet werden kann.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anwenderkennung" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Pflichtelement wird die Anwenderkennung der abrufenden Person mitgeteilt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="auskunft.anforderung" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="anfragedaten"
                                       type="xmeld:type.Melderegisterauskunft.Anfragedaten">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element werden die anfragedaten zur Anfrage mitgeteilt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="datenZurAnfrage"
                                       type="xmeld:type.Melderegisterauskunft.DatenAnfrage">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element sind die Daten zur Anfrage für die einfache Melderegisterauskunft zu übermitteln. Die Namensangaben sind verpflichtend, von den sonstigen Suchkriterien sind mindestens eine Anschrift, oder zwei der weiteren zulässigen Daten anzugeben. Die Angabe von Familienstand und Geschlecht ist gemeinsam in einer Suchanfrage nicht zulässig.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="steuerungsinformationen"
                                       minOccurs="0"
                                       type="xmeld:type.Melderegisterauskunft.Steuerungsinformationen">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element werden die Steuerungsinformationen zur Anfrage mitgeteilt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="technische.einzelidentifikation"
                                       type="xmeld:type.technische.einzelidentifikation"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="melderegisterauskunfteinfach.quittunggemeindeuebergreifend.0603">
      <xs:annotation>
         <xs:appinfo>
            <title>Quittungsnachricht der gemeindeübergreifenden einfachen Melderegisterauskunft</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht kann die auskunft_gebende_stelle den Erhalt einer Anfrage einer anfragenden Person oder Stelle im Rahmen der senden einfachen Melderegisterauskunft quittieren.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xmeld:type.melderegisterauskunfteinfach.dienstleister2kunde">
               <xs:sequence>
                  <xs:element name="auftragsnummer" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit der Auftragsnummer wird auf Seiten auskunft_gebenden_stelle der Auftrag eindeutig identifiziert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="zeichennachricht" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Wenn die anfragende Stelle ein Zuordnungsmerkmal für ihre Sammelanfrage mitgeliefert hat, wird es in diesem Feld zurückgeliefert. Damit wird die Bearbeitung asynchroner Anfragen für die anfragende Person oder Stelle erleichtert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="melderegisterauskunfteinfach.antwortgemeindeuebergreifend.0604">
      <xs:annotation>
         <xs:appinfo>
            <title>Antwort zur einfachen Melderegisterauskunft (gemeindeübergreifend)</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht kann die auskunft_gebende_stelle zu einer oder mehreren Personen eine Antwort zur gemeindeübergreifenden einfachen Melderegisterauskunft an eine anfragende Person oder Stelle senden. Diese Nachricht wird versendet von der auskunft_gebenden_stelle im Rahmen des Anfrageverfahrens zu einfachen Melderegisterauskunft (Prozess siehe ).</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xmeld:type.melderegisterauskunfteinfach.dienstleister2kunde">
               <xs:sequence>
                  <xs:element name="antwortstatus" type="xmeld:Code.Antwortstatus">
                     <xs:annotation>
                        <xs:documentation>Anhand der Belegung dieses Elementes kann festgestellt werden, ob die korrespondierende Anforderungsnachricht überhaupt bearbeitet worden ist. Im Falle der Nicht-Bearbeitung der Anforderungsnachricht ist anhand des übermittelten Wertes der Grund erkennbar.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="zeichennachricht" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Wenn die anfragende Stelle ein Zuordnungsmerkmal für ihre Sammelanfrage mitgeliefert hat, wird es in diesem Feld zurückgeliefert. Damit wird die Bearbeitung asynchroner Anfragen für die anfragende Person oder Stelle erleichtert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="auftragsnummer" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit der Auftragsnummer wird auf Seiten der auskunft_gebenden_stelle der Auftrag eindeutig identifiziert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="melderegisterauskunfteinfach.bearbeitungsstand">
                     <xs:annotation>
                        <xs:documentation>Dieses Element beschreibt den Bearbeitungsstand der Gesamtanfrage. Für Details wird auf die Beschreibung der drei Kindelemente verwiesen.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="suchprofile.gesamt" type="xs:unsignedLong">
                              <xs:annotation>
                                 <xs:documentation>Gesamtzahl der Suchprofile in der Sammelanfrage.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="suchprofile.bearbeitet" type="xs:unsignedLong">
                              <xs:annotation>
                                 <xs:documentation>Anzahl der bisher insgesamt (inkl. dieser Teillieferung) bearbeiteten Suchprofile der Sammelanfrage.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="suchprofile.offen" type="xs:unsignedLong">
                              <xs:annotation>
                                 <xs:documentation>Anzahl der zu diesem Zeitpunkt noch nicht abschließend bearbeiteten Suchprofile der Sammelanfrage.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="auskunft.antwort" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="auftragspositionsnummer" type="xoev-lc:String.Latin">
                              <xs:annotation>
                                 <xs:documentation>Jede Auftragspositionsnummer innerhalb eines Auftrags korrespondiert zu einem Suchprofil innerhalb einer Sammelanfrage. Damit ist eine eineindeutige Abbildbarkeit zwischen Sammelanfragen/Suchprofilen und Aufträgen/Auftragspositionen möglich.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="auskunft.angefordert">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="anfragedaten"
                                                type="xmeld:type.Melderegisterauskunft.Anfragedaten">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element werden die anfragedaten zur Anfrage mitgeteilt.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="datenZurAnfrage"
                                                type="xmeld:type.Melderegisterauskunft.DatenAnfrage">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element sind die Daten zur Anfrage für die einfache Melderegisterauskunft zu übermitteln. Die Namensangaben sind verpflichtend, von den sonstigen Suchkriterien sind mindestens eine Anschrift, oder zwei der weiteren zulässigen Daten anzugeben. Die Angabe von Familienstand und Geschlecht ist gemeinsam in einer Suchanfrage nicht zulässig.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="steuerungsinformationen"
                                                minOccurs="0"
                                                type="xmeld:type.steuerungsinformationAdressketten">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element werden die Steuerungsinformationen zur Anfrage mitgeteilt.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="technische.einzelidentifikation"
                                                type="xmeld:type.technische.einzelidentifikation"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="ergebnisdaten" type="xmeld:type.Melderegisterauskunft.Ergebnis">
                              <xs:annotation>
                                 <xs:documentation>Es wird das Suchprofil, welches als Basis für diese Antwort verwendet wurde, zurückgeliefert.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="steuerungsinformationen" minOccurs="0">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="anzahlderverbleibendenversuche"
                                                minOccurs="0"
                                                type="xs:unsignedLong">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element informiert die auskunft_gebende_stelle über die Anzahl der zu diesem Vorgang maximal noch möglichen Wiederholanfragen. Wenn eine auskunft_gebende_stelle keine oder keine weiteren Wiederholanfragen erlaubt, wird in diesem Feld 0 übermittelt.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="kosteninformation"
                                       minOccurs="0"
                                       type="xmeld:type.Kosteninformation">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird die Kosteninformation für eine bearbeitete Anfrage übermittelt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
