src/main/resources/xsd/xkfz/Elementdefinitionen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:el="http://www.kba.de/elemente" xmlns:typ="http://www.kba.de/typen" targetNamespace="http://www.kba.de/elemente" version="5.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import schemaLocation="Typdefinitionen.xsd" namespace="http://www.kba.de/typen" />
  <xs:simpleType name="GeburtsortTyp">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Achsennummer">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99" />
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Adressierungszusaetze">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="21" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AktenzeichenAnfragendeStelle">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AktenzeichenDerAnfragendeStelle">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AktenzeichenSperrendeStelle">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="40" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AnhaengelastGebremst">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AnhaengelastUngebremst">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="9999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AnlassDerAusschreibung">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{2}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AnordnendeStelleFahrtenbuch">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="60" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AnordnungWiedervorfuehrpflicht">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="1|0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AnschriftnPA">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="96" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AntragPlausibel">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0,1]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AntragsID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9]{16}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AntragsNummer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9]{20}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Anwendernummer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{5}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AnzahlAchsen">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AnzahlAntriebsachsen">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AnzahlDerKennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="2" />
        <xs:minInclusive value="1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AnzahlSitzplaetze">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AnzahlStehplaetze">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AnzahlVorhalter">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ArtDerBremseCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[&#x7F;&#x80;-&#xA0;]]+ " />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ArtDerBremseName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ArtGenehmigung" type="typ:typ-ArtGenehmigung" />
  <xs:element name="ArtMassnahme">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="2" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ArtPositionEntgeltGebuehrCode">
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="ArtPositionEntgeltGebuehrName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="60" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ArtUntersuchungsstelleCode">
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="ArtUntersuchungsstelleName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AusstellungsdatumSIS">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31" />
        <xs:minInclusive value="1980-01-01" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AusstellungsortSIS">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="200" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BehoerdeDeMail">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BehoerdeEmail">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BehoerdeFax">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BehoerdeName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BehoerdeOrt">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="60" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BehoerdePostfach">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BehoerdePostleitzahl">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="10" />
        <xs:minLength value="1" />
        <xs:pattern value="[ 0-9A-Z\-]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BehoerdeStrasse">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="200" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BehoerdeTelefon">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BehoerdenKennung">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Z0-9]{3,5}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Beiblatt">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="2000" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BemerkungSuchvermerk">
    <xs:complexType />
  </xs:element>
  <xs:element name="BemerkungenAusnahmen">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="378" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BemerkungenREGINA">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="400" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BereifungAchse1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="25" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9A-Za-z\.,\-()*+/ ]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BereifungAchse2">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="25" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9A-Za-z\.,\-()*+/ ]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BereifungAchse3">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="25" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9A-Za-z\.,\-()*+/ ]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Berichtsnummer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Betrag">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2" />
        <xs:maxInclusive value="99999.99" />
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BetriebsnummerBAG">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="7" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9A-Za-z]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BetriebsnummerDemontagebetrieb">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Betriebsstunden">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="BetriebszeitraumBis" type="typ:typ-Monat" />
  <xs:element name="BetriebszeitraumVon" type="typ:typ-Monat" />
  <xs:element name="BreiteMax">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="9999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BreiteMin">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="9999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Bremsdruck">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2" />
        <xs:maxInclusive value="9999.99" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BundeslandCode">
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="BundeslandName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="60" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CodeMangelRueckruf">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumAblaufKennzeichenreservierung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="2012-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumAenderung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumAnordnungFahrtenbuch">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="2005-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumAusgabeExpress">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumAusstellung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumAusstellungZweitschrift">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="2005-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumDerAusschreibung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31" />
        <xs:minInclusive value="1980-01-01" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumEingangFehlenderVersicherungsschutz">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumEingangVeraeusserungsanzeige">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumEingangVersicherungsbestaetigung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumEinvernehmen">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1995-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumEmpfangsbevollmaechtigung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumEntstempelungKennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumEntstempelungWechselkennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="2012-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumErstzulassung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1880-01-01+01:00" />
        <xs:pattern value=".+\+\d\d:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumFahrtenbuchBis">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="2005-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumFahrtenbuchVon">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="2005-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumGenehmigung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumKennzeichenGueltigBis" type="typ:typ-DatumKennzeichenGueltigBis" />
  <xs:element name="DatumNachruestung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumNichtbestehenVersicherung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumRueckgabe">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumRueckgabeEinziehung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="2005-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumSicherstellungFahrzeug">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumStandortverlegung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumTat">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1990-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumUntersuchung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumUntersuchungUmweltvertraeglichkeit">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumVerarbeitungZFZR">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumVerfuegung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1960-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumVerfuegungsberechtigungBis">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumVerfuegungsberechtigungVon">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumVerlustDiebstahlStrafanzeigeSIS">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31" />
        <xs:minInclusive value="1980-01-01" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumVeroeffentlichung">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumVersicherungsbeginn">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumVersicherungsende">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumVerwertungsnachweis">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DatumZuteilungKennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:date">
        <xs:maxInclusive value="2099-12-31+01:00" />
        <xs:minInclusive value="1940-01-01+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DeMailAdresse">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="14" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Doktorgrad" type="typ:typ-Doktorgrad" />
  <xs:element name="Dokument1Ausland">
    <xs:simpleType>
      <xs:restriction base="typ:typ-DokumentAusland" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="Dokument1SIS">
    <xs:simpleType>
      <xs:restriction base="typ:typ-DokumentSIS" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="Dokument2Ausland">
    <xs:simpleType>
      <xs:restriction base="typ:typ-DokumentAusland" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="Dokument2SIS">
    <xs:simpleType>
      <xs:restriction base="typ:typ-DokumentSIS" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="DruckstuecknummerKennz" type="typ:typ-druckstuecknummer" />
  <xs:element name="DruckstuecknummerKennz1" type="typ:typ-druckstuecknummer" />
  <xs:element name="DruckstuecknummerKennz2" type="typ:typ-druckstuecknummer" />
  <xs:element name="DruckstuecknummerKennzWK" type="typ:typ-druckstuecknummer" />
  <xs:element name="DruckstuecknummerZB1" type="typ:typ-druckstuecknummer" />
  <xs:element name="EMailAdresse">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="3" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Einplanungssymbol">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9][1-9]|[1-9][0-9]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EntgelteGebuehren">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ErgebnisNachMaengelschleifeName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ErgebnisVorOderOhneMaengelschleifeName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Euronorm">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30" />
        <xs:minLength value="1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Fahrgeraeusch">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9]{1,2}[0-9A-Z]{0,1}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Fahrzeugidentifizierungsnummer" type="typ:typ-Fahrzeugidentifizierungsnummer" />
  <xs:element name="FamiliennameNachname" type="typ:typ-Nachname" />
  <xs:element name="FamiliennameNamensbestandteil" type="typ:typ-Namensbestandteil" />
  <xs:element name="FamiliennamenPA" type="typ:typ-FamiliennamenPA" />
  <xs:element name="Farbe">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="15" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Fax">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="FehlernummerPlausipruefung">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{5}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="FehlernummerUpdate">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{3}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Gebuehrenposition">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TatbestandGebuehr" type="typ:typ-TatbestandGebuehr" />
        <xs:element name="Gebuehr" type="typ:typ-Gebuehr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gebuehrensumme" type="typ:typ-Gebuehrensumme" />
  <xs:element name="GeburtsdatumnPA">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(18[8-9]\d|19\d\d|20\d\d|0000)(0[1-9]|1[012]|00)(0[1-9]|1\d|2\d|3[01]|00)" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="GeburtsnameNachname" type="typ:typ-Nachname" />
  <xs:element name="GeburtsnameNamensbestandteil" type="typ:typ-Namensbestandteil" />
  <xs:element name="Geburtsort" type="el:GeburtsortTyp" />
  <xs:element name="Gemeindeschluessel">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{8}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Genehmigungsnummer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="25" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9a-zA-Z\.,;\-`´()/:+&amp;&apos;* ]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="GenehmigungsnummerPMS">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="6" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9a-zA-Z]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Geschlecht" type="typ:typ-Geschlecht" />
  <xs:element name="GrundMassnahme">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="2" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Hausnummer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="4" />
        <xs:minLength value="1" />
        <xs:pattern value="\d*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="HerstellerKurzbezeichnung">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Hinweis">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Returncode" type="typ:typ-Returncode" />
        <xs:element name="Returntext" type="typ:typ-Returntext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HinweisAusstellung">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="HinweisAusstellungZweitschrift" type="xs:boolean" />
  <xs:element name="HinweisBeschraenkung" type="xs:boolean" />
  <xs:element name="HinweisRueckgabeEinziehung" type="typ:typ-HinweisRueckgabeEinziehungZulBeschTeil1" />
  <xs:element name="HinweisSicherungsuebereignung" type="xs:boolean" />
  <xs:element name="Hoechstgeschwindigkeit">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="HoeheMax">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="9999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="HoeheMin">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="9999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Hubraum">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="IdentifikationFahrzeugfamilie">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="IdentifikationZulassungsabschnitt">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="\d*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="IdentifizierungsnummerZFZREintrag">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="\d*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="IhrZeichen">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="40" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="InAKassenzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="4" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="InhaberKennzeichen30Abs6FZV">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="6" />
        <xs:minLength value="1" />
        <xs:pattern value="[A-Za-z0-9]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KennnummerPruefer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9A-Z]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Kennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9A-ZÄÖÜ][0-9A-ZÄÖÜ ][0-9A-ZÄÖÜ ][0-9A-Z ][0-9A-Z ][0-9A-Z ][0-9 ][0-9 ][0-9A-Z ]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KennzeichenBisher">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9A-ZÄÖÜ][0-9A-ZÄÖÜ ][0-9A-ZÄÖÜ ][0-9A-Z ][0-9A-Z ][0-9A-Z ][0-9 ][0-9 ][0-9A-Z ]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KennzeichenSIS">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KennzeichenVkz">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[1-9][0-9 ]{2}[A-PR-Z][A-PR-Z ]{2}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KennzeichenfuehrendeBehoerdeKreisschluessel">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{5}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KennzeichenfuehrendeBehoerdeZusatzziffer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{1}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Kilometerstand">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="9999999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KombinierterCO2Wert">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="9999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KontrollnummerSP">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Z]{2}-[0-9]-[0-9]{2}-[0-9]{4}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KontrollnummerUntersuchungUmweltvertraeglichkeit">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="15" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KorrektheitSicherheitscodes">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0,1]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KorrigierendeBehoerdeKreisschluessel">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d(5)" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="KorrigierendeBehoerdeZusatzziffer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d(1)" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Kuenstlername">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="45" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Laenderkennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="3" />
        <xs:minLength value="1" />
        <xs:pattern value="[A-Z]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LaengeMax">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LaengeMin">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="LandDerAusschreibung">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Za-z0-9 ()\-]{1,50}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Leistungsgewicht">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="4" />
        <xs:maxInclusive value="9.9999" />
        <xs:minExclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MasseFahrbereitMax">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="999999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MasseFahrbereitMin">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="999999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Meilenstand">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="9999999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MeldendeBehoerdeKreisschluessel">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{5}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MeldendeBehoerdeZusatzziffer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{1}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Meldungstyp">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="2" />
        <xs:minLength value="1" />
        <xs:pattern value="[EIM1-9]{1,2}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalAufhebungFahrtenbuch">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalAuskunftssperre" type="typ:typ-MerkmalAuskunftssperre" />
  <xs:element name="MerkmalAusserbetriebsetzung">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalBefreiungVersicherungspflicht">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalBestanden">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="1|0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalEinhaltungReferenzwerte">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="0|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalElektrokennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalFahrleistungUnplausibel">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalGruenesKennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalHUExpressVerfahren">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1|false|0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalInternetbasiert">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1|false|0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalKennzeichenart" type="typ:typ-MerkmalKennzeichenart-ZFZR" />
  <xs:element name="MerkmalMassnahmeZulassungsbehoerdeEingeleitet">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalMitteilungsart" type="typ:typ-MerkmalMitteilungsart" />
  <xs:element name="MerkmalOldtimerkennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalPlausibilitaetsabweichungFIN" type="typ:typ-MerkmalPlausibilitaetsabweichungFIN" />
  <xs:element name="MerkmalReservierungKennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="0|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalSicherstellungFahrzeug">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalSondererfassungNutzfahrzeuge">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalVerstossGegenKraftfahrzeugsteuer">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MerkmalVerwertungsnachweis" type="typ:typ-MerkmalVerwertungsnachweis" />
  <xs:element name="MerkmalWechselkennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="true|1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MessdrehzahlBeiKraftrad">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2" />
        <xs:maxInclusive value="99999.99" />
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MonatJahrDerErstzulassung">
    <xs:simpleType>
      <xs:restriction base="typ:typ-MonatJahr" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="Nachname">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="45" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NaechsteAbgasuntersuchung">
    <xs:simpleType>
      <xs:restriction base="typ:typ-MonatJahr" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="NaechsteHauptuntersuchung">
    <xs:simpleType>
      <xs:restriction base="typ:typ-MonatJahr" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="NaechsteSicherheitspruefung">
    <xs:simpleType>
      <xs:restriction base="typ:typ-MonatJahr" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="NameBehoerde">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NameBezeichnung">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="150" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NameJuristischePerson">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="150" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NameVereinigung">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="90" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NameZustaendigeBehoerde">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="60" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Namensbestandteil">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="45" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NennleistungKW">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="9999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NennleistungUmdrehung">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NummerFINBestaetigt">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{3}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NummerZulBeschTeil1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="18" />
        <xs:pattern value="[A-Z][0-9A-ZÄÖÜ\-/]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NummerZulBeschTeil1SIS">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NummerZulBeschTeil2">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9A-Z]*|ohne-ZF-|OHNEZBII" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NummerZulBeschTeil2SIS">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="NummerZulassungsbescheinigungREGINA">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Nutzlast">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="999999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Ordensname">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="45" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OrdensnamenPA">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="60" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Ort">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PlausipruefungAbweichungBestaetigt">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{5}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PositionDerBremseCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PositionDerBremseName">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Postfach">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="10" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Postleitzahl">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="10" />
        <xs:minLength value="1" />
        <xs:pattern value="[ 0-9A-Z\-]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PostleitzahlBatch">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="5" />
        <xs:minLength value="1" />
        <xs:pattern value="[ 0-9A-Z\-]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Pruefziffer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9a-km-zA-NP-Z+%#&amp;]{8}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PruefzifferFahrzeugidentifizierungsnummer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9X]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PruefzifferTypVarianteVersion">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9X]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PseudonymnPA">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="64" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Rauminhalt">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="1" />
        <xs:maxInclusive value="999.9" />
        <xs:minExclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RechenzentrumKennung">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{5}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ReferenzcodeAntragsteller">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ReservierungKennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0,1]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Reservierungsgebuehr" type="typ:typ-Gebuehr" />
  <xs:element name="RolleAntragsteller">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="1" />
        <xs:minLength value="1" />
        <xs:pattern value="[H|B]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RueckgabegrundRotesKennzeichen" type="typ:typ-RueckgabegrundRotesKennzeichen" />
  <xs:element name="SISFahrzeugidentifizierungsnummer" type="typ:typ-Fahrzeugidentifizierungsnummer" />
  <xs:element name="SISSchluesselHersteller" type="typ:typ-SchluesselHersteller" />
  <xs:element name="SISTextHersteller" type="typ:typ-TextHersteller" />
  <xs:element name="SISVorgangsnummer" type="typ:typ-Vorgangsnummer" />
  <xs:element name="Sachbearbeiterkennung">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchengenID" type="typ:typ-schengenID" />
  <xs:element name="SchluesselAufbau">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="10" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselBearbeitendeStelle">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Za-z0-9]{6}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselBeruf">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Z0-9]{3}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselEmissionsklasse">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="10" />
        <xs:minLength value="1" />
        <xs:pattern value="[A-Z0-9]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselFahrzeugklasse">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="10" />
        <xs:minLength value="2" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselGrundfarbe">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9X]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselHersteller" type="typ:typ-SchluesselHersteller" />
  <xs:element name="SchluesselKraftstoff">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{4}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselMangel">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="21" />
        <xs:minLength value="1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselSperrendeStelle">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Za-z0-9]{6}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselTyp">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Z0-9]{3}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselUntersuchungsort">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:pattern value="[0-9A-Z]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselVarianteVersion">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9A-Z]{3}|[0-9A-Z]{5}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselZweitfarbe">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{1}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselnummerUeberwachungsinstitutionOderZDKCode">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9]{4}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselnummerUeberwachungsinstitutionOderZDKName">
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="SchluesselnummerUntersuchungsstelle">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9]{4}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SicherheitscodeKennz" type="typ:typ-Sicherheitscode-Kennz" />
  <xs:element name="SicherheitscodeKennz1" type="typ:typ-Sicherheitscode-Kennz" />
  <xs:element name="SicherheitscodeKennz2" type="typ:typ-Sicherheitscode-Kennz" />
  <xs:element name="SicherheitscodeKennzWK" type="typ:typ-Sicherheitscode-Kennz" />
  <xs:element name="SicherheitscodeZB1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9a-zA-Z]{7}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SicherheitscodeZB2">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="B[0-9a-zA-Z]{10}[0-9X]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SicherheitscodesGemeinsamerKennzeichenteil">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="el:SicherheitscodeKennz1" />
        <xs:element ref="el:SicherheitscodeKennz2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sperrgrund" type="typ:typ-Sperrgrund" />
  <xs:element name="Staat" type="typ:typ-Staat" />
  <xs:element name="StaatREGINA">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Z]{1,3}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="StaatVerwertung">
    <xs:simpleType>
      <xs:restriction base="typ:typ-Staat" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="Standgeraeusch">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9]{1,2}[0-9A-Z]{0,1}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="StandgeraeuschUmdrehung">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SteuerEmissionsrelevanteDaten">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="15" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9A-Z, ]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Strasse">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="40" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Strasse100">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Strassenschluessel">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="10" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Stuetzlast">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TagDerGeburt">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(18[8-9]\d|19\d\d|20\d\d|0000)(0[1-9]|1[012]|00)(0[1-9]|1\d|2\d|3[01]|00)" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TechnischZulaessigeAchslastAchse1">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TechnischZulaessigeAchslastAchse2">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TechnischZulaessigeAchslastAchse3">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TechnischZulaessigeGesamtmasse">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="999999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Telefon">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextAufbau">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextBerechtigungBetriebFahrzeugTrotzVerkehrsverbot">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="150" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextEmissionsklasse">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextEmissionsklasseEGTypgenehmigung">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="25" />
        <xs:minLength value="1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextFahrzeugklasse">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextFahrzeugklasseSIS">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextFahrzeugmaengel">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="150" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextFahrzeugschaeden">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="150" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextFehlernummer" type="xs:string" />
  <xs:element name="TextHandelsbezeichnung">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="25" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextHersteller" type="typ:typ-TextHersteller" />
  <xs:element name="TextHerstellerSIS">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextHinweiseUebermittlungssperren">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="120" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextKraftstoff">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextMangel">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextMangelRueckruf">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="1000" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextMarke">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="25" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextMassnahme">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="150" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextMeldungstyp">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextSISVermerk">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextSonstigeHinweise">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="150" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextTyp">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="25" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextUntersuchungsort">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextVariante">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="25" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TextVersion">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="35" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="UpdateAbweichungBestaetigt">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{3}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="UrlZustaendigeBehoerde">
    <xs:simpleType>
      <xs:restriction base="typ:typ-urlBehoerde" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="VerantwortlichePerson">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="VerbleibKennzeichenREGINA" type="typ:typ-VerbleibKennzeichenREGINA" />
  <xs:element name="VerbleibZulBeschTeil2" type="typ:typ-VerbleibZulBeschTeil2" />
  <xs:element name="Verkehrsjahr">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(20\d\d|20\d\d)" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Versandart">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="2" />
        <xs:minLength value="1" />
        <xs:pattern value="[PDE]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Versicherungsbestaetigungsnummer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Versicherungsscheinnummer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="25" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Versicherungsunternehmensnummer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{3,4}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Versionsnummer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="002" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="VersionsnummerBatchAnfrage">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="002" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="VersionsnummerMangelbaum">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="15" />
        <xs:pattern value="[\d]*.[\d]*.[\d]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="VersionsnummerSIS">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="001" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="VerwendungFahrzeug" type="typ:typ-VerwendungFahrzeug" />
  <xs:element name="VollstaendigkeitVeraeusserungsanzeige" type="typ:typ-VollstaendigkeitVeraeusserungsanzeige" />
  <xs:element name="VordrucknummerZB1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="9" />
        <xs:pattern value="[0-9]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Vorgangsart" type="typ:typ-Vorgangsart" />
  <xs:element name="Vorgangsjahr" type="typ:typ-Vorgangsjahr" />
  <xs:element name="Vorgangsnummer" type="typ:typ-Vorgangsnummer" />
  <xs:element name="VorgangsnummerSis">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="15" />
        <xs:minLength value="1" />
        <xs:pattern value="[0-9A-Z]*" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Vorname" type="typ:typ-Vorname" />
  <xs:element name="VornamennPA" type="typ:typ-VornamenPA" />
  <xs:element name="WeiterverwendungWechselkennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0,1]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Wohnort">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="40" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Zahlungsart">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Zahlungsstatus">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="4" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Zeilennummer">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="999999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktAenderung">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktAnfrage">
    <xs:simpleType>
      <xs:restriction base="typ:typ-ZeitpunktAnfrage" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktAusserbetriebsetzung">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktAusstellungIntZulSchein">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1995-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktBearbeitungTU">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktBereitstellung">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktDerMaengelbehebung">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktKbaBearbeitung">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktKorrekturStempelplaketten">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktKorrekturZB1">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktMassnahme">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1990-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktQuittierung">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktStornierung">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktUebermittlung">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="2014-12-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktUntersuchung">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktVeraeusserungsanzeige">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktVerarbeitung">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktVerarbeitungZFZR">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktZuteilungGruenesKennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZeitpunktZuteilungKennzeichen">
    <xs:simpleType>
      <xs:restriction base="xs:dateTime">
        <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
        <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
        <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZulBeschTeil2Bestaetigt">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{3}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZulaessigeAchslastAchse1">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZulaessigeAchslastAchse2">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZulaessigeAchslastAchse3">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZulaessigeGesamtmasse">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="999999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZulassungsbehoerdeWappen">
    <xs:simpleType>
      <xs:restriction base="xs:base64Binary" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="Zulassungsstaat">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Za-z0-9 ()\-]{1,50}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZustaendigeBehoerdeKreisschluessel">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{5}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZustaendigeBehoerdeZusatzziffer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{1}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ZweckDerAusschreibung">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{2}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="abweichungsfaktorNedc">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="5" />
        <xs:maxInclusive value="99.99999" />
        <xs:minInclusive value="-99.99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="co2EinsparungNedc">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2" />
        <xs:maxInclusive value="999.99" />
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="co2EinsparungWltp">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2" />
        <xs:maxInclusive value="999.99" />
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="codeDerOekoinnovationen">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="120" />
        <xs:minLength value="1" />
        <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="elektrischerEnergieverbrauchWltp">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2" />
        <xs:maxInclusive value="99999.99" />
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="kombinierterCo2WertWltp">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="9999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="radstand">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="99999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="spurweiteAchse1">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="9999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="spurweiteAchse2">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="9999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ueberpruefungsfaktorNedc" type="typ:typ-ueberpruefungsfaktorNedc" />
  <xs:element name="wltpTestmasse">
    <xs:simpleType>
      <xs:restriction base="xs:nonNegativeInteger">
        <xs:maxInclusive value="999999" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>

