src/main/resources/xsd/xkfz/Typdefinitionen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.kba.de/typen" targetNamespace="http://www.kba.de/typen" version="5.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:simpleType name="typ-Adressierungszusaetze">
    <xs:restriction base="xs:string">
      <xs:maxLength value="21" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Adresszeile">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-AmtlichesKennzeichen">
    <xs:restriction base="xs:string">
      <xs:maxLength value="9" />
      <xs:minLength value="9" />
      <xs:pattern value="[0-9A-ZÄÖÜ ]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-AnfrageArt">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="BD">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>BD</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>BD</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BO">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>BO</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>BO</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BT">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>BT</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>BT</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>V</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>V</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VV">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>VV</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>VV</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-AnfrageNummer">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
      <xs:minLength value="1" />
      <xs:pattern value="[0-9A-Z]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-AnfrageZweck">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>0</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>0</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>3</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>3</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>4</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>4</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>5</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>5</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>6</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>6</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>7</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>7</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="8">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>8</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>8</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="9">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>9</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>9</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>A</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>A</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="C">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>C</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>C</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="D">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>D</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>D</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="E">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>E</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>E</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>F</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>F</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="G">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>G</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>G</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="H">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>H</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>H</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="I">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>I</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>I</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="J">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>J</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>J</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="K">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>K</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>K</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="L">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>L</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>L</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>M</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>M</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>N</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>N</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="O">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>O</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>O</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="P">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>P</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>P</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Q">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>Q</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>Q</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="R">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>R</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>R</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>S</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>S</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="T">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>T</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>T</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>U</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>U</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>V</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>V</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="W">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>W</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>W</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>X</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>X</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Y">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>Y</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>Y</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>Z</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>Z</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-AnfrageZweckCBEHDA">
    <xs:restriction base="xs:string">
      <xs:enumeration value="B1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B10">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B10</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B10</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B11">
        <xs:annotation>
          <xs:documentation>B11</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B3">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B3</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B3</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B4">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B4</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B4</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B5">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B5</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B5</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B6">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B6</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B6</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B7">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B7</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B7</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B8">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B8</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B8</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B9">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B9</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B9</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-AntragsID">
    <xs:restriction base="xs:string">
      <xs:pattern value="(20\d\d)(0[1-9]|1[012])(0[1-9]|1\d|2\d|3[01])([0-9]{8})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Arbeitsgang-ABLAG">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>3</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>3</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>4</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>4</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>6</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>6</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>7</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>7</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7P">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>7P</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>7P</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AL">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>AL</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>AL</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AU">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>AU</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>AU</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>M</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>M</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>S</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>S</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ST">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>ST</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>ST</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>Z</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>Z</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Arbeitsgang-SENDV">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>0</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>0</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>3</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>3</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>4</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>4</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>6</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>6</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AG">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>AG</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>AG</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>F</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>F</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>N</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>N</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SM">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>SM</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>SM</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="T">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>T</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>T</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WK">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>WK</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>WK</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XC">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>XC</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>XC</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XV">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>XV</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>XV</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Arbeitsgang-ZFZR">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>0</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>0</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>3</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>3</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>4</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>4</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>6</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>6</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>7</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>7</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7E">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>7E</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>7E</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7P">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>7P</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>7P</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7X">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>7X</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>7X</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AG">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>AG</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>AG</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AV">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>AV</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>AV</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>F</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>F</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="J">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>J</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>J</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="K">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>K</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>K</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>N</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>N</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="P">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>P</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>P</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="R">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>R</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>R</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RK">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>RK</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>RK</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SM">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>SM</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>SM</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="T">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>T</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>T</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>U</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>U</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>V</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>V</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WK">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>WK</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>WK</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XC">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>XC</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>XC</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="XV">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>XV</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>XV</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-ArtDerUntersuchung">
    <xs:restriction base="xs:string">
      <xs:pattern value="HU|SP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-ArtGenehmigung">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>A</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>A</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="E">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>E</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>E</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="K">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>K</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>K</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>Z</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>Z</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Auftraggeber">
    <xs:restriction base="xs:string">
      <xs:maxLength value="11" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Auskunftsform">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
      <xs:minLength value="1" />
      <xs:pattern value="[0-9A-Z]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Batch-Steuerelement">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BD">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>BD</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>BD</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BK">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>BK</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>BK</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BO">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>BO</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>BO</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BR">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>BR</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>BR</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-BehoerdeKreisschluessel">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-BehoerdeZusatzziffer">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-BemerkungSuchvermerk">
    <xs:restriction base="xs:string">
      <xs:maxLength value="400" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Bremskraft">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
      <xs:maxInclusive value="99999.99" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Datum">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:simpleType name="typ-DatumKennzeichenGueltigBis">
    <xs:restriction base="xs:date">
      <xs:maxInclusive value="9999-12-31+01:00" />
      <xs:minInclusive value="1940-01-01+01:00" />
      <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Doktorgrad">
    <xs:restriction base="xs:string">
      <xs:maxLength value="25" />
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z\.() ]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-DokumentAusland">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-DokumentSIS">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Einplanung">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9][1-9]|[1-9][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-EntscheidungZuteilungPruefplakettePruefmarke">
    <xs:restriction base="xs:boolean">
      <xs:pattern value="0|1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-ErgebnisHUSP">
    <xs:restriction base="xs:string">
      <xs:pattern value="OM|GM|EM|VU|FM|UV|VM|HW" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-FAQ-Antwort">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1000" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}&#8222;&#8220;-[&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-FAQ-Frage">
    <xs:restriction base="xs:string">
      <xs:maxLength value="200" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-FAQ-Kategorie">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Fahrzeugidentifizierungsnummer">
    <xs:restriction base="xs:string">
      <xs:maxLength value="25" />
      <xs:minLength value="1" />
      <xs:pattern value="[0-9A-Z]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Familienname">
    <xs:restriction base="xs:string">
      <xs:maxLength value="150" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-FamiliennamenPA">
    <xs:restriction base="xs:string">
      <xs:maxLength value="120" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Fehlercode">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
      <xs:minLength value="1" />
      <xs:pattern value="[0-9A-Z]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Gebuehr">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
      <xs:maxInclusive value="9999999.99" />
      <xs:minInclusive value="0.00" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Gebuehrensumme">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
      <xs:maxInclusive value="9999999.99" />
      <xs:minInclusive value="0.00" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Gemeindeschluessel">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-GemeindeschluesselAuskunft">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{1,8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Geschlecht">
    <xs:restriction base="xs:string">
      <xs:enumeration value="d">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>d</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>d</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="m">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>m</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>m</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="w">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>w</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>w</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="x">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>x</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>x</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Hausnummer">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4" />
      <xs:minLength value="1" />
      <xs:pattern value="\d*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Hinweis">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-HinweisRueckgabeEinziehungZulBeschTeil1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>E</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>E</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="R">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>R</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>R</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>V</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>V</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Y">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>Y</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>Y</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>Z</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>Z</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-InformationVerarbeitungFehlersatz">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>N</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>N</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>V</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>V</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Jahr">
    <xs:restriction base="xs:string">
      <xs:pattern value="(19\d\d|20\d\d)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Kennzeichen">
    <xs:restriction base="xs:string">
      <xs:maxLength value="9" />
      <xs:minLength value="6" />
      <xs:pattern value="[0-9A-ZÄÖÜ ]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-KennzeichenBka">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-ZÄÖÜ][0-9A-ZÄÖÜ ][0-9A-ZÄÖÜ ][0-9A-Z ][0-9A-Z ][0-9A-Z ][0-9 ][0-9 ][0-9A-Z]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-KennzeichenHUSP">
    <xs:restriction base="xs:string">
      <xs:maxLength value="9" />
      <xs:pattern value="[0-9A-ZÄÖÜ ]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalAblageBkaMitteilung">
    <xs:restriction base="xs:string">
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>4</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>4</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalAusgabe">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalAuskunftssperre">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>0</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>0</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalBearbeitung">
    <xs:restriction base="xs:string">
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>F</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>F</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="H">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>H</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>H</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>S</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>S</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="T">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>T</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>T</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalDiebstahl">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>0</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>0</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>3</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>3</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalKennzeichenart-ZFZR">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>A</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>A</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BS">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>BS</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>BS</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="R">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>R</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>R</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RK">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>RK</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>RK</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>V</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>V</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VR">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>VR</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>VR</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Z">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>Z</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>Z</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ZS">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>ZS</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>ZS</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalKennzeichenfarbe">
    <xs:restriction base="xs:string">
      <xs:enumeration value="00">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>00</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>00</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="01">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>01</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>01</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="02">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>02</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>02</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="03">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>03</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>03</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalMitteilungsart">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>0</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>0</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>3</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>3</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>4</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>4</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>5</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>5</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalPlausibilitaetsabweichungFIN">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalStornierung">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ST">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>ST</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>ST</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalVerwertungsnachweis">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>0</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>0</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalVerwertungsnachweisIKfz">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalVorgangErledigt">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalVorpruefungVerarbeitung">
    <xs:restriction base="xs:string">
      <xs:enumeration value="P">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>P</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>P</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>V</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>V</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalZustand">
    <xs:restriction base="xs:string">
      <xs:enumeration value=" ">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte />
          </xs:appinfo>
          <xs:documentation />
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>A</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>A</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="E">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>E</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>E</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="G">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>G</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>G</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>N</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>N</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MerkmalZustandRegister">
    <xs:restriction base="xs:string">
      <xs:enumeration value=" ">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte />
          </xs:appinfo>
          <xs:documentation />
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>0</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>0</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>3</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>3</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>F</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>F</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="L">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>L</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>L</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>N</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>N</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Monat">
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-MonatJahr">
    <xs:restriction base="xs:string">
      <xs:pattern value="((0[1-9]|1[012])(19\d\d|20\d\d))" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Nachname">
    <xs:restriction base="xs:string">
      <xs:maxLength value="45" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Namensbestandteil">
    <xs:restriction base="xs:string">
      <xs:maxLength value="45" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-NummerZulBeschTeil1SV">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
      <xs:pattern value="[0-9A-ZÄÖÜ\-/]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Postleitzahl">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
      <xs:minLength value="5" />
      <xs:pattern value="[0-9]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Postleitzahl08">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
      <xs:minLength value="1" />
      <xs:pattern value="[0-9A-Z]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Returncode">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Returntext">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-RolleKommunikationspartner">
    <xs:restriction base="xs:string">
      <xs:maxLength value="7" />
      <xs:minLength value="7" />
      <xs:pattern value="[GZ][0-9]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-RueckgabegrundRotesKennzeichen">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Satznummer">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-SatznummerBAG">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-SchluesselHersteller">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Sicherheitscode-Kennz">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Sperrgrund">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>0</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>0</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>3</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>3</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>6</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>6</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>7</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>7</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="8">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>8</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>8</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="9">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>9</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>9</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Staat">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:minLength value="1" />
      <xs:pattern value="[A-Z]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-StandgeraeuschBeiKraftrad">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
      <xs:maxInclusive value="99999.99" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Stbanummer">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Steuerelement">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Steuerelement-Intern">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="WA">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>WA</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>WA</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WD">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>WD</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>WD</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WL">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>WL</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>WL</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WU">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>WU</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>WU</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Strasse">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-SuchzeitraumDatum">
    <xs:restriction base="xs:dateTime">
      <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
      <xs:minInclusive value="1940-01-01T00:00:00+01:00" />
      <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-TatbestandGebuehr">
    <xs:restriction base="xs:string">
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-TeilKennzeichen">
    <xs:restriction base="xs:string">
      <xs:maxLength value="9" />
      <xs:minLength value="6" />
      <xs:pattern value="[?0-9A-ZÄÖÜ ]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-TextFarbe">
    <xs:restriction base="xs:string">
      <xs:maxLength value="12" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-TextGebuehrtatbestand">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-TextHersteller">
    <xs:restriction base="xs:string">
      <xs:maxLength value="25" />
      <xs:minLength value="1" />
      <xs:pattern value="[a-zA-Z0-9A-Z&#x00c4;&#x00e4;&#x00d6;&#x00f6;&#x00dc;&#x00fc;][\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-TextStba">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-TypDerUntersuchung">
    <xs:restriction base="xs:string">
      <xs:pattern value="1|2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Unterscheidungszeichen">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
      <xs:minLength value="1" />
      <xs:pattern value="[A-ZÄÖÜ]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-VerbleibKennzeichenREGINA">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>3</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>3</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>4</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="99">
        <xs:annotation>
          <xs:documentation>99</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-VerbleibZulBeschTeil2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>3</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>3</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="6">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>6</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>6</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="7">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>7</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>7</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="9">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>9</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>9</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:documentation>A</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>F</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>F</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>U</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>U</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-VersandartBeauftragter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>E</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>E</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-VersandartHalter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="D">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>D</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>D</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="P">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>P</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>P</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Versicherungskennzeichen">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
      <xs:minLength value="6" />
      <xs:pattern value="[0-9A-ZÄÖÜ ]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-VerwendungFahrzeug">
    <xs:restriction base="xs:string">
      <xs:enumeration value="B">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="C">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>C</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>C</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="D">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>D</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>D</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="E">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>E</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>E</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>F</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>F</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="G">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>G</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>G</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="K">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>K</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>K</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="L">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>L</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>L</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>M</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>M</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>S</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>S</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="T">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>T</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>T</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>X</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>X</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-VollstaendigkeitVeraeusserungsanzeige">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>2</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Vorgangsart">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>A</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>A</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>B</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>B</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="D">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>D</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>D</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="E">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>E</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>E</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>F</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>F</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="G">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>G</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>G</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="H">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>H</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>H</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="J">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>J</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>J</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>V</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>V</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Vorgangsjahr">
    <xs:restriction base="xs:string">
      <xs:pattern value="(19\d\d|20\d\d)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Vorgangsnummer">
    <xs:restriction base="xs:string">
      <xs:maxLength value="15" />
      <xs:minLength value="1" />
      <xs:pattern value="[0-9G]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Vorname">
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-VornamenPA">
    <xs:restriction base="xs:string">
      <xs:maxLength value="80" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-Wohnort">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}\p{IsLatinExtendedAdditional}-[\t\r\n&#x7F;&#x80;-&#xA0;\p{IsLatinExtendedAdditional}-[&#x1e9e;]]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-ZeitpunktAnfrage">
    <xs:restriction base="xs:dateTime">
      <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
      <xs:minInclusive value="2015-01-01T00:00:00+01:00" />
      <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-ZeitpunktErteilungAuskunft">
    <xs:restriction base="xs:dateTime">
      <xs:maxInclusive value="2099-12-31T23:59:59.999+01:00" />
      <xs:minInclusive value="2007-01-01T00:00:00+01:00" />
      <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-ZusatzHausnummer">
    <xs:restriction base="xs:string">
      <xs:maxLength value="15" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-ZusatzHausnummerErwerber">
    <xs:restriction base="xs:string">
      <xs:maxLength value="21" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-druckstuecknummer">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-schengenID">
    <xs:restriction base="xs:string">
      <xs:maxLength value="31" />
      <xs:minLength value="1" />
      <xs:pattern value="[A-Z0-9.]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-ueberpruefungsfaktorNedc">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>2</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>0</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:appinfo>
            <wertErsteBeschreibungsspalte>1</wertErsteBeschreibungsspalte>
          </xs:appinfo>
          <xs:documentation>1</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typ-urlBehoerde">
    <xs:restriction base="xs:string">
      <xs:maxLength value="200" />
      <xs:minLength value="1" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

