src/main/resources/xsd/xkfz/xkfz-basisdatentypen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xkfz="http://www.xoev.de/schemata/xkfz/5" xmlns:typ="http://www.kba.de/typen" xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes" targetNamespace="http://www.xoev.de/schemata/xkfz/5" version="5.3" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>Unter den XKfz-Basisdatentypen (Schema xkfz-basisdatentypen.xsd) versteht man die Sammlung von technischen Datentypen, die im Rahmen des Informationsmodells von XKfz verwendet werden.</xs:documentation>
    <xs:appinfo>
      <standard>
        <nameLang>XKfz</nameLang>
        <nameKurz>XKfz</nameKurz>
        <nameTechnisch>xkfz</nameTechnisch>
        <kennung>urn:xoev-de:kba:standard:xkfz</kennung>
        <beschreibung>Der XKfz-Standard beschreibt den Rahmen für alle Kommunikationsstrukturen im Fahrzeug-Zulassungswesen, die nicht Bestandteil der vom Kraftfahrt-Bundesamt definierten „Standards für die Datenübermittlung an das Kraftfahrt-Bundesamt“ (SDÜ) sind.</beschreibung>
      </standard>
      <versionStandard>
        <version>5.3</version>
        <versionXOEVHandbuch>2.1.0</versionXOEVHandbuch>
        <versionXGenerator>2.6.1</versionXGenerator>
        <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
        <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
      </versionStandard>
    </xs:appinfo>
  </xs:annotation>
  <xs:import schemaLocation="Typdefinitionen.xsd" namespace="http://www.kba.de/typen" />
  <xs:import schemaLocation="latinchars.xsd" namespace="http://xoev.de/latinchars/1_1/datatypes" />
  <xs:simpleType name="Type.Achsennummer">
    <xs:annotation>
      <xs:documentation>Nummer der Fahrzeugachse gezäht ab der vordersten Achse.
Beispiel Pkw (mit 2 Achsen):
1 = Achse vorn (1. Achse) 
2 = Achse hinten (2. Achse)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="99" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Anhaengerzuschlag">
    <xs:annotation>
      <xs:documentation>Dieses Element nimmt den Wert für einen im Rahmen der Erfassung von Steuerdaten ggf. erforderlichen Anhängerzuschlag auf.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.Nummer">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.AnzahlDerDatensaetze">
    <xs:annotation>
      <xs:documentation>Der Datensatzzähler wird im Rahmen von Listen etc. verwendet, um die Anzahl der in einer Liste enthaltenen oder im Rahmen einer Nachricht übermittelten Datensätze anzugeben.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger" />
  </xs:simpleType>
  <xs:simpleType name="Type.BIC">
    <xs:annotation>
      <xs:documentation>BIC (Business Identifier Code / Geschäftskennzeichen),  kann im Rahmen von Zahlungs- oder Steuerinformationen verwendet werden</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.AlphaNum">
      <xs:pattern value="[A-Z]{6,6}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Bankleitzahl">
    <xs:annotation>
      <xs:documentation>deutsche Bankleitzahl, kann im Rahmen von Zahlungs- oder Steuerinformationen verwendet werden</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.Nummer">
      <xs:maxLength value="8" />
      <xs:minLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.BehoerdeNebenstelle">
    <xs:annotation>
      <xs:documentation>Nebenstellennummer der Zulassungsbehörde entsprechend der Schlüsseltabelle 3  (STBA-Nummern)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.Nummer">
      <xs:pattern value="[1]?[0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.BetragGebuehr">
    <xs:annotation>
      <xs:documentation>Betrag einer Gebühr, kann für Gebührenaufstellungen, Rechnungen etc. verwendet werden</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.BetriebszeitStunden">
    <xs:annotation>
      <xs:documentation>Type zur übermittlung von Betriebsstungen gerundet auf volle Stunden.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="9000000" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Bremsdruck">
    <xs:annotation>
      <xs:documentation>Datentyp zur Übermittlung einer Angabe zum Bremsdruck (in bar).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:maxInclusive value="9999.99" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Bremskraft">
    <xs:annotation>
      <xs:documentation>Datentyp zur Übermittlung einer Angabe zur Bremskraft (in Dekanewton).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:maxInclusive value="99999.99" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.DOLSicherheitscode">
    <xs:annotation>
      <xs:documentation>Sicherheitscode für Siegel, Basisdatentyp mit der Festlegung des Zeichenvorrats für die Spezifikation von Sicherheitscodes in XKfz</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.AlphaNum" />
  </xs:simpleType>
  <xs:simpleType name="Type.DOLSicherheitscode3">
    <xs:annotation>
      <xs:documentation>Sicherheitscode für Kennzeichensiegel, Aufbau siehe Anhang D der XKfz-Spezifikation, ab</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.DOLSicherheitscode">
      <xs:maxLength value="3" />
      <xs:minLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.DOLSicherheitscode7">
    <xs:annotation>
      <xs:documentation>Sicherheitcode für die Zulassungsbescheinigung Teil I, Aufbau siehe Anhang D der XKfz-Spezifikation, ab</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.DOLSicherheitscode">
      <xs:maxLength value="7" />
      <xs:minLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Datum">
    <xs:annotation>
      <xs:documentation>Datum, dass auf den Zeitraum zwischen dem 01.01.1940 und dem 31.12.2099 begrenzt ist.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date">
      <xs:maxInclusive value="2099-12-31+01:00" />
      <xs:minInclusive value="1940-01-01+01:00" />
      <xs:pattern value=".+\+02:00|.+\+01:00|.+\+00:00|.+Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Druckstuecknummer">
    <xs:annotation>
      <xs:documentation>Druckstücknummer, wird in Referenzdateien der Konfektionierer für die Angabe der Nummer eines Druckstücks (Siegel, Zulassungsbescheinigung etc.) verwendet, Aufbau siehe Anhang D der XKfz-Spezifikation, ab</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.AlphaNum">
      <xs:pattern value="([A-Z][A-Z0-9]{6}[0-9X])|UNBELEGT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.DruckstuecknummerAufkleberZB2">
    <xs:annotation>
      <xs:documentation>10-stellige Druckstücknummer des Aufklebers auf einer Zulassungsbescheinigung Teil II, Aufbau siehe Anhang D der XKfz-Spezifikation, ab</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.AlphaNum">
      <xs:maxLength value="10" />
      <xs:minLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Fahrzeugidentifizierungsnummer17">
    <xs:annotation>
      <xs:documentation>bis zu 17-stellige Fahrgestellnummer eines Fahrzeugs (gemäß KBA-Definition)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="typ:typ-Fahrzeugidentifizierungsnummer">
      <xs:maxLength value="17" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Freitext">
    <xs:annotation>
      <xs:documentation>allgemeines Freitextfeld, Basisdatentyp mit der Festlegung des Zeichenvorrats für die Spezifikation von Freitexten in XKfz</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xoev-lc:String.Latin">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Freitext100">
    <xs:annotation>
      <xs:documentation>allgemeiner Freitext, 100 Zeichen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="100" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Freitext15">
    <xs:annotation>
      <xs:documentation>allgemeiner Freitext, 15 Zeichen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Freitext2000">
    <xs:annotation>
      <xs:documentation>allgemeiner Freitext, 2000 Zeichen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="2000" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Freitext25">
    <xs:annotation>
      <xs:documentation>allgemeiner Freitext, 25 Zeichen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="25" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Freitext255">
    <xs:annotation>
      <xs:documentation>allgemeiner Freitext, 255 Zeichen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="255" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Freitext50">
    <xs:annotation>
      <xs:documentation>allgemeiner Freitext, 50 Zeichen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Freitext512">
    <xs:annotation>
      <xs:documentation>allgemeiner Freitext, 512 Zeichen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="512" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Geraeuschwert">
    <xs:annotation>
      <xs:documentation>Datentyp zur Übermittlung eines Geräuschwertes (z.B. eines Kraftrades)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
      <xs:maxInclusive value="99999.99" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.GrosskundenID">
    <xs:annotation>
      <xs:documentation>Enthält bei Großkunden im Sinne der Kraftfahrzeugsteuer die Großkunden-ID. Die Großkunden-ID wird durch das zuständige Hauptzollamt vergeben und dem Großkunden mitgeteilt. Die Großkunden-ID muss genau einer Großkunden-ID aus der Großkundenliste entsprechen.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.XKfzID">
      <xs:pattern value="[0-9]{3}[A-Z][0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.GrundGebuehrenrueckstand">
    <xs:annotation>
      <xs:documentation>Angabe des Grundes für einen Gebührenrückstand (Freitext)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext2000" />
  </xs:simpleType>
  <xs:simpleType name="Type.GrundSteuerbefreiung">
    <xs:annotation>
      <xs:documentation>Grund für eine Steuerbefreiung (Freitext), wird im Rahmen der Erfassung von Steuerdaten verwendet. Die Angabe entspricht den Wert des Elements 'AntragAufSteuerverguenstigung' im Schema des KraftSt-Verfahrens.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Gutachtennummer">
    <xs:annotation>
      <xs:documentation>Nummer von Gutachten der Prüforganisationen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext255" />
  </xs:simpleType>
  <xs:simpleType name="Type.IBAN">
    <xs:annotation>
      <xs:documentation>IBAN (International Bank Account Number),  kann im Rahmen von Zahlungs- oder Steuerinformationen verwendet werden</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.AlphaNum">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Kassenzeichen">
    <xs:annotation>
      <xs:documentation>Kassenzeichen im HKR-Verfahren, wird im Rahmen der Auflistung von Gebührenrückständen verwendet</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext255" />
  </xs:simpleType>
  <xs:simpleType name="Type.KennungReferenzdatei">
    <xs:annotation>
      <xs:documentation>eindeutige Kennung der Referenzdatei beim Konfektionierer, ist zusammen mit der Versionsangabe im Rahmen der Bereitstellung von Referenzdateien für Druckstücknummern und Sicherheitsodes zu verwenden</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext255" />
  </xs:simpleType>
  <xs:simpleType name="Type.Kilometerstand">
    <xs:annotation>
      <xs:documentation>Stand des Wegstreckenzählers gerundet auf volle Kilometer. Zum Zeitpunkt der HU bzw. SP.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.Nummer">
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.KomponentenID">
    <xs:annotation>
      <xs:documentation>eindeutige Kennung einer Vorgangskomponente eines elektronischen Antrags auf Zulassung oder Auskunft</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.XKfzID">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Kontaktinformation">
    <xs:annotation>
      <xs:documentation>Kontaktinformation wie z.B. eine Telefonnummer oder eine Mailadresse, wird im Rahmen elektronischer Anträge auf Kfz-Zulassung oder Auskunft verwendet</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext255" />
  </xs:simpleType>
  <xs:simpleType name="Type.Kontoinhaber">
    <xs:annotation>
      <xs:documentation>Inhaber eines angegebenen Kontos, wird i.d.R. nur bei abweichendem Kontoinhaber angegeben, Verwendung im Rahmen der Angabe von Zahlungs- oder Steuerinformationen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Kontonummer">
    <xs:annotation>
      <xs:documentation>deutsche Kontonummer, kann im Rahmen von Zahlungs- oder Steuerinformationen verwendet werden</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.Nummer">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.KontrollnummerSP">
    <xs:annotation>
      <xs:documentation>SP-Kontrollnummer der anerkannten Werkstatt</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="12" />
      <xs:minLength value="12" />
      <xs:pattern value="[A-Z]{2}-[0-9]-[0-9]{2}-[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Kundennummer">
    <xs:annotation>
      <xs:documentation>Nummer eines Kunden z.B. bei der Kfz-Zulassungsstelle, kann im Rahmen elektronischer Anträge verwendet werden</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext25" />
  </xs:simpleType>
  <xs:simpleType name="Type.Laenderkennzeichen">
    <xs:annotation>
      <xs:documentation>Kennzeichen des Zulassungsstaates. 'D' für Deutschland</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.UpperAlpha">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Latin1">
    <xs:annotation>
      <xs:documentation>Zeichenkette beschränkt auf die Zeichen des Zeichenvorrats Latin-1 (gem. ISO 8859-1). Dieser Zeichenvorrat wird aktuell durch das ZFZR unterstützt.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="255" />
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}-[\t\r\n&#x7F;&#x80;-&#xA0;]]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Mandatsreferenznummer">
    <xs:annotation>
      <xs:documentation>Datenyp zur Übermittlung einer SEPA-Mandatsreferenznummer</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="35" />
      <xs:minLength value="1" />
      <xs:pattern value="[A-Za-z0-9&#39;&#40;&#41;&#43;&#44;&#45;&#46;&#47;&#58;&#63;]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Mangelcode">
    <xs:annotation>
      <xs:documentation>Vollständiger Mangelcode gem. Mangelbaum.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.Nummer">
      <xs:maxLength value="21" />
      <xs:minLength value="21" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Messdrehzahl">
    <xs:annotation>
      <xs:documentation>Datentyp zur Übermittlung einer gemessenen Messdrehzahl (z.B. eines Kraftrades)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
      <xs:maxInclusive value="99999.99" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.MitteilungsIDKraftSt">
    <xs:annotation>
      <xs:documentation>MitteilungsID, welche im KraftSt-Verfahren genutzt wird.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:long">
      <xs:maxInclusive value="9999999999999" />
      <xs:minInclusive value="1000000000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.MonatJahr">
    <xs:annotation>
      <xs:documentation>Datentyp zur Übermittlung von Jahr und Monat (MMYYYY)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.Nummer">
      <xs:pattern value="((0[1-9]|1[012])(19\d\d|20\d\d))" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.NachrichtenID">
    <xs:annotation>
      <xs:documentation>eindeutige Identifizierungsnummer einer XKfz-Nachricht</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.XKfzID">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.NummerIdentifikationsdokument">
    <xs:annotation>
      <xs:documentation>Nummer eines Identifikationsdokumentes wie z.B. eines Personalausweises oder Resepasses, kann im Kontext elektronischer Kfz-zulassungsanträge verwendet werden</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext50" />
  </xs:simpleType>
  <xs:simpleType name="Type.PINReservierungKennzeichen">
    <xs:annotation>
      <xs:documentation>PIN für die Reservierung von Kfz-Kennzeichen, über die PIN kann der Nachweis der Berechtigung für eine Kennzeichenreservierung nachgewiesen werden</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.AlphaNum">
      <xs:pattern value="[0-9A-Za-z&#196;&#214;&#220;&#228;&#246;&#252;&#223;]{3,8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Palette">
    <xs:annotation>
      <xs:documentation>Palette zu Verpackungen von Druckstücken</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Verpackungsnummer" />
  </xs:simpleType>
  <xs:simpleType name="Type.Partikelminderungsstufe">
    <xs:annotation>
      <xs:documentation>Partikelminderungsstufe des Fahrzeugs (PM0, PM1, PM2, PM3, PM4, PMK0, PMK1, PMK2, PMK3, PMK4).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.AlphaNum">
      <xs:pattern value="[PM][0-5]|[PMK][0-4]|[PM01]|[PMK01]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.ProzessSchrittID">
    <xs:annotation>
      <xs:documentation>eindeutige Identifizierungsnummer für einen Prozessschritt, kann im Rahmen der Definition von Geschäftsprozessen zur Verarbeitung elektronischer Anträge verwendet werden</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.XKfzID">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Pruefziffer">
    <xs:annotation>
      <xs:documentation>Datentyp zur Übermittlung einer HU-/ SP-Prüfziffer</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="8" />
      <xs:minLength value="8" />
      <xs:pattern value="[A-NP-Za-km-z0-9&#37;&amp;&#43;&#35;]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.ReferenzID">
    <xs:annotation>
      <xs:documentation>eindeutige Identifizierungsnummer einer Referenz auf eine Vorgangskomponente, wird im Rahmen der Zusammenstellung von elektronischen Anträgen verwendet</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="50" />
      <xs:minLength value="1" />
      <xs:pattern value="[0-9a-zA-Z \._\-]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.SchluesselPruefer">
    <xs:annotation>
      <xs:documentation>Schlüsselnummer des amtlich anerkannten Sachverständigen oder Prüfer / Prüfingenieur (aaSoP/PI)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.AlphaNum">
      <xs:maxLength value="20" />
      <xs:pattern value="[0-9A-Z]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.SchluesselUntersuchungsort">
    <xs:annotation>
      <xs:documentation>Von der ÜI ggf. vergebener Schlüsselwert für den Untersuchungsort.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.AlphaNum">
      <xs:maxLength value="20" />
      <xs:pattern value="[0-9A-Z]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.SicherheitscodeZB2">
    <xs:annotation>
      <xs:documentation>Sicherheitcode für die Zulassungsbescheinigung Teil II, Aufbau siehe Anhang D der XKfz-Spezifikation, ab</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.AlphaNum">
      <xs:pattern value="[B][a-zA-Z0-9]{10}[0-9X]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.SonstigerAntragsteller">
    <xs:annotation>
      <xs:documentation>Angabe eines Antragstellers eines elektronischen Antrags, der kein direkter XKfz-Kommunikationspartner ist</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext255" />
  </xs:simpleType>
  <xs:simpleType name="Type.String.Alpha">
    <xs:annotation>
      <xs:documentation>Zeichenkette, bestehend aus Groß- und Kleinbuchstaben</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.AlphaNum">
      <xs:pattern value="[A-Za-z]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.String.AlphaNum">
    <xs:annotation>
      <xs:documentation>Zeichenkette, bestehend aus Groß- und Kleinbuchstaben sowie Ziffern</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:pattern value="[0-9A-Za-z]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.String.Nummer">
    <xs:annotation>
      <xs:documentation>Zeichenkette, bestehend aus Ziffern</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.AlphaNum">
      <xs:pattern value="[0-9]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.String.UpperAlpha">
    <xs:annotation>
      <xs:documentation>Zeichenkette, bestehend aus Großbuchstaben</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.Alpha">
      <xs:pattern value="[A-Z]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.SuchErkennungsnummer">
    <xs:annotation>
      <xs:documentation>Suchtext für den numerischen Anteil der Erkennungsnummer eines Kennzeichens, kann auch so genannte Wildcards (Zeichen '*' oder '?') enthalten</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:pattern value="[*?0-9 ]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.SuchErkennungszeichen">
    <xs:annotation>
      <xs:documentation>Suchtext für den Buchstabenanteil der Erkennungsnummer eines Kennzeichens, kann auch so genannte Wildcards (Zeichen '*' oder '?') enthalten</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:pattern value="[*?0-9A-Z ]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.SuchKennzeichen">
    <xs:annotation>
      <xs:documentation>Suchtext für ein Kennzeichen, kann auch so genannte Wildcards (Zeichen '*' oder '?') enthalten</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:pattern value="[*?0-9A-ZÄÖÜ][*?0-9A-ZÄÖÜ ][*?0-9A-ZÄÖÜ ][*?0-9A-Z ][*?0-9A-Z ][*?0-9A-Z ][*?0-9 ][*?0-9 ][*?0-9A-Z ]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.SuchLaenge">
    <xs:annotation>
      <xs:documentation>Längenangabe im Rahmen der Suche eines Kennzeichens, gemeint ist immer die Anzahl aller Buchstaben und Ziffern des Erkennungszeichens eines Kennzeichens, d.h. die Anzahl der Buchstaben des Unterscheidungszeichens zählen dabei nicht mit</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.SuchUnterscheidungszeichen">
    <xs:annotation>
      <xs:documentation>Suchtext für das Unterscheidungszeichen eines Kennzeichens</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:pattern value="[*?0-9A-Z][*?0-9A-ZÄÖÜ ]{0,1}[*?0-9A-ZÄÖÜ ]{0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.TextProduktangabe">
    <xs:annotation>
      <xs:documentation>Datentyp für die Angabe von Name, Version und Hersteller des eingesetzten Softwareproduktes, welches die XKfz-Nachricht erzeugt hat</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext50" />
  </xs:simpleType>
  <xs:simpleType name="Type.Umverpackung">
    <xs:annotation>
      <xs:documentation>Umverpackung zu Verpackungen von Druckstücken</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Verpackungsnummer" />
  </xs:simpleType>
  <xs:simpleType name="Type.Verpackungsnummer">
    <xs:annotation>
      <xs:documentation>Verpackungsnummer zu Verpackungen von Druckstücken</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="30" />
      <xs:minLength value="1" />
      <xs:pattern value="[&#x21;-&#x3A;&#x3C;-&#x7E;]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Version">
    <xs:annotation>
      <xs:documentation>Versionsangabe des eingesetzten XKfz-Standards</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:pattern value="\d\.\d|\d\.\d\.\d|\d\.\d\.\d\.\d" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Versionsnummer">
    <xs:annotation>
      <xs:documentation>Datentyp zur Angabe einer Versionsnummer mit Major-Release, Minor-Release und Patchlevel</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="15" />
      <xs:minLength value="1" />
      <xs:pattern value="\d*.\d*.\d*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.VordrucknummerZulBeschTeil1">
    <xs:annotation>
      <xs:documentation>Vordrucknummer einer Zulassungsbescheinigung Teil I</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.String.Nummer">
      <xs:maxLength value="9" />
      <xs:minLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Wegstrecke">
    <xs:annotation>
      <xs:documentation>Datentyp zur Übermittlung einer Wegstrecke (gerundet auf volle Kilometer/Meilen).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="9000000" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.WerkstattUntersuchungUmweltvertraeglichkeit">
    <xs:annotation>
      <xs:documentation>Kontrollnummer der anerkannten Werkstatt oder Überwachungsinstitution, die eine Untersuchung der Unweltvertraeglichkeit durchgeführt hat.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Latin1">
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.XKfzID">
    <xs:annotation>
      <xs:documentation>eindeutige Identifizierungsnummer im Rahmen von XKfz-Nachrichten, Basisdatentyp mit der Festlegung des Zeichenvorrats</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:pattern value="[0-9a-zA-Z\._\-]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.Zeichen">
    <xs:annotation>
      <xs:documentation>Zeichenkette bestehend aus Zahlen, Groß- und Kleinbuchstaben (mit Umlauten) und Leerzeichen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xkfz:Type.Freitext">
      <xs:maxLength value="64" />
      <xs:pattern value="[0-9(A-ZÄÖÜ)|(a-zäöü) ]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type.ZeitpunktDerErstellung">
    <xs:annotation>
      <xs:appinfo>
        <title>Zeitpunkt der Erstellung</title>
      </xs:appinfo>
      <xs:documentation>Zeitpunkt der Erstellung einer Nachricht etc.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
</xs:schema>

