src/main/resources/xsd/xauslaender113/xauslaender-nachrichten-bamf-abh.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xauslaender="http://www.osci.de/xauslaender1130"
           xmlns:xian="http://www.osci.de/xinneres/allgemeinername/2"
           xmlns:xiaz="http://www.osci.de/xinneres/azrnummer/1"
           xmlns:xida="http://www.osci.de/xinneres/datum/2"
           xmlns:xipa="http://www.osci.de/xinneres/postanschrift/3"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.osci.de/xauslaender1130"
           version="1.13.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XAusländer</nameLang>
            <nameKurz>XAusländer</nameKurz>
            <nameTechnisch>xinneres.xauslaender</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.xauslaender</kennung>
            <beschreibung>Das Fachmodul XAusländer des Standards XInneres beschreibt die Datenübermittlung im Ausländerwesen.</beschreibung>
         </standard>
         <versionStandard>
            <version>1.13.0</version>
            <versionXOEVProfil>1.5.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.1</versionXOEVHandbuch>
            <versionXGenerator>2.6.1</versionXGenerator>
            <versionModellierungswerkzeug>18.0 SP6</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xauslaender-allgemeine-datentypen.xsd"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/allgemeinername/2/xinneres-name.xsd"
              namespace="http://www.osci.de/xinneres/allgemeinername/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/azrnummer/1/xinneres-azrnummer.xsd"
              namespace="http://www.osci.de/xinneres/azrnummer/1"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/datum/2/xinneres-datum.xsd"
              namespace="http://www.osci.de/xinneres/datum/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/postanschrift/3/xinneres-postanschrift.xsd"
              namespace="http://www.osci.de/xinneres/postanschrift/3"/>
   <xs:import schemaLocation="http://xoev.de/latinchars/1_1/datatypes/latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:complexType name="Abschlusstestdaten">
      <xs:annotation>
         <xs:documentation>Dieses Element enthält die Daten zu einem Abschlusstest des Integrationskurses.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="testdatum" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Dieses Element übermittelt das Datum, an dem der Test stattgefunden hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kurstraeger" type="xauslaender:Kurstraeger">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält Angaben zum Kursträger, der den Test durchgeführt hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Ansprechpartner">
      <xs:annotation>
         <xs:documentation>Mit diesem Element werden Kontaktdaten für einen Ansprechpartner beschrieben, welcher bezogen auf den Sachverhalt einer Nachricht Auskunft geben kann. In der Regel dürfte dies die Person sein, die die Nachricht ausgelöst hat. Sofern ein Ansprechpartner vorhanden ist, sind dessen Kontaktdaten anzugeben. Dies gilt insbesondere bei Nachrichten, die voraussichtlich zu Rückfragen führen (z. B. BAMFABH.Dublette.070004) Im Fall einer funktionsbezogenen Kontaktstelle ist auf jeden Fall das Geschäftszeichen zu befüllen, Vorname und Nachname entfallen dann.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="geschaeftszeichen" minOccurs="0" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Dieses Element bezeichnet das Merkmal, das den Ansprechpartner für den jeweiligen Sachverhalt identifiziert.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="familienname" minOccurs="0" type="xian:AllgemeinerName"/>
         <xs:element name="vorname" minOccurs="0" type="xian:AllgemeinerName"/>
         <xs:element name="kontaktdaten"
                     maxOccurs="unbounded"
                     type="xauslaender:Kommunikation"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BerechtigungVerpflichtung">
      <xs:annotation>
         <xs:documentation>Mit diesem Element werden Informationen zu einer Berechtigung oder Verpflichtung übermittelt (§ 5 Abs. 2 intv_s und § 6 Abs. 1 und 2 intv_s).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="art" type="xauslaender:Code.BAMFABH.ArtDerBerechtigung">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Art der Teilnahmeberechtigung nach § 4 Abs. 1 IntV übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bamfkennziffer" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die BAMF-Kennziffer einer bereits bestehenden Berechtigung oder Verpflichtung übermittelt (§ 8 Abs. 1 Satz 2 IntV).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="gueltigVon" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Beginn der Teilnahmeberechtigung mitgeteilt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="gueltigBis" minOccurs="0" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird das in der Teilnahmeberechtigung festgelegte Gültigkeitsende mitgeteilt. Sofern in der Teilnahmeberechtigung kein Gültigkeitsende festgelegt ist (die Berechtigung gilt unbefristet), wird dieses Element nicht übermittelt. Implementierungshinweis:Zum besseren Verständnis für die Sachbearbeitung ist im Falle einer unbefristeten Teilnahmeberechtigung der Sachverhalt angemessen zu visualisieren, zum Beispiel durch Anzeige des Textes unbefristet. Das alleinige Leerlassen des Datumsfeldes oder das Setzen eines fiktiven Zukunftsdatums sind nicht geeignet.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="teilnahmeUnbefristet" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Wenn die Angaben in InGe besagen, dass die Teilnahme unbefristet möglich ist, wird dies mit diesem Element übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="austellendeBehoerde" type="xauslaender:Behoerde">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird übermittelt, wer die Berechtigung oder Verpflichtung ausgestellt hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Identifikation.Int.ABHBAMF">
      <xs:annotation>
         <xs:documentation>Mit diesem Element übermittelt die Ausländerbehörde im Themenkreis Integration Angaben zur Identifizierung einer bereits in InGe erfassten und mit einer BAMF-Kennziffer des Vorgangs ausgestatteten Person.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="geburtsdatum" type="xida:TeilbekanntesDatum"/>
         <xs:element name="bamfkennziffer" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die BAMF-Kennziffer einer bereits bestehenden Berechtigung oder Verpflichtung übermittelt (§ 8 Abs. 1 Satz 2 IntV).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InformationBerechtigungVerpflichtung">
      <xs:annotation>
         <xs:documentation>Mit diesem Element werden Informationen für die Sachbearbeitung zu einer Berechtigung/Verpflichtung übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bamfKennziffer" type="xoev-lc:String.Latin"/>
         <xs:element name="informationSachbearbeitung"
                     type="xauslaender:Code.Int.InformationBerechtigungVerpflichtung"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InformationBerechtigungsschein">
      <xs:annotation>
         <xs:documentation>Mit diesem Element übermittelt das BAMF entweder die Daten aus dem Berechtigungsschein oder die Information, dass der Integrationskurs bereits vollständig absolviert wurde oder die Information, dass keine Berechtigung oder Verpflichtung vorliegt.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="keineInformationenVorhanden" fixed="true" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird übermittelt, dass keine relevanten Informationen für eine Übermittlung vorhanden sind.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="integrationskursVollstaendig" fixed="true" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird übermittelt, ob der Integrationskurs bereits vollständig absolviert wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="berechtigungVerpflichtungVorhanden"
                     type="xauslaender:BerechtigungVerpflichtung">
            <xs:annotation>
               <xs:documentation>Ist eine Berechtigung oder Verpflichtung vorhanden, können mit diesem Element entsprechende Informationen über diese Berechtigung oder Verpflichtung übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="Int.WeitereAngaben">
      <xs:annotation>
         <xs:documentation>Mit diesem Datentyp werden weitere Angaben zum betroffenen Ausländer übermittelt. Implementierungshinweis: Diese Angaben dürfen nicht auf dem Berechtigungs-/Verpflichtungsschein angegeben werden.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="staatsangehoerigkeit"
                     maxOccurs="4"
                     type="xauslaender:AngabenZumStaat"/>
         <xs:element name="aufenthaltstitel" type="xauslaender:Code.Int.Aufenthaltstitel"/>
         <xs:element name="aZRNummer" minOccurs="0" type="xiaz:AZRNummer">
            <xs:annotation>
               <xs:documentation>Dieses Element ist dann zu übermitteln, wenn es sich bei der Angabe zum Aufenthaltstitel um eine Aufenthaltsgestattung handelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Kursabschnittsdaten">
      <xs:annotation>
         <xs:documentation>Dieses Element enthält Daten zu einem gemeldeten bzw. bereits abgerechneten Kursabschnitt, an dem der Verpflichtete teilnimmt bzw. teilgenommen hat.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="kurskennung" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die eindeutige vom BAMF vergebene Kennung des Integrationskurses übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beginndatum" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird das Datum des Beginns des Kursabschnitts übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="endedatum">
            <xs:complexType>
               <xs:choice>
                  <xs:element name="voraussichtlichesEndedatum" type="xida:Tagesdatum">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird das Datum des gemeldeten voraussichtlichen Endes des Kursabschnitts übermittelt. Dieses Element wird nur befüllt, wenn der Kursabschnitt noch nicht abgerechnet wurde.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="tatsaechlichesEndedatum" type="xida:Tagesdatum">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird das Datum des tatsächlichen Endes des Kursabschnitts übermittelt. Dieses Element wird nur befüllt, wenn der Kursabschnitt bereits abgerechnet wurde.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="kursabschnitt" type="xauslaender:Code.BAMFABH.Kursabschnitt">
            <xs:annotation>
               <xs:documentation>Dieses Element übermittelt die Kursabschnittsbezeichnung (Modul).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kursart" type="xauslaender:Code.BAMFABH.Kursart">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Kursart übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kursort" type="xauslaender:Kursort">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Kursort übermittelt, an dem der Kursabschnitt stattfindet bzw. stattgefunden hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kurstraeger" type="xauslaender:Kurstraeger">
            <xs:annotation>
               <xs:documentation>Dieses Element übermittelt die Daten des Kursträgers, der den Kursabschnitt durchführt bzw. durchgeführt hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fehlEntschuldigt" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Anzahl der Unterrichtsstunden übermittelt, an denen der Verpflichtete entschuldigt gefehlt hat, sofern der Kursabschnitt bereits abgerechnet wurde und die Angabe somit vorliegt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fehlUnentschuldigt" minOccurs="0" type="xs:integer">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Anzahl der Unterrichtsstunden übermittelt, an denen der Verpflichtete unentschuldigt gefehlt hat, sofern der Kursabschnitt bereits abgerechnet wurde und die Angabe somit vorliegt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Kursanmeldedaten">
      <xs:annotation>
         <xs:documentation>Mit diesem Element werden vorhandene Daten zur Anmeldung eines verpflichteten Kursteilnehmers übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="kursanmeldedatum" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält das Datum der Anmeldung beim Kursträger.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kurstraeger" type="xauslaender:Kurstraeger">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird mitgeteilt, bei welchem Kursträger die Anmeldung erfolgt ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kursart"
                     minOccurs="0"
                     type="xauslaender:Code.BAMFABH.Kursart">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die vom Kursträger empfohlene Kursart mitgeteilt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kursabschnitt"
                     minOccurs="0"
                     type="xauslaender:Code.BAMFABH.Kursabschnitt">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der vom Träger empfohlene Kursabschnitt mitgeteilt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="einstufungstest">
            <xs:complexType>
               <xs:choice>
                  <xs:element name="einstufungstestdatum" type="xida:Tagesdatum">
                     <xs:annotation>
                        <xs:documentation>Dieses Element übermittelt das Datum, an dem der Einstufungstest absolviert wurde.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="einstufungstestverzichtbar" fixed="true" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird übermittelt, ob auf einen Einstufungstest verzichtet werden konnte. Ist das der Fall, werden weder Einstufungstestdatum noch Angaben zu Kursart und Kursabschnitt übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Kursort">
      <xs:annotation>
         <xs:documentation>Dieses Element enthält Angaben zu dem Ort, an dem der Kurs tatsächlich stattfindet.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="kursortkennziffer" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält die eindeutige vom BAMF vergebene Kennziffer des Kursorts.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschrift"
                     type="xipa:PostalischeInlandsanschrift.Gebaeudeanschrift">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält die Anschrift des Kursorts.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ansprechpartner"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xauslaender:Ansprechpartner">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält Daten zu den für diesen Kursort zuständigen Ansprechpartnern.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Kurstraeger">
      <xs:annotation>
         <xs:documentation>Dieses Element enthält Angaben zu einem Integrationskursträger.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="traegerkennziffer" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält die eindeutige vom BAMF vergebene Trägerkennziffer des Integrationskursträgers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält den Namen des Integrationskursträgers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschrift"
                     type="xipa:PostalischeInlandsanschrift.Gebaeudeanschrift">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zur Anschrift des Kursträgers übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kontaktdaten"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xauslaender:Kommunikation">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält Kontaktdaten des Integrationskursträgers.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Nachricht.G2G.XA.Int.BAMFABH">
      <xs:annotation>
         <xs:appinfo>
            <title>Allgemeine Nachricht für alle Nachrichten zwischen dem bamf und Ausländerbehörden</title>
         </xs:appinfo>
         <xs:documentation>Dieses Element wird bei jeder Nachricht zwischen dem Bundesamt und der Ausländerbehörde im Themenkreis Integration verwendet.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
            <xs:sequence>
               <xs:element name="ansprechpartner"
                           minOccurs="0"
                           type="xauslaender:Ansprechpartner"/>
               <xs:element name="ihrZeichen" minOccurs="0" type="xoev-lc:String.Latin">
                  <xs:annotation>
                     <xs:documentation>Sofern ein Aktenzeichen der Ausländerbehörde bekannt ist, kann dies hier übermittelt werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Personalien.Int.ABHBAMF">
      <xs:annotation>
         <xs:documentation>Mit diesem Element übermittelt die Ausländerbehörde im Themenkreis Integration Angaben zur Person. Personalien kategorisieren und benennen die Person.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="vorname" type="xian:AllgemeinerName"/>
         <xs:element name="nachname" type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Nachname (aus der Führungspersonalie der jeweiligen Behörde, nach deutschem Recht oder nach Pass), so wie er auf dem Berechtigungsschein angedruckt wird, übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geschlecht" type="xauslaender:Geschlecht">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird das Geschlecht übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburtsdatum" type="xida:TeilbekanntesDatum"/>
         <xs:element name="anschrift"
                     type="xipa:PostalischeInlandsanschrift.Gebaeudeanschrift">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die aktuelle Wohnanschrift der Person übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="weitererNachname" minOccurs="0" type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird - sofern vorhanden - der Name nach deutschem Recht oder nach Pass übermittelt, der nicht als Nachname übermittelt wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburtsname" minOccurs="0" type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann der Geburtsname übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fruehererNachname"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann ein in der Vergangenheit verwendeter Name (nicht der Geburtsname, kein Künstler-, Ordens- und Genanntname und kein Alias) übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="abweichendeSchreibweiseNachname"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann eine abweichende Schreibweise eines Nachnamens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="VerpflichtungAbgelaufen">
      <xs:annotation>
         <xs:documentation>Dieses Element enthält Angaben zu einer Verpflichtung, die bereits zu einem früheren Zeitpunkt abgelaufen ist und in deren Zusammenhang die Person sich nicht beim Träger zu einem Integrationskurs angemeldet und folglich auch kein Kursbesuch stattgefunden hat.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ausstellendeBehoerde" type="xauslaender:Behoerde">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Ausländerbehörde bzw. Träger der Grundsicherung benannt, die/der die frühere Verpflichtung ausgesprochen hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beginnVerpflichtung" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält das Datum, ab dem die frühere Verpflichtung ihre Gültigkeit entfaltet hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="endeVerpflichtung" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält das Datum, an dem eine frühere Verpflichtung ihre Gültigkeit verloren hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="verpflichtungNichtWahrgenommen" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Ausländerbehörde informiert, dass die frühere Verpflichtung abgelaufen ist, ohne dass sich der Verpflichtete innerhalb der Gültigkeitsdauer bei einem Kursträger zum Kurs angemeldet hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="behoerdentyp"
                     minOccurs="0"
                     type="xauslaender:Code.Int.Behoerdentyp">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird übermittelt, welcher Behördentyp verpflichtet hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ABHBAMF.Teilnahmeberechtigung.070001">
      <xs:annotation>
         <xs:appinfo>
            <title>Mitteilung über Teilnahmeberechtigung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden die Daten zu einer Berechtigung gemäß § 4 Abs. 1 Satz 1 intv_s übermittelt. Diese Nachricht beinhaltet gleichzeitig das Auskunftsersuchen gemäß § 8 Abs. 1 Satz 2 intv_s. Das Gültigkeitsende des Teilnahmeanspruchs wird vom BAMF nach Eingang der Nachricht nachricht.070001 berechnet. Das ermittelte Datum wird in der Nachricht nachricht.070003 zur Verwendung durch die ABH auf dem Berechtigungsschein zurückübermittelt.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="personalien" type="xauslaender:Personalien.Int.ABHBAMF"/>
                  <xs:element name="bamfkennziffer" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die BAMF-Kennziffer einer bereits bestehenden Berechtigung oder Verpflichtung übermittelt (§ 8 Abs. 1 Satz 2 IntV).</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="nurOrientierungskurs" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird mitgeteilt, ob der Ausländer zur Teilnahme lediglich am Orientierungskurs (Teil des Integrationskurses) berechtigt ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="weitereAngaben" type="xauslaender:Int.WeitereAngaben"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BAMFABH.TeilnahmeberechtigungVerpflichtung.Akzeptanz.070003">
      <xs:annotation>
         <xs:appinfo>
            <title>Akzeptanz einer Teilnahmeberechtigung/-verpflichtung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt das BAMF der Ausländerbehörde mit, dass die übermittelten Daten zur Teilnahmeberechtigung/-verpflichtung akzeptiert und gespeichert wurden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="berechtigungVerpflichtung"
                              type="xauslaender:BerechtigungVerpflichtung">
                     <xs:annotation>
                        <xs:documentation>Übermittelt werden die Daten der akzeptierten Berechtigung oder Verpflichtung, so wie sie in InGe abgelegt sind.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BAMFABH.Dublette.070004">
      <xs:annotation>
         <xs:appinfo>
            <title>Dublette</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt das BAMF mit, dass eine Person mit den Identifikationsmerkmalen Nachname, Geburtsdatum, Geschlecht, aus der soeben übermittelten Teilnahmeberechtigung/-verpflichtung der ABH bereits im Datenbestand von InGe vorhanden ist.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="informationSachbearbeitung"
                              type="xauslaender:Code.BAMFABH.Dublettenmeldung">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Grund für die Dublettenmeldung übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BAMFABH.BerechtigungVerpflichtungNichtMoeglich.070005">
      <xs:annotation>
         <xs:appinfo>
            <title>Keine neue Berichtigung oder Verpflichtung möglich</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt das BAMF mit, dass und aus welchem Grund keine neue Berechtigung oder Verpflichtung möglich ist.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="ablehnungsgrund" type="xauslaender:Code.BAMFABH.Ablehnungsgrund">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Grund für die Ablehnung mitgeteilt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="beschreibung" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Grund für die Ablehnung beschrieben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktuelleBerechtigungVerpflichtung"
                              minOccurs="0"
                              type="xauslaender:BerechtigungVerpflichtung">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden Informationen zu der Berechtigung oder Verpflichtung übermittelt, die zum Zeitpunkt der Erzeugung dieser Nachricht gültig ist und die Ablehnung begründet.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="kannUebernommenWerden" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Wird mit diesem Element der Wert true übermittelt, ist der Sachbearbeitung kenntlich zu machen, dass die Verpflichtung unter Nutzung der entsprechenden Nachricht übernommen werden kann.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BAMFABH.VerpflichtungErsetztBerechtigung.Anfrage.070006">
      <xs:annotation>
         <xs:appinfo>
            <title>Teilnahmeberechtigung durch Verpflichtung ersetzen?</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt das BAMF mit, dass und aus welchem Grund eine Verpflichtung möglich ist, obwohl bereits eine Berechtigung für den geplanten Gültigkeitszeitraum dieser Verpflichtung existiert und fragt an, ob eine Verpflichtung erfolgen soll. Zur abschließenden Bearbeitung der ursprünglichen Verpflichtungsanfrage wartet das BAMF auf die Nachricht nachricht.070007 der Ausländerbehörde. Erfolgt keine Antwort durch die ABH, wird der Vorgang im BAMF nach einem Monat abgebrochen, d. h. die Daten des neu übermittelten Verpflichtungsvorgangs werden gelöscht.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="nachfragegrund" type="xauslaender:Code.BAMFABH.Nachfragegrund">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Grund für die Nachfrage mitgeteilt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="beschreibung" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Grund für die Nachfrage beschrieben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktuelleBerechtigung"
                              type="xauslaender:BerechtigungVerpflichtung">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden Informationen zur Berechtigung übermittelt, die diese Nachfrage begründet und zum Zeitpunkt der Erzeugung dieser Nachricht gültig ist. Im Falle der Verpflichtung durch die Ausländerbehörde, wird die in diesem Element mitgeteilte Berechtigung abgelöst.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHBAMF.VerpflichtungErsetztBerechtigung.Antwort.070007">
      <xs:annotation>
         <xs:appinfo>
            <title>Verpflichtung ersetzt Berechtigung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt die Ausländerbehörde ihre Entscheidung mit, ob eine Verpflichtung trotz einer bestehenden Berechtigung erfolgen soll.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="entscheidung" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird mitgeteilt, ob die bestehende Berechtigung durch eine Verpflichtung der Ausländerbehörde ersetzt werden soll.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHBAMF.TeilnahmeverpflichtungKeineEinfachenSprachkenntnisse.070008">
      <xs:annotation>
         <xs:appinfo>
            <title>Teilnahmeverpflichtung keine einfachen Sprachkenntnisse</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden die Daten zu einer Verpflichtung gemäß § 44a Abs. 1 Satz 1 Nr. 1a aufenthg_s (keine einfachen Sprachkenntnisse) übermittelt. Diese Nachricht beinhaltet gleichzeitig das Auskunftsersuchen gemäß § 8 Abs. 1 Satz 2 intv_s.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="personalien" type="xauslaender:Personalien.Int.ABHBAMF"/>
                  <xs:element name="bamfkennziffer" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die BAMF-Kennziffer einer bereits bestehenden Berechtigung oder Verpflichtung übermittelt (§ 8 Abs. 1 Satz 2 IntV).</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="nurSprachkurs" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird mitgeteilt, ob sich die Verpflichtung nur auf die Teilnahme am Sprachkurs bezieht gemäß § 44a Abs. 2a AufenthG.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="weitereAngaben" type="xauslaender:Int.WeitereAngaben"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHBAMF.TeilnahmeverpflichtungKeineAusreichendenSprachkenntnisse.070009">
      <xs:annotation>
         <xs:appinfo>
            <title>Teilnahmeverpflichtung keine ausreichenden Sprachkenntnisse</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden die Daten zu einer Verpflichtung gemäß § 44a Abs. 1 Satz 1 Nr. 1b aufenthg_s (keine ausreichenden Sprachkenntnisse) übermittelt. Diese Nachricht beinhaltet gleichzeitig das Auskunftsersuchen gemäß § 8 Abs. 1 Satz 2 intv_s.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="personalien" type="xauslaender:Personalien.Int.ABHBAMF"/>
                  <xs:element name="bamfkennziffer" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die BAMF-Kennziffer einer bereits bestehenden Berechtigung oder Verpflichtung übermittelt (§ 8 Abs. 1 Satz 2 IntV).</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="weitereAngaben" type="xauslaender:Int.WeitereAngaben"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHBAMF.TeilnahmeverpflichtungBesondersIntegrationsbeduerftig.070010">
      <xs:annotation>
         <xs:appinfo>
            <title>Teilnahmeverpflichtung besondere Integrationsbedürftigkeit</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden die Daten zu einer Verpflichtung gemäß § 44a Abs. 1 Satz 1 Nr. 3 AufenthG (in besonderer Weise integrationsbedürftig) übermittelt. Diese Nachricht beinhaltet gleichzeitig das Auskunftsersuchen gemäß § 8 Abs. 1 Satz 2 IntV.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="personalien" type="xauslaender:Personalien.Int.ABHBAMF"/>
                  <xs:element name="bamfkennziffer" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die BAMF-Kennziffer einer bereits bestehenden Berechtigung oder Verpflichtung übermittelt (§ 8 Abs. 1 Satz 2 IntV).</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="gueltigBis" type="xida:Tagesdatum">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Datum wird das Ende der Teilnahmeverpflichtung übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="weitereAngaben" type="xauslaender:Int.WeitereAngaben"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHBAMF.BerechtigungVerpflichtungAuskunftsersuchen.070011">
      <xs:annotation>
         <xs:appinfo>
            <title>Besteht Berechtigung/Verpflichtung?</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht bittet die Ausländerbehörde das BAMF um Auskunft über das Bestehen einer Berechtigung oder Verpflichtung für den genannten Ausländer.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="personalien" type="xauslaender:Personalien.Int.ABHBAMF"/>
                  <xs:element name="bamfkennziffer" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element kann eine, der Behörde aus einem früheren Vorgang bekannte, BAMF-Kennziffer zu der betreffenden Person übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BAMFABH.Berechtigungsscheininhalt.070012">
      <xs:annotation>
         <xs:appinfo>
            <title>Berechtigungsscheininhalt</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht übermittelt das BAMF entweder die Daten aus dem Berechtigungsschein oder die Information, dass der Integrationskurs bereits vollständig absolviert wurde oder die Information, dass keine Berechtigung oder Verpflichtung vorliegt.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="informationBerechtigungsschein"
                              type="xauslaender:InformationBerechtigungsschein"/>
                  <xs:element name="informationSachbearbeiter"
                              type="xauslaender:Code.BAMFABH.InformationBerechtigungsschein">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält klarstellende Informationen für die Sachbearbeitung bei Übermittlung des Berechtigungsscheins.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="kannUebernommenWerden" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Wird mit diesem Element der Wert true übermittelt, ist der Sachbearbeitung kenntlich zu machen, dass die Verpflichtung unter Nutzung der entsprechenden Nachricht übernommen werden kann.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHBAMF.AuskunftsersuchenKursteilnahmeVerpflichteter.070013">
      <xs:annotation>
         <xs:appinfo>
            <title>Auskunft Kursteilnahme</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht kann die Ausländerbehörde das BAMF um Auskunft über die Anmeldung bzw. das Teilnahmeverhalten eines Verpflichteten ersuchen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="identifikation" type="xauslaender:Identifikation.Int.ABHBAMF"/>
                  <xs:element name="verlaengerungAT" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element übermittelt die ABH, ob sie wegen der Verlängerung der Aufenthaltserlaubnis um Auskunft ersucht. Ist der Wert false, gilt die Kontrolle der ordnungsgemäßen Teilnahme als Grund für das Ersuchen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BAMFABH.AuskunftKursteilnahmeNichtMoeglich.070014">
      <xs:annotation>
         <xs:appinfo>
            <title>Auskunft Kursteilnahme nicht möglich</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt das BAMF der anfragenden Ausländerbehörde mit, dass auf der Basis der vorhandenen Daten eine Auskunft nicht möglich ist.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="grundCode"
                              minOccurs="0"
                              type="xauslaender:Code.BAMFABH.AuskunftNichtMoeglich">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Grund dafür übermittelt, dass eine Auskunft nicht möglich ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="grund" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element kann zusätzlich und/oder alternativ eine Erläuterung oder Ergänzung der Begründung angegeben werden, warum eine Auskunft nicht erteilt werden kann.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BAMFABH.AuskunftKursteilnahme.070015">
      <xs:annotation>
         <xs:appinfo>
            <title>Auskunft über alle Daten zur Kursteilnahme</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht übermittelt das BAMF der Ausländerbehörde Informationen zur Anmeldung und Kursteilnahme eines Verpflichteten.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="kursabbruch" minOccurs="0" fixed="true" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Sofern der Kursträger explizit den Kursabbruch eines Verpflichteten gemeldet hat, wird diese Information hiermit an die Ausländerbehörde weitergegeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="kursteilnahmeErfolgreich"
                              minOccurs="0"
                              fixed="true"
                              type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element teilt das BAMF der Ausländerbehörde mit, dass der Integrationskurs erfolgreich abgeschlossen wurde.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="kursanmeldedaten"
                              minOccurs="0"
                              type="xauslaender:Kursanmeldedaten"/>
                  <xs:element name="kursabschnittsdaten"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xauslaender:Kursabschnittsdaten"/>
                  <xs:element name="datenAbschlusstestSprache"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xauslaender:Abschlusstestdaten">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die Daten zu Abschlusstests des Sprachkurses.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="datenAbschlusstestOrientierung"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xauslaender:Abschlusstestdaten">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die Daten zu Abschlusstests des Orientierungskurses.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="abgelaufeneVerpflichtung"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xauslaender:VerpflichtungAbgelaufen"/>
                  <xs:element name="informationBerechtigungVerpflichtung"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xauslaender:InformationBerechtigungVerpflichtung">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden Informationen zur Berechtigung/Verpflichtung übermittelt. Falls mehrere erloschene Vorgänge vorliegen sollen alle übermittelt werden, damit der Leser die Betroffenheit seiner Vorgänge ermitteln kann.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHBAMF.VerpflichtungUebernahmeAuskunft.070016">
      <xs:annotation>
         <xs:appinfo>
            <title>Übernahme TGS-/TLA-Verpflichtung und Auskunftersuchen</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt die Ausländerbehörde dem BAMF mit, dass sie eine vom Träger der Grundsicherung oder vom Träger der Leistungen nach dem AsylbLG ausgesprochene Verpflichtung in ausländerrechtlicher Hinsicht durch eine eigene ausländerrechtliche Entscheidung übernehmen will. Gleichzeitig stellt diese Nachricht ein Auskunftsersuchen hinsichtlich des Teilnahmeverhaltens eines Verpflichteten dar.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="identifikation" type="xauslaender:Identifikation.Int.ABHBAMF"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BAMFABH.VerpflichtungUebernahmeNichtMoeglich.070017">
      <xs:annotation>
         <xs:appinfo>
            <title>Übernahme Verpflichtung nicht möglich</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht ist eine Antwort auf die Nachricht zur Übernahme einer TGS-/TLA-Verpflichtung mit gleichzeitigem Auskunftersuchen zur ordnungsgemäßen Kursteilnahme (nachricht.070016). Mit ihr teilt das BAMF der ABH im Fehlerfall (z. B. Person unbekannt, keine TGS-/TLA-Verpflichtung) den Grund dafür mit, dass eine Übernahme nicht möglich ist und somit auch keine Auskunft über das Teilnahmeverhalten erteilt werden kann.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="grundCode"
                              minOccurs="0"
                              type="xauslaender:Code.BAMFABH.VerpflichtungNichtMoeglich">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Grund (Code) dafür übermittelt, dass keine Übernahme einer TGS-/TLA-Verpflichtung möglich ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="grund" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element kann zusätzlich und/oder alternativ (außerhalb der Codeliste) eine Erläuterung oder Ergänzung der Begründung angegeben werden, warum keine Übernahme einer TGS-/TLA-Verpflichtung möglich ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BAMFABH.VerkuerzteTGSVerpflichtung.070018">
      <xs:annotation>
         <xs:appinfo>
            <title>Verkürzung der TGS-Verpflichtung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt das BAMF mit, dass eine übernommene Verpflichtung durch den TGS/TLA verkürzt wurde.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="identifikation" type="xauslaender:Identifikation.Int.ABHBAMF">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element soll die Identifikation innerhalb des Datenbestandes der Ausländerbehörde erfolgen. Es ist dabei eine Verbindung über die BAMF-Kennziffer (der übernommenen TGS-Verpflichtung) und das Geburtsdatum herzustellen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="gueltigBisVerkuerzt" type="xida:Tagesdatum">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält das Datum des Wegfalls der Verpflichtung.Implementierungshinweis:Der Anzeige des Datums sind folgende Worte voranzustellen: Datum des Wegfalls der Verpflichtung:</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anmeldestatus" type="xauslaender:Code.BAMFABH.Anmeldestatus">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird angegeben ob eine Anmeldung bereits erfolgt ist und welche Folgen aus der Verkürzung in Zusammenhang mit dem jeweiligen Anmeldestatus entstehen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHBAMF.Namensaenderung.070019">
      <xs:annotation>
         <xs:appinfo>
            <title>Änderung des Nachnamens</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt die ABH, im Falle einer ihr bekannt gewordenen Namensänderung, den neuen Nachnamen mit. Die automatisierte Nachricht über die Namensänderung soll generell nur innerhalb eines Zeitraumes von 3 Jahren ab Erteilung der Berechtigung/Verpflichtung gesendet werden. Nach Ablauf dieses Zeitraumes werden die Nachrichten vom BAMF nicht mehr verarbeitet.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.Int.BAMFABH">
               <xs:sequence>
                  <xs:element name="identifikation" type="xauslaender:Identifikation.Int.ABHBAMF"/>
                  <xs:element name="neuerNachname" type="xian:AllgemeinerName">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element teilt die ABH dem BAMF den neuen Nachnamen mit.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
