src/main/resources/xsd/xauslaender113/xauslaender-nachrichten-mb-abh.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xauslaender="http://www.osci.de/xauslaender1130"
           xmlns:xiaa="http://www.osci.de/xinneres/auslandsanschrift/3"
           xmlns:xian="http://www.osci.de/xinneres/allgemeinername/2"
           xmlns:xiaz="http://www.osci.de/xinneres/azrnummer/1"
           xmlns:xida="http://www.osci.de/xinneres/datum/2"
           xmlns:xima="http://www.osci.de/xinneres/meldeanschrift/3"
           xmlns:xink="http://www.osci.de/xinneres/basisnachricht/4"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.osci.de/xauslaender1130"
           version="1.13.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XAusländer</nameLang>
            <nameKurz>XAusländer</nameKurz>
            <nameTechnisch>xinneres.xauslaender</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.xauslaender</kennung>
            <beschreibung>Das Fachmodul XAusländer des Standards XInneres beschreibt die Datenübermittlung im Ausländerwesen.</beschreibung>
         </standard>
         <versionStandard>
            <version>1.13.0</version>
            <versionXOEVProfil>1.5.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.1</versionXOEVHandbuch>
            <versionXGenerator>2.6.1</versionXGenerator>
            <versionModellierungswerkzeug>18.0 SP6</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xauslaender-allgemeine-datentypen.xsd"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/allgemeinername/2/xinneres-name.xsd"
              namespace="http://www.osci.de/xinneres/allgemeinername/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/auslandsanschrift/3/xinneres-auslandsanschrift.xsd"
              namespace="http://www.osci.de/xinneres/auslandsanschrift/3"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/azrnummer/1/xinneres-azrnummer.xsd"
              namespace="http://www.osci.de/xinneres/azrnummer/1"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/basisnachricht/4/xinneres-basisnachricht.xsd"
              namespace="http://www.osci.de/xinneres/basisnachricht/4"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/datum/2/xinneres-datum.xsd"
              namespace="http://www.osci.de/xinneres/datum/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/meldeanschrift/3/xinneres-meldeanschrift.xsd"
              namespace="http://www.osci.de/xinneres/meldeanschrift/3"/>
   <xs:import schemaLocation="http://xoev.de/latinchars/1_1/datatypes/latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:complexType name="AbmeldungZusatzdaten.MBABH">
      <xs:annotation>
         <xs:appinfo>
            <title>Zusatzdaten für die Abmeldung</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Element werden die bei einer Abmeldung gemäß § 72 aufenthv_s geforderten zusätzlichen Daten übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="neueHwAw" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zur neuen Haupt- oder alleinigen Wohnung übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice>
                  <xs:element name="neueHwAw" type="xima:Meldeanschrift"/>
                  <xs:element name="auslandsHwAw" type="xiaa:Auslandsanschrift.Druckbild">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die neue Anschrift des Ausländers im Ausland angegeben. Die Anschrift ist soweit bekannt anzugeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="tagDesAuszugs" type="xida:TagesdatumMitUnbekannt">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Tag des Auszugs aus der bisherigen HW/AW gemeldet.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AnmeldungZusatzdaten.MBABH">
      <xs:annotation>
         <xs:appinfo>
            <title>Zusatzdaten für die Anmeldung</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Element werden die bei der Anmeldung gemäß § 72 aufenthv_s geforderten zusätzlichen Daten mitgeteilt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="angabenFamilienstand" type="xauslaender:Familienstand.MBABH">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden die Angaben zum Familienstand übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="angabenPass"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xauslaender:Ausweisdokument.MBABH">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zu einem Pass oder Passersatzpapier oder Ausweisdokument übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fruehereAnschrift" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zu einer früheren Anschrift übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice>
                  <xs:element name="anschrift.inland" type="xima:Meldeanschrift">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die Inlandsanschrift des Ausländers übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anschrift.ausland" type="xiaa:Auslandsanschrift.Druckbild">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die Auslandsanschrift des Ausländers übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="tagDesEinzuges" type="xida:TagesdatumMitUnbekannt">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Tag des Einzuges in die HWAW übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vertreter" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zu einem Vertreter übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice>
                  <xs:element name="gesetzlVertreter.MBABH"
                              maxOccurs="unbounded"
                              type="xauslaender:GesetzlVertreter.MBABH"/>
                  <xs:element name="vertreter.JuristischePerson"
                              type="xauslaender:Vertreter.JuristischePerson"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="doktorgrad" minOccurs="0" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>In diesem Element werden die im Melderegister gespeicherten Doktortitel übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="auskunftssperren" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Es sind die Auskunftssperren und die zur Identifikation des quittungsrelevanten Sachverhalts nötigen Informationen zu übermitteln.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="auskunftssperre"
                              maxOccurs="unbounded"
                              type="xauslaender:MBAuskunftssperre">
                     <xs:annotation>
                        <xs:documentation>Dieses Element übermittelt die Auskunftssperre.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="identifikation.quittungsrelevanterSachverhalt"
                              type="xink:Identifikation.Ereignis">
                     <xs:annotation>
                        <xs:documentation>Es sind die zur Identifikation des quittungsrelevanten Sachverhalts nötigen Informationen anzugeben. Das Kindelement ereignis.zeitpunkt wird verwendet, um beim Leser die ursprüngliche Chronologie der Ereignisse beim Autor der Nachricht zu rekonstruieren. Es ist der Zeitpunkt zu übermitteln, zu dem das Ereignis im Verfahren gespeichert wurde. Der Ereigniszeitpunkt muss neben einer Angabe zum Datum eine zeitliche Information beinhalten. Diese ist mit einer Genauigkeit auf Ebene von Millisekunden und der Angabe zur Zeitzone zu übermitteln. Der hier übermittelte Zeitpunkt kann von dem Erstellungszeitpunkt der Nachricht, in der das Ereignis übermittelt wird, abweichen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Ausweisdokument.MBABH">
      <xs:annotation>
         <xs:documentation>Mit diesem Typ ist es möglich, alle vorkommenden Ausweisarten, die von der Meldebehörde an die Ausländerbehörde übermittelt werden, abzubilden. Beinhaltet Informationen über Original- und Ersatzpapiere.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xauslaender:Ausweisdokument">
            <xs:sequence>
               <xs:element name="ausweisart" minOccurs="0" type="xauslaender:Code.Ausweisart"/>
               <xs:element name="ausweisIdentifikation"
                           minOccurs="0"
                           type="xoev-lc:String.Latin">
                  <xs:annotation>
                     <xs:documentation>Seriennummer eines Ausweisdokuments.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="gueltigkeitszeitraum"
                           minOccurs="0"
                           type="xauslaender:Zeitraum">
                  <xs:annotation>
                     <xs:documentation>In diesem Element wird der Gültigkeitszeitraum des Ausweisdokumentes übermittelt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ausstellungsdatum"
                           minOccurs="0"
                           type="xida:TeilbekanntesDatumMitUnbekannt">
                  <xs:annotation>
                     <xs:documentation>Dies ist das Ausstellungsdatum des Ausweisdokumentes.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ausstellendeBehoerde"
                           minOccurs="0"
                           type="xauslaender:Behoerde">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird die Behörde übermittelt, die das Ausweisdokument erstellt hat.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Familienstand.MBABH">
      <xs:annotation>
         <xs:appinfo>
            <title>Familienstand im Meldewesen</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Element werden Angaben zur Änderung des Familienstandes übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xauslaender:Familienstand">
            <xs:sequence>
               <xs:element name="familienstand" type="xauslaender:Code.Familienstand">
                  <xs:annotation>
                     <xs:documentation>Dieses Element enthält die Meldung zum Familienstand im Meldewesen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GesetzlVertreter.MBABH">
      <xs:annotation>
         <xs:documentation>Mit diesem Element werden Informationen zu einem gesetzlichen Vertreter übermittelt. Der gesetzliche Vertreter ist beispielsweise ein Elternteil für das minderjährige Kind oder ein Vormund, wenn den Eltern die elterliche Sorge nicht zusteht. Das Kindelement anschrift/gebaeude aus dem Basistyp muss übermittelt werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xauslaender:Vertreter.NatuerlichePerson">
            <xs:sequence>
               <xs:element name="geburtsdatumVertreter" type="xauslaender:VertreterGeburt.MBABH"/>
               <xs:element name="geschlecht" type="xauslaender:Geschlecht">
                  <xs:annotation>
                     <xs:documentation>Es ist das Geschlecht zu übermitteln.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="IdentifikationPerson.MBABH">
      <xs:annotation>
         <xs:appinfo>
            <title>Struktur zur Identifikation einer Person</title>
         </xs:appinfo>
         <xs:documentation>Dieses Element dient der Identifikation der betroffenen natürlichen Person.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xauslaender:IdentifikationPersonOhneGeschlechtsangabe.MBABH">
            <xs:sequence>
               <xs:element name="geschlecht" type="xauslaender:Geschlecht"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="IdentifikationPersonOhneGeschlechtsangabe.MBABH">
      <xs:annotation>
         <xs:appinfo>
            <title>Struktur zur Identifikation einer Person ohne Geschlechtsangabe</title>
         </xs:appinfo>
         <xs:documentation>Dieses Element dient der Identifikation der betroffenen natürlichen Person beim Datenabgleich nach § 90b AufenthG.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="vorname" minOccurs="0" type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der aktuelle Vorname eines Ausländers übermittelt. Sofern es sich nicht um einen Vornamen aus einer deutschen Personenstandsurkunde handelt, ist der Vorname laut Pass maßgebend oder ein Vorname nach eigenen Angaben, sofern keine geeigneten Nachweisdokumente vorgelegt wurden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="familiennamePeriode1" type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der aktuelle Familienname eines Ausländers übermittelt. Dabei kann es sich um einen Namen nach Pass oder anderen geeigneten Nachweisdokumenten, einen Namen nach deutschem Recht oder einen Namen nach eigenen Angaben, sofern keine geeigneten Nachweisdokumente vorlagen, handeln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="familiennamePeriode2"
                     minOccurs="0"
                     type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Sofern in Periode 2 ein Familienname gespeichert ist, wird dieser mit diesem Element übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburt" type="xauslaender:Geburt"/>
         <xs:element name="geburtsname" minOccurs="0" type="xian:AllgemeinerName"/>
         <xs:element name="staatsangehoerigkeit"
                     maxOccurs="4"
                     type="xauslaender:AngabenZumStaat">
            <xs:annotation>
               <xs:documentation>Alle Staatsangehörigkeiten gem. § 71 Abs. 2 Nr. 6 aufenthv_s sind zu Identifikationszwecken von der Meldebehörde bei Nachrichten gem. § 72 Abs. 1 an die Ausländerbehörde zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschriftHwaw" type="xima:Meldeanschrift">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die HW oder AW des Ausländers übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ordnungsmerkmalMB" minOccurs="0" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird das Ordnungsmerkmal der Meldebehörde (§ 4 BMG) übermittelt. Das Ordnungsmerkmal darf nicht als alleiniges Identifikationsmerkmal herangezogen werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="azrNummer" minOccurs="0" type="xiaz:AZRNummer">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die AZR-Nummer für den Zeitraum gemäß § 10 Abs. 4 AZR-Gesetz übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MBABH.EheOderLebenspartner">
      <xs:annotation>
         <xs:appinfo>
            <title>Informationen zum Ehe- oder Lebenspartner</title>
         </xs:appinfo>
         <xs:documentation>Dieses Element enthält Angaben zum Ehe- oder Lebenspartner.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="vorname" minOccurs="0" type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der aktuelle Vorname eines Ehe- oder Lebenspartners übermittelt. Sofern es sich nicht um einen Vornamen aus einer deutschen Personenstandsurkunde handelt, ist der Vorname laut Pass maßgebend oder ein Vorname nach eigenen Angaben, sofern keine geeigneten Nachweisdokumente vorgelegt wurden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="familiennamePeriode1" type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der aktuelle Familienname eines Ehe- oder Lebenspartners übermittelt. Dabei kann es sich um einen Namen nach Pass oder anderen geeigneten Nachweisdokumenten, einen Namen nach deutschem Recht oder einen Namen nach eigenen Angaben, sofern keine geeigneten Nachweisdokumente vorlagen, handeln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="familiennamePeriode2"
                     minOccurs="0"
                     type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Sofern in Periode 2 ein Familienname gespeichert ist, wird dieser mit diesem Element übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NameFamilienstand.MBABH">
      <xs:annotation>
         <xs:appinfo>
            <title>Name bei Familienstandsänderung</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Element werden Angaben zur Änderung von Familien-, Ehe- und Lebenspartnerschaftsnamen in Zusammenhang mit der Änderung des Familienstandes übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="familienname" minOccurs="0" type="xian:AllgemeinerName"/>
         <xs:element name="ehename" minOccurs="0" type="xian:AllgemeinerName"/>
         <xs:element name="lebenspartnerschaftsname"
                     minOccurs="0"
                     type="xian:AllgemeinerName"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NameNamensaenderung.MBABH">
      <xs:annotation>
         <xs:appinfo>
            <title>Alte und neue Namensangaben bei einer Namensänderung</title>
         </xs:appinfo>
         <xs:documentation>Dieses Element enthält Angaben zu Namen aufgrund einer Namensänderung.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="familienname" minOccurs="0" type="xian:AllgemeinerName"/>
         <xs:element name="geburtsname" minOccurs="0" type="xian:AllgemeinerName"/>
         <xs:element name="ehename" minOccurs="0" type="xian:AllgemeinerName"/>
         <xs:element name="lebenspartnerschaftsname"
                     minOccurs="0"
                     type="xian:AllgemeinerName"/>
         <xs:element name="vorname" minOccurs="0" type="xian:AllgemeinerName"/>
         <xs:element name="rufname" minOccurs="0" type="xian:AllgemeinerName"/>
         <xs:element name="fruehererVorname" minOccurs="0" type="xian:AllgemeinerName"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Person.MBABH">
      <xs:annotation>
         <xs:appinfo>
            <title>Datensatz einer Person</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Element wird genau ein Datensatz übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="fallID" type="xs:integer">
            <xs:annotation>
               <xs:documentation>Die fallID dient der Identifizierung eines Datensatzes um diesen im Problemfall referenzieren zu können.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="person"
                     type="xauslaender:IdentifikationPersonOhneGeschlechtsangabe.MBABH"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="VertreterGeburt.MBABH">
      <xs:annotation>
         <xs:appinfo>
            <title>Geburtsdatum des gesetzlichen Vertreters</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Element wird das Geburtsdatum eines gesetzlichen Vertreters übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xauslaender:Geburt">
            <xs:sequence>
               <xs:element name="tagDerGeburt" type="xida:TeilbekanntesDatumMitUnbekannt"/>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ZusatzdatenFamilienstand.MBABH">
      <xs:annotation>
         <xs:appinfo>
            <title>Zusatzangaben bei Änderung des Familienstandes</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Element werden die bei einer Meldung zur Änderung des Familienstandes gem. § 72 Abs. 2 Nr. 4 und 4a aufenthv_s geforderten Angaben übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="aenderungFamilienstand" type="xauslaender:Familienstand.MBABH">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der neue Familienstand mitgeteilt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="tagDerAenderung">
            <xs:complexType>
               <xs:choice>
                  <xs:element name="nichtVorhanden" fixed="true" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Sofern im Melderegister für das Datum der letzten Eheschließung, die Begründung der letzten Lebenspartnerschaft bzw. die Beendigung oder Nichtigkeit der letzten Ehe oder der letzten Lebenspartnerschaft kein Datum gespeichert ist, ist auch kein Datum zu übermitteln.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="datum" type="xida:Tagesdatum">
                     <xs:annotation>
                        <xs:documentation>Dieses Element bezeichnet den Tag der Eheschließung oder Begründung einer Lebenspartnerschaft, den Tag der Beendigung der Ehe oder Lebenspartnerschaft bzw. den Tag des Ablebens des Ehe- oder Lebenspartners.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="alterName"
                     minOccurs="0"
                     type="xauslaender:NameFamilienstand.MBABH">
            <xs:annotation>
               <xs:documentation>Dieses Element beinhaltet Angaben zu einem Namen vor Änderung des Familienstandes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="neuerName"
                     minOccurs="0"
                     type="xauslaender:NameFamilienstand.MBABH">
            <xs:annotation>
               <xs:documentation>Dieses Element beinhaltet Angaben zu einem Namen nach Änderung des Familienstandes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="datumDesBeginnsDerDerEheVorangehendenLebenspartnerschaft"
                     minOccurs="0"
                     type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>In diesem Element wird das Datum des Beginns der der Ehe vorangehenden Lebenspartnerschaft übermittelt. Dieses Element ist nur zu befüllen, wenn die Lebenspartner und Eheleute identisch sind und inzwischen keine Aufhebung der Lebenspartnerschaft erfolgt war.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="MBABH.Anmeldung.030101">
      <xs:annotation>
         <xs:appinfo>
            <title>Anmeldung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt die Meldebehörde der zuständigen ABH den Zuzug eines Ausländers mit. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="identifikationPerson.MBABH"
                              type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die persönlichen Angaben zur Identifizierung einer Person (Namen, Geburtsdaten, Staatsangehörigkeit und Anschrift), auf die sich das Handeln zwischen Meldebehörde und Ausländerbehörde bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anmeldungZusatzdaten.MBABH"
                              type="xauslaender:AnmeldungZusatzdaten.MBABH"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.Abmeldung.030102">
      <xs:annotation>
         <xs:appinfo>
            <title>Abmeldung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt die Meldebehörde der ABH, unter Angabe des Grundes, den Wegzug eines Ausländers aus seiner Haupt- oder alleinigen Wohnung oder die Stornierung eines Ausländers aus dem Melderegister mit. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="identifikationPerson.MBABH"
                              type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die persönlichen Angaben zur Identifizierung einer Person (Namen, Geburtsdaten, Staatsangehörigkeit und Anschrift) auf die sich das Handeln zwischen Meldebehörde und Ausländerbehörde bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="grund">
                     <xs:complexType>
                        <xs:choice>
                           <xs:element name="abmeldung">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="zusatzdaten" type="xauslaender:AbmeldungZusatzdaten.MBABH"/>
                                    <xs:element name="grundDerAbmeldung"
                                                type="xauslaender:Code.MBABH.GrundDerAbmeldung">
                                       <xs:annotation>
                                          <xs:documentation>Mit dieser Codelist wird der Grund für diese Nachricht mitgeteilt.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="stornierung">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="grundDerStornierung" type="xauslaender:Code.MBABH.Stornierung">
                                       <xs:annotation>
                                          <xs:documentation>Es ist der Grund für die Stornierung anzugeben.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="identifikationPersonWeiterhinGueltig.MBABH"
                                                minOccurs="0"
                                                type="xauslaender:IdentifikationPerson.MBABH">
                                       <xs:annotation>
                                          <xs:documentation>Sofern eine Person doppelt im Melderegister geführt wurde, sind hier die Identifikationsdaten des weiterhin aktiven Datensatzes anzugeben.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.Hauptwohnung.030103">
      <xs:annotation>
         <xs:appinfo>
            <title>Änderung der Hauptwohnung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden Änderungen zur Haupt- bzw. alleinigen Wohnung übermittelt. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="identifikationPerson.MBABH"
                              type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die persönlichen Angaben zur Identifizierung einer Person (Namen, Geburtsdaten, Staatsangehörigkeit und Anschrift) auf die sich das Handeln zwischen Meldebehörde und Ausländerbehörde bezieht.Bei einer Änderungsmeldung ist die Identifikation nur dann zweifelsfrei möglich, wenn die bisher gespeicherten Daten übermittelt werden. Im Falle von Geburt und Anmeldung können lediglich die aktuell vorliegenden Informationen übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="neueHwAw" type="xima:Meldeanschrift">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die Anschrift einer neuen HW/AW mitgeteilt wie in den Fällen in beschrieben. Mit der gleichen Nachricht können aber auch geänderte Daten aus Anlass einer Adressumbenennung gemeldet werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="tagDesEinzuges" type="xida:TagesdatumMitUnbekannt">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Tag des Einzuges in die neue HWAW übermittelt.Im Fall des Statuswechsels einer Wohnung von NW zu HW/AW oder von HW/AW zu NW ist das Datum des Statuswechsels einzutragen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.Familienstand.030104">
      <xs:annotation>
         <xs:appinfo>
            <title>Änderung des Familienstandes</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht wird die Änderung des Familienstandes übermittelt. Da damit im allgemeinen auch Namensänderungen einhergehen, können diese, ausschließlich in diesem Sachzusammenhang erfolgten Änderungen, ebenfalls mit übermittelt werden. Dies bezieht sich jedoch lediglich auf den Familiennamen, den Ehenamen und den Lebenspartnerschaftsnamen, da die Änderung des Familienstandes keine Änderung des Geburtsnamens herbeiführt. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="identifikationPerson.MBABH"
                              type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die persönlichen Angaben zur Identifizierung einer Person (Namen, Geburtsdaten, Staatsangehörigkeit und Anschrift) auf die sich das Handeln zwischen Meldebehörde und Ausländerbehörde bezieht.Bei einer Änderungsmeldung ist die Identifikation nur dann zweifelsfrei möglich, wenn die bisher gespeicherten Daten übermittelt werden. Im Falle von Geburt und Anmeldung können lediglich die aktuell vorliegenden Informationen übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aenderungsart" type="xauslaender:Aenderungsart"/>
                  <xs:element name="zusatzdaten" type="xauslaender:ZusatzdatenFamilienstand.MBABH"/>
                  <xs:element name="eheOderLebenspartner"
                              minOccurs="0"
                              type="xauslaender:MBABH.EheOderLebenspartner">
                     <xs:annotation>
                        <xs:documentation>Sofern im Melderegister Informationen zu einem Ehe- oder Lebenspartner vorliegen, können diese mit diesem Element übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.Name.030105">
      <xs:annotation>
         <xs:appinfo>
            <title>Änderung des Namens</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden Änderungen oder Korrekturen des Namens einer Person übermittelt. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="identifikationPerson.MBABH"
                              type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die persönlichen Angaben zur Identifizierung einer Person (Namen, Geburtsdaten, Staatsangehörigkeit und Anschrift) auf die sich das Handeln zwischen Meldebehörde und Ausländerbehörde bezieht.Bei einer Änderungsmeldung ist die Identifikation nur dann zweifelsfrei möglich, wenn die bisher gespeicherten Daten übermittelt werden. Im Falle von Geburt und Anmeldung können lediglich die aktuell vorliegenden Informationen übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aenderungsart" type="xauslaender:Aenderungsart"/>
                  <xs:element name="alterName" type="xauslaender:NameNamensaenderung.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element beinhaltet Angaben zu einem Namen vor seiner Änderung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="neuerName" type="xauslaender:NameNamensaenderung.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element beinhaltet Angaben zu einem Namen nach seiner Änderung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.Staatsangehoerigkeit.030106">
      <xs:annotation>
         <xs:appinfo>
            <title>Änderung der Staatsangehörigkeit</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden Informationen zur Staatsangehörigkeit(-en) eines Ausländers übermittelt. Es werden generell alle Staatsangehörigkeiten der Person übermittelt. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="identifikationPerson.MBABH"
                              type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die persönlichen Angaben zur Identifizierung einer Person (Namen, Geburtsdaten, Staatsangehörigkeit und Anschrift) auf die sich das Handeln zwischen Meldebehörde und Ausländerbehörde bezieht.Bei einer Änderungsmeldung ist die Identifikation nur dann zweifelsfrei möglich, wenn die bisher gespeicherten Daten übermittelt werden. Im Falle von Geburt und Anmeldung können lediglich die aktuell vorliegenden Informationen übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aenderungsart" type="xauslaender:Aenderungsart"/>
                  <xs:element name="neueStaatsangehoerigkeit"
                              maxOccurs="4"
                              type="xauslaender:AngabenZumStaat">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden alle aktuellen Staatsangehörigkeiten gemeldet.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.Geburt.030107">
      <xs:annotation>
         <xs:appinfo>
            <title>Mitteilung einer Geburt</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht können Informationen über eine Geburt eines Kindes übermittelt werden. Diese Nachricht soll nur zur Ersterfassung genutzt werden. Für die Änderungen gibt es gesonderte Nachrichten. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="kind" type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden in diesem Sachzusammenhang die persönlichen Daten des neugeborenen Kindes übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aenderungsart" type="xauslaender:Aenderungsart"/>
                  <xs:element name="gesetzlVertreter.MBABH"
                              maxOccurs="2"
                              type="xauslaender:GesetzlVertreter.MBABH"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.Geschlecht.030108">
      <xs:annotation>
         <xs:appinfo>
            <title>Mitteilung über Änderung des Geschlechts</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden Angaben zur Änderung der Geschlechtsbezeichnung übermittelt. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="identifikationPerson.MBABH"
                              type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die persönlichen Angaben zur Identifizierung einer Person (Namen, Geburtsdaten, Staatsangehörigkeit und Anschrift) auf die sich das Handeln zwischen Meldebehörde und Ausländerbehörde bezieht.Bei einer Änderungsmeldung ist die Identifikation nur dann zweifelsfrei möglich, wenn die bisher gespeicherten Daten übermittelt werden. Im Falle von Geburt und Anmeldung können lediglich die aktuell vorliegenden Informationen übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aenderungsart" type="xauslaender:Aenderungsart"/>
                  <xs:element name="neuesGeschlecht" type="xauslaender:Geschlecht">
                     <xs:annotation>
                        <xs:documentation>Dieses Element übermittelt das neue Geschlecht oder Angaben zur geänderten Geschlechtsbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.Tod.030109">
      <xs:annotation>
         <xs:appinfo>
            <title>Mitteilung eines Todesfalls</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht kann die Meldebehörde der zuständigen Ausländerbehörde den Tod eines Ausländers oder die Änderung des Sterbetages mitteilen. Eine Reaktivierung des Datensatzes ist durch diese Nachricht nicht möglich. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="identifikationPerson.MBABH"
                              type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die persönlichen Angaben zur Identifizierung einer Person (Namen, Geburtsdaten, Staatsangehörigkeit und Anschrift) auf die sich das Handeln zwischen Meldebehörde und Ausländerbehörde bezieht.Bei einer Änderungsmeldung ist die Identifikation nur dann zweifelsfrei möglich, wenn die bisher gespeicherten Daten übermittelt werden. Im Falle von Geburt und Anmeldung können lediglich die aktuell vorliegenden Informationen übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aenderungsart" type="xauslaender:Aenderungsart"/>
                  <xs:element name="sterbetag" type="xida:TeilbekanntesDatumMitUnbekannt">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Tag des Ablebens übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.Vertreter.030110">
      <xs:annotation>
         <xs:appinfo>
            <title>Der gesetzliche Vertreter</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt die Meldebehörde anlässlich des Eintrags eines neuen Vertreters oder der Änderung von Angaben zu einem bestehenden Vertreter den aktuellen Gesamtstand zu allen benannten Vertretern des Betroffenen mit. Wenn kein Vertreter mehr für den Betroffenen benannt ist, wird die Nachricht ohne Vertreter übermittelt, damit beim Leser die Angaben zu Vertretern entfernt werden können. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="identifikationPerson.MBABH"
                              type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die persönlichen Angaben zur Identifizierung einer Person (Namen, Geburtsdaten, Staatsangehörigkeit und Anschrift) auf die sich das Handeln zwischen Meldebehörde und Ausländerbehörde bezieht.Bei einer Änderungsmeldung ist die Identifikation nur dann zweifelsfrei möglich, wenn die bisher gespeicherten Daten übermittelt werden. Im Falle von Geburt und Anmeldung können lediglich die aktuell vorliegenden Informationen übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aenderungsart" type="xauslaender:Aenderungsart"/>
                  <xs:element name="vertreter" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden Angaben zu einem Vertreter übermittelt.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:choice>
                           <xs:element name="gesetzlVertreter.MBABH"
                                       maxOccurs="unbounded"
                                       type="xauslaender:GesetzlVertreter.MBABH"/>
                           <xs:element name="vertreter.JuristischePerson"
                                       type="xauslaender:Vertreter.JuristischePerson"/>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.AenderungGeburtsdaten.030111">
      <xs:annotation>
         <xs:appinfo>
            <title>Änderung der Geburtsdaten</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht können Angaben zu einer Geburt geändert oder ergänzt werden. Diese Nachricht unterscheidet sich von der Nachricht nachricht.030107 dadurch, dass bereits Angaben zu einer Geburt vorhanden sind. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="identifikationPerson.MBABH"
                              type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die persönlichen Angaben zur Identifizierung einer Person (Namen, Geburtsdaten, Staatsangehörigkeit und Anschrift) auf die sich das Handeln zwischen Meldebehörde und Ausländerbehörde bezieht.Bei einer Änderungsmeldung ist die Identifikation nur dann zweifelsfrei möglich, wenn die bisher gespeicherten Daten übermittelt werden. Im Falle von Geburt und Anmeldung können lediglich die aktuell vorliegenden Informationen übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aenderungGeburt" type="xauslaender:Geburt.Aenderung">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden geänderte Geburtsdaten übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.Auskunftssperre.030112">
      <xs:annotation>
         <xs:appinfo>
            <title>Auskunftssperre</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht ist zu verwenden, wenn eine oder mehrere Auskunftssperren zurückgenommen oder neu angelegt werden. Für das Fachverfahren ist es bedeutsam, im Falle mehrerer vorhandener Arten von Auskunftssperren diese anhand ihrer Rechtsgrundlage voneinander unterscheiden zu können. Nur so kann bei unterschiedelichen Arten mit unterschiedlichen Fristen eine Änderungsmeldung der Meldebehörde richtig verarbeitet werden und eine fachlich korrekte Weitergabe dieser Information im Rahmen der Mitteilung zur Vorabinformation (nachricht.ref.010205) an eine neu zuständige ABH weitergegeben werden. In der Kommunikation zwischen Melde- und Ausländerbehörde stellt die Mitteilung über eine Auskunftssperre einen eigenen Meldesachverhalt dar und ist daher immer mit einer eigenen Nachricht zu übermitteln. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="identifikationPerson.MBABH"
                              type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die persönlichen Angaben zur Identifizierung einer Person (Namen, Geburtsdaten, Staatsangehörigkeit und Anschrift) auf die sich das Handeln zwischen Meldebehörde und Ausländerbehörde bezieht.Bei einer Änderungsmeldung ist die Identifikation nur dann zweifelsfrei möglich, wenn die bisher gespeicherten Daten übermittelt werden. Im Falle von Geburt und Anmeldung können lediglich die aktuell vorliegenden Informationen übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aenderung">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden Änderungen zu Auskunftssperren mitgeteilt.Die Angaben sind jeweils vollständig anzugeben.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="vorher"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xauslaender:MBAuskunftssperre">
                              <xs:annotation>
                                 <xs:documentation>Es sind alle Einträge zu Auskunftssperren vor der Änderung anzugeben. Wenn bisher keine Auskunftsperre eingetragen war, ist hier nichts zu übermitteln.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nachher" minOccurs="0">
                              <xs:annotation>
                                 <xs:documentation>Es sind die Auskunftssperren und die zur Identifikation des quittungsrelevanten Sachverhalts nötigen Informationen zu übermitteln. Wenn die letzte oder einzige Auskunftssperre gelöscht werden soll, ist hier nichts anzugeben.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="auskunftssperre"
                                                maxOccurs="unbounded"
                                                type="xauslaender:MBAuskunftssperre">
                                       <xs:annotation>
                                          <xs:documentation>Dieses Element übermittelt die Auskunftssperre.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="identifikation.quittungsrelevanterSachverhalt"
                                                type="xink:Identifikation.Ereignis">
                                       <xs:annotation>
                                          <xs:documentation>Es sind die zur Identifikation des quittungsrelevanten Sachverhalts nötigen Informationen anzugeben. Das Kindelement ereignis.zeitpunkt wird verwendet, um beim Leser die ursprüngliche Chronologie der Ereignisse beim Autor der Nachricht zu rekonstruieren. Es ist der Zeitpunkt zu übermitteln, zu dem das Ereignis im Verfahren gespeichert wurde. Der Ereigniszeitpunkt muss neben einer Angabe zum Datum eine zeitliche Information beinhalten. Diese ist mit einer Genauigkeit auf Ebene von Millisekunden und der Angabe zur Zeitzone zu übermitteln. Der hier übermittelte Zeitpunkt kann von dem Erstellungszeitpunkt der Nachricht, in der das Ereignis übermittelt wird, abweichen.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.VerlustDtStaatsangehoerigkeit.030113">
      <xs:annotation>
         <xs:appinfo>
            <title>Mitteilung des Verlusts der deutschen Staatsangehörigkeit</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden die Daten zur Anmeldung bei der Ausländerbehörde übermittelt, sofern der Grund der Anmeldung die Aufgabe, ein sonstiger Verlust der deutschen Staatsangehörigkeit oder eine Korrektur ist. Die Nachricht wird auch als Wiederanmeldung verwendet, wenn ein Deutscher seine Staatsangehörigkeit verliert und wieder eine ausländische Staatsangehörigkeit erhält. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="identifikationPerson.MBABH"
                              type="xauslaender:IdentifikationPerson.MBABH">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die persönlichen Angaben zur Identifizierung einer Person (Namen, Geburtsdaten, Staatsangehörigkeit und Anschrift), auf die sich das Handeln zwischen Meldebehörde und Ausländerbehörde bezieht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aenderungsart" type="xauslaender:Aenderungsart"/>
                  <xs:element name="anmeldungZusatzdaten.MBABH"
                              type="xauslaender:AnmeldungZusatzdaten.MBABH"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="MBABH.Datenabgleich.030201">
      <xs:annotation>
         <xs:appinfo>
            <title>Datenabgleich gem. § 90 b AufenthG</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht übermittelt die Meldebehörde der ABH im Rahmen des Datenabgleichs gem. § 90 b aufenthg_s zum Stichtag die in § 90 a Abs. 2 Nr. 1 bis 4 aufenthg_s genannten Daten.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.MBABH">
               <xs:sequence>
                  <xs:element name="person.MBABH"
                              maxOccurs="unbounded"
                              type="xauslaender:Person.MBABH"/>
                  <xs:element name="paketierung" type="xauslaender:Paketierung"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
