src/main/resources/xsd/xauslaender113/xauslaender-nachrichten-abh-abh.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xauslaender="http://www.osci.de/xauslaender1130"
           xmlns:xida="http://www.osci.de/xinneres/datum/2"
           xmlns:xima="http://www.osci.de/xinneres/meldeanschrift/3"
           xmlns:xink="http://www.osci.de/xinneres/basisnachricht/4"
           xmlns:xipa="http://www.osci.de/xinneres/postanschrift/3"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.osci.de/xauslaender1130"
           version="1.13.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XAusländer</nameLang>
            <nameKurz>XAusländer</nameKurz>
            <nameTechnisch>xinneres.xauslaender</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.xauslaender</kennung>
            <beschreibung>Das Fachmodul XAusländer des Standards XInneres beschreibt die Datenübermittlung im Ausländerwesen.</beschreibung>
         </standard>
         <versionStandard>
            <version>1.13.0</version>
            <versionXOEVProfil>1.5.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.1</versionXOEVHandbuch>
            <versionXGenerator>2.6.1</versionXGenerator>
            <versionModellierungswerkzeug>18.0 SP6</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xauslaender-allgemeine-datentypen.xsd"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/basisnachricht/4/xinneres-basisnachricht.xsd"
              namespace="http://www.osci.de/xinneres/basisnachricht/4"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/datum/2/xinneres-datum.xsd"
              namespace="http://www.osci.de/xinneres/datum/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/meldeanschrift/3/xinneres-meldeanschrift.xsd"
              namespace="http://www.osci.de/xinneres/meldeanschrift/3"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/postanschrift/3/xinneres-postanschrift.xsd"
              namespace="http://www.osci.de/xinneres/postanschrift/3"/>
   <xs:import schemaLocation="http://xoev.de/latinchars/1_1/datatypes/latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:complexType name="ABH.Dokument">
      <xs:annotation>
         <xs:appinfo>
            <title>Dokument einer Akte</title>
         </xs:appinfo>
         <xs:documentation>Dieses Element enthält die Metadaten eines Dokuments aus einer Akte.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="pfad" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Dieses Element gibt die Position des Dokuments in der Akte an, in der das Dokument beim Autor eingeordnet war. Die Bestandteile des Pfades sind von der Wurzel bis zum Dokument ohne Separatoren unter Verwendung des Elementes bestandteil anzugeben. Der Beispielpfad Integration/Deutschsprachförderung/Kursabschluss ist in der hiesigen XML-Repräsentation wie folgt zu übermitteln: ltpfadgt ltbestandteilgtIntegrationlt/bestandteilgt ltbestandteilgtDeutschsprachförderunglt/bestandteilgt ltbestandteilgtKursabschlusslt/bestandteilgt lt/pfadgt</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="bestandteil"
                              maxOccurs="unbounded"
                              type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird jeweils ein Bestandteil des Pfades zum Dokument angegeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="dokumentuuid" type="xink:UUID">
            <xs:annotation>
               <xs:documentation>Dieses Element übermittelt die UUID des Dokuments. Sie ordnet das Dokument zu der Datei im Dokumentencontainer zu.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dateiname" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Dieses Element übermittelt den Dateinamen. Die Dateiendung (z. B. .pdf oder .jpg) ist mit zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dokumenttyp" type="xauslaender:Code.Dokumentformat">
            <xs:annotation>
               <xs:documentation>Dieses Element übermittelt das Dokumentformat.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschreibung" minOccurs="0" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Dieses Element übermittelt die Beschreibung des Dokuments.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dokumentenposition" type="xs:integer">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Position des Dokumentes innerhalb der Aktenlieferung eindeutig angegeben. Es gibt die Reihenfolge der Dokumente in der Akte wieder. Es wird dem Leser der Akte als mögliches Sortierkriterium übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktenwirksamkeitszeitpunkt" minOccurs="0" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>Dieses Element übermittelt den Zeitpunkt der Aktenwirksamkeit des Dokuments. Dies ist das Datum, an dem das Dokument final zur Akte genommen wurde. Es wird dem Leser der Akte als mögliches Sortierkriterium übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ABHABH.Administration.Container">
      <xs:annotation>
         <xs:documentation>Dieser Container enthält sowohl die betroffene Nachricht, als auch Informationen zur Identifikation.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="meldendeStelle" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Dieses Kindelement ist nur dann zu übermitteln, wenn die Nachricht nicht von dem ursprünglich adressierten Leser zurückgesandt wird, sondern von einer anderen Stelle (zum Beispiel einer Clearingstelle, die im Auftrag der ursprünglich Behörde handelt).</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="pruefinstanz" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die Stelle bezeichnet, die die Nachricht beanstandet hat.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anschrift" type="xipa:PostalischeInlandsanschrift"/>
                  <xs:element name="kommunikation" type="xauslaender:Kommunikation"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="transportinformationen">
            <xs:annotation>
               <xs:documentation>In diesem Element sind Informationen zu übermitteln, die bei dem Empfang einer Nachricht möglicherweise der Transportebene entnommen werden konnten. Diese Angaben können gemacht werden, um dem Leser/Empfänger einer Rücksendenachricht die Identifikation der nunmehr zurückgesandten Nachricht zu erleichtern. Alle Kindelemente dieses Elementes sind optional, da keine verbindlichen Anforderungen an das Transportprotokoll gestellt werden können.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="nachrichtenID" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Hier muss eine Identifikation der Nachricht übermittelt werden, sofern sich diese aus dem Transportprotokoll entnehmen lässt. Im Falle von OSCI-Transport wäre hier die messageID des Transportumschlages zu nutzen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="betreff" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Hier kann der Inhalt der Betreff- oder Subject-Zeile der Nachricht übermittelt werden, sofern diese vorhanden ist und sich aus dem Transportprotokoll entnehmen lässt. Der Betreff</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="sendezeitpunkt" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Hier kann der Zeitpunkt des Versands der Nachricht übermittelt werden, sofern sich dieser aus dem Transportprotokoll entnehmen lässt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ergaenzendeHinweise"
                              minOccurs="0"
                              type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Hier können weitere Angaben gemacht werden, die dem Leser/Empfänger der Nachricht helfen, diese in seinem Verfahren zu identifizieren.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="urspruenglicheNachricht">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält die ursprüngliche Nachricht. Um technische Probleme mit verschachtelten XML-Dokumenten zu vermeiden, ist der zurückgesandte Inhalt immer base64-codiert zurückzusenden.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="nachricht" type="xs:base64Binary">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die ursprüngliche Nachricht. Um technische Probleme mit verschachtelten XML-Dokumenten zu vermeiden, ist der zurückgesandte Inhalt immer base64-codiert zurückzusenden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="nachrichtenID" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Hier werden Informationen übermittelt, die es dem Absender der ursprünglichen Nachricht erleichtern, die Nachricht zu identifizieren.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="nachrichtUUID" type="xink:UUID">
                              <xs:annotation>
                                 <xs:documentation>Hier wird die UUID der betroffenen Nachricht übermittelt werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nachrichtentyp" type="xauslaender:Code.Nachrichtentyp">
                              <xs:annotation>
                                 <xs:documentation>Die eindeutige Identifizierungsnummer für einen Nachrichtentyp.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="erstellungszeitpunkt" type="xs:dateTime">
                              <xs:annotation>
                                 <xs:documentation>Der Erstellungszeitpunkt der betroffenen Nachricht.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="BVAVerfahrensnummer">
      <xs:annotation>
         <xs:appinfo>
            <title>Geschäftszeichen des BVA</title>
         </xs:appinfo>
         <xs:documentation>Die BVA-Verfahrensnummer ist das Geschäftszeichen des BVA für Meldungen zu einer laufenden Beteiligungsanfrage oder einem Nachberichtsfall (Speichergrundlage § 65 Abs. 1, Nr. 10 aufenthv_s).</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xoev-lc:String.Latin">
         <xs:pattern value="\d{8}\d{6}\d{4}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="ABHABH.Erinnerung.010002">
      <xs:annotation>
         <xs:appinfo>
            <title>Nachricht zur Erinnerung an einen Vorgang</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht eröffnet die Möglichkeit, dem Leser/Empfänger einer beliebigen Anfrage eine Erinnerung an diese zu senden.Die erneute Versendung der ursprünglichen Nachricht in diesem Container erfolgt ausschließlich in der aktuell gültigen Version des XInneres-Fachmoduls. Diese Regelung gilt sowohl für die Erinnerung als auch für die zu verpackende, ursprüngliche Nachricht.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="aBHABH.Administration.Container"
                              maxOccurs="unbounded"
                              type="xauslaender:ABHABH.Administration.Container"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Zustaendigkeitsklaerung.Anfrage.010101">
      <xs:annotation>
         <xs:appinfo>
            <title>Zuständigkeitsklärung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht kann eine ABH angefragt werden, ob sie für eine bestimmte Person zuständig ist.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="aktenzeichenAnbietendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird das Aktenzeichen der anbietenden ABH übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="erreichbarkeit"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xauslaender:Kommunikation">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element können Angaben zur Erreichbarkeit der betroffenen Person übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="gewoehnlicherAufenthalt" type="xima:Meldeanschrift">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der gewöhnliche Aufenthalt der betroffenen Person übermittelt, der nicht im Bereich der bisher zuständigen ABH liegt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="postfach"
                              minOccurs="0"
                              type="xipa:PostalischeInlandsanschrift.Postfachanschrift">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird eine Postfachanschrift übermittelt, unter der die betroffene Person in Deutschland erreichbar ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Zustaendigkeitsklaerung.Antwort.010102">
      <xs:annotation>
         <xs:appinfo>
            <title>Antwort auf eine Zuständigkeitsklärung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht erklärt eine ABH, dass sie für die betroffene Person nicht zuständig ist.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="aktenzeichenAnfragendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird in der Antwort das Aktenzeichen der anfragenden ABH für diesen Vorgang zurückgeliefert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="antwortInhalt">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element erklärt die angesprochene ABH, dass sie für die betroffene Person nicht zuständig ist. Sie kann dabei Informationen zur Klärung des Sachverhaltes liefern, sofern solche Informationen vorliegen.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:choice>
                           <xs:element name="gewoehnlicherAufenthaltLiegtNichtVor"
                                       default="true"
                                       type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird mitgeteilt, dass ein gewöhnlicher Aufenthalt im Zuständigkeitsbereich der antwortenden ABH nicht vorliegt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nichtZustaendigMitBegruendung" type="xoev-lc:String.Latin">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element gibt die ABH an, aus welchem Grund sie nicht zuständig ist. Sofern Informationen vorliegen, welche für die weitere Klärung hilfreich sind, sollten diese hier angegeben werden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="aktenzeichenAntwortendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element teilt die antwortende ABH ihr Aktenzeichen für diesen Vorgang mit.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Aktenanforderung.Anfrage.010201">
      <xs:annotation>
         <xs:appinfo>
            <title>Aktenanforderung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht wird eine Akte (inclusive evtl. vorhandener Visaunterlagen) angefordert. Liegen lediglich Visaunterlagen vor, sind diese zu übermitteln. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden. Die Nachricht soll außerdem für eine ggf. notwendig werdende erneute Anforderung der Vorabinformationen verwendet werden, wenn die Vorabinformationen nicht aufgrund der bereits vorhergehenden Aktenanforderung übersandt wurden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="aktenzeichenAuftraggebendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird das Aktenzeichen der anfragenden ABH festgehalten.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anforderungsgrund"
                              type="xauslaender:Code.Nachricht.Aktenanforderung.Grund">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Grund für diese Aktenanforderung übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="versandbestaetigung" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element kann die anfordernde ABH von der versendenden ABH eine Versandbestätigung erbitten.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Aktenanforderung.Antwort.010202">
      <xs:annotation>
         <xs:appinfo>
            <title>Antwort auf eine Aktenanforderung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht wird auf eine Aktenanforderung geantwortet.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="aktenzeichenAuftraggebendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element übermittelt die antwortende ABH der auftraggebenden ABH deren ursprünglich gesendetes Aktenzeichen zurück.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktenzeichenAntwortendeABH"
                              minOccurs="0"
                              type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element übermittelt die antwortende ABH das Aktenzeichen, unter dem der Vorgang bei ihr geführt wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="antwortInhalt">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Auswahlelement wird einer der folgenden Sachverhalte übermittelt.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:choice>
                           <xs:element name="akteBereitsVersandt" type="xida:Tagesdatum">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element wird übermittelt, wenn eine Aktenanforderung eingegangen ist, nachdem die Akte bereits an die anfordernde ABH versandt wurde. Dies kann bei zeitlichen Überschneidungen oder Verlust auf dem Postwege auftreten.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="sonstigeAntwort"
                                       type="xauslaender:Code.Nachricht.Aktenanforderung.Antwort">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird die Antwort auf die Aktenanforderungsnachricht übermittelt, wenn die Akte nicht bereits versandt wurde oder bei einer anderen ABH vorliegt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="zustaendigkeitBekanntWeiterleitungNichtMoeglich"
                                       type="xauslaender:ZustaendigkeitBekanntWeiterleitungNichtMoeglich"/>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Aktenanforderung.Versandbestaetigung.010203">
      <xs:annotation>
         <xs:appinfo>
            <title>Versandbestätigung für eine Akte</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht wird der Aktenversand bestätigt, sofern dies von der anfragenden ABH gewünscht wurde.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="aktenzeichenAuftraggebendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element übermittelt die antwortende ABH der auftraggebenden ABH deren ursprünglich gesendetes Aktenzeichen zurück.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktenzeichenAntwortendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element übermittelt die antwortende ABH das Aktenzeichen, unter dem der Vorgang bei ihr geführt wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Aktenanforderung.VorabInformationen.010205">
      <xs:annotation>
         <xs:appinfo>
            <title>Übermittlung kurzfristig benötigter Informationen</title>
         </xs:appinfo>
         <xs:documentation>Im Falle des Umzuges werden mit dieser Nachricht Vorabinformationen an die neu zuständige ABH übermittelt, damit diese dort rasch verfügbar sind. Dies sind Angaben über den eAT, die BAMF-Kennziffer für den Integrationsvorgang, wenn vorhanden eine BVA-Verfahrensnummer und eine evtl. vorhandene meldebehördliche Auskunftssperre Nebenbestimmungen des Ausländers. Über eine vorhandene Auskunftssperre wird in den Vorabinformationen jedoch lediglich informiert, damit die ABH ggf. organisatorische Vorkehrungen für den Schutz der Daten der betroffenen Person treffen kann. Die Information ersetzt nicht die Meldung über den Eintrag der Auskunftssperre durch die neu zuständige Meldebehörde (nachricht.ref.030112), die die Grundlage für die Speicherung der Angabe im Ausländerwesen ist.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="eAT">
                     <xs:annotation>
                        <xs:documentation>Für die Sperrung der eID-Funktion im Falle des Verlustes eines eAT, muss dem Sperrdienst eine Sperrsumme übermittelt werden. Anhand dieser Sperrsumme wird die eID eines Dokumentes im Sperrregister identifiziert und als gesperrt gekennzeichnet. Diese Sperrsumme wird durch Anwendung eines Hashalgorithmus über Name, Vorname, Geburtsdatum und Sperrkennwort erzeugt; Sperrkennwort und Sperrsumme werden von der Bundesdruckerei an die ausstellende Behörde übermittelt. Die zuständige Ausländerbehörde ist, um die Möglichkeit zur Sperrung sicherstellen zu können, verpflichtet, Sperrkennwort, Sperrsumme sowie den Status der eID-Funktion in der Ausländerdatei A zu speichern. Bei einem Zuständigkeitswechsel sind diese Daten somit der neu zuständigen Behörde zu übermitteln. Geht die eAT-Information bei der ABH erst nach Aktenversand ein, wird die Nachricht nachricht.ref.010205 auch unabhängig von der Aktenanforderung versandt.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:choice>
                           <xs:element name="eATInformationen">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element wird übermittelt, wenn Informationen zum eAT vorhanden sind.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="sperrkennwort" type="xoev-lc:String.Latin">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element wird ein Sperrkennwort übermittelt.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="sperrsumme" type="xoev-lc:String.Latin">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element wird die Sperrsumme (der Sperrhash) übermittelt.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="eIDFunktionAktiv" type="xs:boolean">
                                       <xs:annotation>
                                          <xs:documentation>Dieses Element gibt an, ob die eID-Funktion zum Zeitpunkt der Übermittlung des Sperrkennwortes tatsächlich aktiviert ist.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="eATSeriennummer">
                                       <xs:annotation>
                                          <xs:documentation>Dieses Element übermittelt die Seriennummer des elektronischen Aufenthaltstitels.</xs:documentation>
                                       </xs:annotation>
                                       <xs:simpleType>
                                          <xs:restriction base="xoev-lc:String.Latin">
                                             <xs:pattern value="[A-Z0-9]{9}"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="eATSeriennummerPruefziffer" minOccurs="0">
                                       <xs:annotation>
                                          <xs:documentation>Dieses Element übermittelt die Prüfziffer der eAT-Seriennummer. Falls die Prüfziffer nicht im Fachverfahren gespeichert wird, braucht sie nicht für die Übermittlung gebildet werden.</xs:documentation>
                                       </xs:annotation>
                                       <xs:simpleType>
                                          <xs:restriction base="xoev-lc:String.Latin">
                                             <xs:pattern value="[0-9]{1}"/>
                                          </xs:restriction>
                                       </xs:simpleType>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="informationenLiegenNichtVor">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element wird übermittelt, wenn keine Informationen zum eAT vorhanden sind.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="eATBestellt" type="xs:boolean">
                                       <xs:annotation>
                                          <xs:documentation>Mit diesem Element wird mitgeteilt, ob ein eAT bereits bestellt ist, die Informationen zum Sperrkennwort aber noch nicht vorliegen.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="bamfkennziffer" minOccurs="0" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die BAMF-Kennziffer (eindeutige Kennziffer des Integrationsvorgangs) übermittelt, sofern eine vorhanden ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="mbauskunftssperre"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xauslaender:MBAuskunftssperre">
                     <xs:annotation>
                        <xs:documentation>Sofern eine meldebehördliche Auskunftssperre vorliegt, ist diese zu Übermitteln. Die Information ersetzt nicht die Meldung über den Eintrag der Auskunftssperre durch die neu zuständige Meldebehörde (nachricht.ref.030101).</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="bvaVerfahrensnummer"
                              minOccurs="0"
                              type="xauslaender:BVAVerfahrensnummer">
                     <xs:annotation>
                        <xs:documentation>Dieses Element übermittelt die BVA-Verfahrensnummer bei Sicherheitsanfragen nach § 73 Abs. 2 AufenthG.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="nebenbestimmung"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xauslaender:Nebenbestimmung">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Nebenbestimmungen übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Aktenanforderung.Akte.Metadaten.010206">
      <xs:annotation>
         <xs:appinfo>
            <title>Metadaten zum paketierten Aktenversand</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden die Informationen zur paketierten Lieferung der Akte übermittelt. Es sind jeweils die aktuellen Versionen der Dokumente der elektronischen Akte zu übermitteln.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="dokument"
                              maxOccurs="unbounded"
                              type="xauslaender:ABH.Dokument">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält die Metadaten eines Dokuments.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="identifikation.quittungsrelevanterSachverhalt"
                              minOccurs="0"
                              type="xink:Identifikation.Ereignis">
                     <xs:annotation>
                        <xs:documentation>Sofern eine Verarbeitungsbestätigung angefordert wird, ist dieses Element zu befüllen. Mit diesem wird der zu quittierende Sachverhalt in der angeforderten Quittung (Nachricht 0020) referenziert. Es ist das Vorgehen von Abschnitt zu befolgen. Es sind die zur Identifikation des quittungsrelevanten Sachverhalts nötigen Informationen anzugeben. Im Kindelement ereignis.zeitpunkt ist der Erstellungszeitpunkt der Nachricht anzugeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anzahlDerPakete" type="xs:integer">
                     <xs:annotation>
                        <xs:documentation>Dieses Element übermittelt die Anzahl der Pakete, mit denen die Inhaltsdaten der Akte mit Verwendung der nachricht.ref.010207 übermittelt wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Aktenanforderung.Akte.Paket.010207">
      <xs:annotation>
         <xs:appinfo>
            <title>Paket einer Aktenlieferung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht werden die Inhaltsdaten einer Akte übermittelt. Sollte die Nachricht größer als 50 MB werden, sind die zu übermittelnden Base64 codierten Inhaltsdaten entsprechend der Beschreibung des Elements dokumentcontainer zu paketieren. Es sind jeweils die aktuellen Versionen der Dokumente der elektronischen Akte zu übermitteln.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="dokumentcontainer" type="xs:base64Binary">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Dokumente im zip-Archiv übermittelt. Für das verpacken des zip-Archivs ist der DEFLATE- oder STORE-Algorithmus anzuwenden. Die Dokumente liegen flach in der Form ltdokumentuuidgt.ltdokumentformatgt im zip-Archiv vor. Die Zuordnung zu den Metadaten des Dokuments wird über das gleichnamige Kindelement dokumentuuid im Element dokument der nachricht.ref.010206 hergestellt. Das gesamte zip-Archiv wird in Base64 übermittelt. Die Größe der Nachricht darf nicht über 50 MB liegen. Sofern die Nachricht größer ausfällt, ist die Base64-Datei an geeigneter Stelle zu teilen und nahtlos im Folgepaket fortzusetzen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="identifikationAktenlieferung" type="xink:UUID">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die nachrichtenUUID der vorausgehenden nachricht.ref.010206 übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="paketnummer" type="xs:integer">
                     <xs:annotation>
                        <xs:documentation>Dieses Element übermittelt die Paketnummer der laufenden Aktenlieferung. Die Lieferung beginnt mit der Liefernummer 1.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Einreiseverbotsbefristung.Anfrage.010301">
      <xs:annotation>
         <xs:appinfo>
            <title>Beteiligungsanfrage zur Befristung des Einreiseverbots</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht wird die zu beteiligende ABH um Stellungnahme zu einem Antrag auf die Befristung eines Einreiseverbots gebeten. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="aktenzeichenAnfragendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element teilt die anfragende ABH ihr Aktenzeichen für diesen Vorgang mit.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktenzeichenEmpfangendeABH"
                              minOccurs="0"
                              type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element kann die anfragende ABH das Aktenzeichen der empfangenden ABH für diesen Vorgang mitteilen, sofern es ihr bekannt ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="befristungsgrund" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Dieses Element enthält Informationen über die vom Antragsteller genannten Gründe für sein Ersuchen um Befristung des Einreiseverbots, z. B. Eheschließung mit einem deutschen Partner, mit einem EU-Bürger oder deutsches Kind. Sofern der Antragsteller keinen Grund angegeben hat, wird dies in diesem Element notiert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Einreiseverbotsbefristung.Antwort.010302">
      <xs:annotation>
         <xs:appinfo>
            <title>Stellungnahme auf eine Anfrage zur Befristung eines Einreiseverbots</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt die beteiligte ABH der bzgl. einer Befristung eines Einreiseverbots anfragenden ABH ihre Stellungnahme mit.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="aktenzeichenAbsendendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element teilt die absendende ABH ihr Aktenzeichen für diesen Vorgang mit.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktenzeichenEmpfangendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element kann die absendende ABH das Aktenzeichen der empfangenden ABH für diesen Vorgang mitteilen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="antwortInhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:restriction base="xauslaender:AntwortInhalt">
                              <xs:choice>
                                 <xs:element name="zustimmung" type="xauslaender:Zustimmung"/>
                                 <xs:element name="ablehnung" type="xauslaender:Ablehnung"/>
                              </xs:choice>
                           </xs:restriction>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Einreiseverbotsbefristung.Entscheid.010303">
      <xs:annotation>
         <xs:appinfo>
            <title>Mitteilung der Entscheidung zur Befristung des Einreiseverbots</title>
         </xs:appinfo>
         <xs:documentation>Diese Nachricht wird an die im Beteiligungsverfahren zuständige ABH (die das Einreiseverbot angeordnet hat) gesandt, um sie über die Entscheidung der anfragenden ABH zu informieren. Dabei werden die Rahmenbedingungen der Zustimmung (eventuelle Nebenbestimmungen und das Datum, zu dem das Einreiseverbot endet) mit dem Element Zustimmung übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="entscheidung">
                     <xs:complexType>
                        <xs:choice>
                           <xs:element name="zustimmung" type="xauslaender:Zustimmung"/>
                           <xs:element name="ablehnung" type="xauslaender:Ablehnung"/>
                        </xs:choice>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="aktenzeichenAnfragendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element teilt die anfragende ABH ihr Aktenzeichen für diesen Vorgang mit.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktenzeichenEmpfangendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element teilt die anfragende ABH das Aktenzeichen der empfangenden ABH für diesen Vorgang mit.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Betretenserlaubnis.Anfrage.010401">
      <xs:annotation>
         <xs:appinfo>
            <title>Zustimmungsanfrage zur Betretenserlaubnis</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht wird die zu beteiligende ABH um Stellungnahme zu einem Antrag auf Betretenserlaubnis gebeten. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="aktenzeichenAnfragendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element teilt die anfragende ABH ihr Aktenzeichen für diesen Vorgang mit.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktenzeichenEmpfangendeABH"
                              minOccurs="0"
                              type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element kann die anfragende ABH das Aktenzeichen der empfangenden ABH für diesen Vorgang mitteilen, sofern es ihr bekannt ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="betretenszweck" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der vom Antragsteller angegebene Betretenszweck übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="betretenszeitraum" type="xauslaender:Zeitraum">
                     <xs:annotation>
                        <xs:documentation>In diesem Element wird der gewünschte Betretenszeitraum mitgeteilt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="zielanschrift" type="xima:Meldeanschrift">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der vorgesehene Aufenthaltsort übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="postfach"
                              minOccurs="0"
                              type="xipa:PostalischeInlandsanschrift.Postfachanschrift">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird ein Postfach für den vorgesehenen Aufenthaltsort übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Betretenserlaubnis.Antwort.010402">
      <xs:annotation>
         <xs:appinfo>
            <title>Stellungnahme auf eine Anfrage zur Gewährung einer Betretenserlaubnis</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt die beteiligte ABH der bzgl. einer Betretenserlaubnis anfragenden ABH ihre Stellungnahme mit.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="aktenzeichenAnfragendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird in der Antwort das Aktenzeichen der anfragenden ABH für diesen Vorgang zurückgeliefert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktenzeichenAntwortendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element teilt die antwortende ABH ihr Aktenzeichen für diesen Vorgang mit.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="antwortInhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:restriction base="xauslaender:AntwortInhalt">
                              <xs:choice>
                                 <xs:element name="zustimmung" type="xauslaender:Zustimmung"/>
                                 <xs:element name="ablehnung" type="xauslaender:Ablehnung"/>
                              </xs:choice>
                           </xs:restriction>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Wohnsitzwechsel.Anfrage.010501">
      <xs:annotation>
         <xs:appinfo>
            <title>Zustimmungsanfrage zum Wohnsitzwechsel</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht wird das Einvernehmen der für den gewünschten Aufenthaltsort zuständigen ABH zu einem Antrag auf Wohnsitzwechsel eingeholt. Im Falle einer Weiterleitung bzw. Nichtzuständigkeit ist für diese Nachricht der Weiterleitungsprozess aus xinneres-basismodul (siehe ) anzuwenden. Rechtsgrundlage: § 72 Abs. 3 aufenthg_s analog bzw. § 12 Abs. 2 / Abs. 5 aufenthg_s</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="umzugsgrund" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Grund für die Beantragung eines Wohnsitzwechsels übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktenzeichenAnfragendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element teilt die anfragende ABH ihr Aktenzeichen für diesen Vorgang mit.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="zielanschrift" type="xima:Meldeanschrift">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die durch den Antragsteller angegebene künftige Anschrift am angestrebten Wohnort mitgeteilt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aufenthaltsstatus" type="xauslaender:Aufenthaltsstatus">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der aktuelle Aufenthaltsstatus der antragstellenden Person übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="lebensunterhaltNichtGesichert" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element gibt die anfragende ABH an, ob der Lebensunterhalt am Zielort lediglich durch Inanspruchnahme öffentlicher Mittel gesichert sein wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="laufendesErmittlungsverfahren" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element gibt die anfragende ABH an, ob gegen die antragstellende Person Ermittlungsverfahren laufen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ausweisungsgruende" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element gibt die anfragende ABH ihre Erkenntnisse über relevante Ausweisungsgründe an.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="verletzungMitwirkungspflicht" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element gibt die anfragende ABH an, ob die antragstellende Person ihre Mitwirkungspflichten verletzt hat (zum Beispiel bei der Passbeschaffung).</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="akteneinsichtEmpfohlen" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element gibt die anfragende ABH einen Hinweis darauf, dass die Einsichtnahme in die Akte zur Entscheidungsfindung aus ihrer Sicht zweckmäßig erscheint.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="postfach"
                              minOccurs="0"
                              type="xipa:PostalischeInlandsanschrift.Postfachanschrift">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird ein Postfach für den angestrebten Wohnsitz übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="begruendendeDokumente" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element können begründende Dokumente übermittelt werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="dokument"
                                       maxOccurs="unbounded"
                                       type="xauslaender:ABH.Dokument">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element enthält die Metadaten eines Dokuments.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="dokumentcontainer" type="xs:base64Binary">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element werden die Dokumente im zip-Archiv übermittelt. Für das verpacken des zip-Archivs ist der DEFLATE- oder STORE-Algorithmus anzuwenden. Die Dokumente liegen flach in der Form ltuuidgt.ltdokumentformatgt im zip-Archiv vor. Die Größe darf nicht über 50 MB liegen.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="ABHABH.Wohnsitzwechsel.Antwort.010502">
      <xs:annotation>
         <xs:appinfo>
            <title>Antwort auf eine Zustimmungsanfrage zum Wohnsitzwechsel</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt die örtlich zuständige ABH der den Wohnsitzwechsel beantragenden ABH ihre Stellungnahme mit.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
               <xs:sequence>
                  <xs:element name="identifikationPersonABHABH"
                              type="xauslaender:IdentifikationPersonABHABH"/>
                  <xs:element name="aktenzeichenAnfragendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird in der Antwort das Aktenzeichen der anfragenden ABH für diesen Vorgang zurückgeliefert.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="aktenzeichenAntwortendeABH" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element teilt die antwortende ABH ihr Aktenzeichen für diesen Vorgang mit.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="antwortInhalt">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:restriction base="xauslaender:AntwortInhalt">
                              <xs:choice>
                                 <xs:element name="zustimmung">
                                    <xs:annotation>
                                       <xs:documentation>Im Falle einer Zustimmung können Nebenbestimmungen mit übermittelt werden aber kein Gültigkeitsdatum.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                       <xs:complexContent>
                                          <xs:restriction base="xauslaender:Zustimmung">
                                             <xs:sequence>
                                                <xs:element name="nebenbestimmung"
                                                            minOccurs="0"
                                                            maxOccurs="unbounded"
                                                            type="xoev-lc:String.Latin">
                                                   <xs:annotation>
                                                      <xs:documentation>Mit diesem Element kann die antwortende Behörde im Falle der Zustimmung zusätzliche Bestimmungen wie Befristung, Bedingung oder Auflage (z. B. Maßnahmen zur Vermeidung einer Gefährdung der öffentlichen Sicherheit) übermitteln (§36 Abs. 1 VerwVfG).</xs:documentation>
                                                   </xs:annotation>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:restriction>
                                       </xs:complexContent>
                                    </xs:complexType>
                                 </xs:element>
                                 <xs:element name="ablehnung" type="xauslaender:Ablehnung"/>
                              </xs:choice>
                           </xs:restriction>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
