src/main/resources/xsd/xauslaender113/xauslaender-nachricht-berd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xauslaender="http://www.osci.de/xauslaender1130"
           xmlns:xian="http://www.osci.de/xinneres/allgemeinername/2"
           xmlns:xibehoerde="http://www.osci.de/xinneres/behoerde/4"
           xmlns:xida="http://www.osci.de/xinneres/datum/2"
           xmlns:xipa="http://www.osci.de/xinneres/postanschrift/3"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.osci.de/xauslaender1130"
           version="1.13.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XAusländer</nameLang>
            <nameKurz>XAusländer</nameKurz>
            <nameTechnisch>xinneres.xauslaender</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.xauslaender</kennung>
            <beschreibung>Das Fachmodul XAusländer des Standards XInneres beschreibt die Datenübermittlung im Ausländerwesen.</beschreibung>
         </standard>
         <versionStandard>
            <version>1.13.0</version>
            <versionXOEVProfil>1.5.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.1</versionXOEVHandbuch>
            <versionXGenerator>2.6.1</versionXGenerator>
            <versionModellierungswerkzeug>18.0 SP6</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xauslaender-allgemeine-datentypen.xsd"/>
   <xs:include schemaLocation="xauslaender-baukasten.xsd"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/allgemeinername/2/xinneres-name.xsd"
              namespace="http://www.osci.de/xinneres/allgemeinername/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/behoerde/4/xinneres-behoerde.xsd"
              namespace="http://www.osci.de/xinneres/behoerde/4"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/datum/2/xinneres-datum.xsd"
              namespace="http://www.osci.de/xinneres/datum/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/postanschrift/3/xinneres-postanschrift.xsd"
              namespace="http://www.osci.de/xinneres/postanschrift/3"/>
   <xs:import schemaLocation="http://xoev.de/latinchars/1_1/datatypes/latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:complexType name="BerD.Ansprechpartner">
      <xs:annotation>
         <xs:documentation>Mit diesem Element werden Kontaktdaten für einen Ansprechpartner beschrieben, welcher bezogen auf den Sachverhalt einer Nachricht Auskunft geben kann. In der Regel dürfte dies die Person sein, die die Nachricht ausgelöst hat. Sofern ein Ansprechpartner vorhanden ist, sind dessen Kontaktdaten anzugeben. Dies gilt insbesondere bei Nachrichten, die voraussichtlich zu Rückfragen führen. Im Fall einer funktionsbezogenen Kontaktstelle ist auf jeden Fall das Organisationszeichen zu befüllen, Vorname und Nachname entfallen dann.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="organisationszeichen"
                     minOccurs="0"
                     type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Dieses Element bezeichnet das Merkmal, das den Ansprechpartner für den jeweiligen Sachverhalt identifiziert.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="familienname" minOccurs="0" type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Familienname übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vorname" minOccurs="0" type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Vorname übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kontaktdaten"
                     maxOccurs="unbounded"
                     type="xauslaender:Kommunikation">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden die Kontaktdaten übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BerD.Auskunft.Antwort">
      <xs:annotation>
         <xs:documentation>Mit diesem Datentyp werden die Daten einer Auskunft mitgeteilt.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xauslaender:BerD.Basisnachricht">
            <xs:sequence>
               <xs:element name="antwort">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element name="eintrag"
                                    maxOccurs="unbounded"
                                    type="xauslaender:BerD.BerechtigungVerpflichtung.Kursdaten">
                           <xs:annotation>
                              <xs:documentation>Mit diesem Element werden die vorhandenen Berechtigungen / Verpflichtungen mitgeteilt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="nichtsGefunden" fixed="true" type="xs:boolean">
                           <xs:annotation>
                              <xs:documentation>Dieses Element wird übermittelt, wenn kein Treffer zum Auskunftsersuchen gefunden wurde.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
               <xs:element name="informationSachbearbeitung"
                           minOccurs="0"
                           type="xoev-lc:String.Latin">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element können der Sachbearbeitung weitere Informationen zur übermittelten Auskunft mitgeteilt werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BerD.Basisnachricht">
      <xs:annotation>
         <xs:documentation>Mit diesem Datentyp werden die Daten des Nachrichtenkopfs für alle Nachrichten im Kontext der berufsbezogenen Deutschschrachförderung übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xauslaender:Nachricht.G2G.XA.erweitert">
            <xs:sequence>
               <xs:element name="geschaeftszeichen" minOccurs="0" type="xoev-lc:String.Latin">
                  <xs:annotation>
                     <xs:documentation>Das Geschäftszeichen erlaubt dem Autor der Nachricht den auslösenden Vorgang bei Rückfragen zu identifizieren.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ansprechpartner"
                           minOccurs="0"
                           type="xauslaender:BerD.Ansprechpartner">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element werden die Daten zum Ansprechpartner übermittelt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="dienststelleBA"
                           minOccurs="0"
                           type="xauslaender:BerD.Dienststelle">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element werden Angaben zu einer Dienststelle im Verantwortungsbereich der Bundesagentur für Arbeit übermittelt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BerD.BerechtigungVerpflichtung">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp enthält die Daten für eine an das BAMF zu meldende Berechtigung / Verpflichtung.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="kundennummer" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>In diesem Element wird die Kundennummer beim TGS/AA übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="personalien" type="xauslaender:BerD.Personalien">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden die Personalien des Kursteilnehmers übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="gueltigBis" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird angegeben, bis wann die Berechtigung / Verpflichtung gültig ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="artDerBeschaeftigung"
                     maxOccurs="unbounded"
                     type="xauslaender:Code.BerD.ArtDerBeschaeftigung">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird übermittelt, ob eine Beschäftigung vorliegt und welcher Art diese Beschäftigung ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="berechtigungVerpflichtungArt"
                     type="xauslaender:Code.BerD.ArtDerBerechtigungVerpflichtung">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Art der Teilnahmeberechtigung / Teilnahmeverpflichtung übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geeignetesModul" type="xauslaender:Code.BerD.ModulArt">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird entsprechend §§ 12 und 13 DeuFöV die geeignete Art des Moduls übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="teilnahmeRegionsbeschraenkung"
                     minOccurs="0"
                     type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird eine Regionsbeschränkung angegeben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="teilnahmeWiederholer" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird angegeben, ob es sich um einen Wiederholer handelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="rechtskreis">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Rechtskreis (SGB II oder SGB III) übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice>
                  <xs:element name="sgbII" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Person mit Leistungsbezug aus SGB II.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="sgbIII">
                     <xs:annotation>
                        <xs:documentation>Kunden aus dem Rechtskreis SGB III.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="ausbildungsuchend" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird mitgeteilt, ob die Person ausbildungsuchend ist.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="arbeitsuchend" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird mitgeteilt, ob die Person arbeitsuchend ist.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="arbeitslos" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird mitgeteilt, ob die Person arbeitslos ist.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="zugelasseneFoerdermassnahme" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird mitgeteilt, ob die Person durch eine Fördermaßnahme nach § 4 Abs. 1 DeuFöV gefördert wird.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="bezugALGI" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird mitgeteilt, ob die Person Arbeitslosengeld I bezieht.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BerD.BerechtigungVerpflichtung.Ablehnung">
      <xs:annotation>
         <xs:documentation>Von diesem Datentyp werden die gleichnamige synchrone und asynchrone Nachricht abgeleitet.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xauslaender:BerD.Basisnachricht">
            <xs:sequence>
               <xs:element name="inKonfliktStehendeBerechtigungVerpflichtung"
                           minOccurs="0"
                           type="xauslaender:BerD.BerechtigungVerpflichtung.Kursdaten">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird die in Konflikt stehende Berechtigung / Verpflichtung mitgeteilt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ablehnungsgrund" type="xauslaender:Code.BerD.Ablehnungsgrund">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird der Grund der Ablehnung mitgeteilt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="informationSachbearbeitung"
                           minOccurs="0"
                           type="xoev-lc:String.Latin">
                  <xs:annotation>
                     <xs:documentation>In diesem Element werden zusätzliche Informationen für die Sachbearbeitung zur übermittelten Ablehnung angegeben.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BerD.BerechtigungVerpflichtung.Akzeptanz">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp enthält die Daten einer Berechtigung / Verpflichtung, die vom BAMF zurückgemeldet werden. Von diesem Datentyp werden die gleichnamige synchrone und asynchrone Nachricht abgeleitet.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xauslaender:BerD.Basisnachricht">
            <xs:sequence>
               <xs:element name="uebernommeneBerechtigungVerpflichtung"
                           type="xauslaender:BerD.BerechtigungVerpflichtung">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element werden die vom BAMF übernommenen Daten zur Berechtigung / Verpflichtung mitgeteilt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="bdKennziffer" type="xoev-lc:String.Latin">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird die BAMF-Kennziffer der akzeptierten, bestehenden Berechtigung / Verpflichtung übermittelt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="gueltigVon" type="xida:Tagesdatum">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird angegeben von welchem Datum an die Berechtigung / Verpflichtung gültig ist.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BerD.BerechtigungVerpflichtung.Auskunft">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp enthält die Auskunftsdaten zu einer beim BAMF gespeicherten Berechtigung / Verpflichtung.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="kundennummer" minOccurs="0" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>In diesem Element wird die Kundennummer beim TGS/AA übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="personalien"
                     minOccurs="0"
                     type="xauslaender:BerD.Personalien">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden die Personalien des Kursteilnehmers übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="gueltigBis" minOccurs="0" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird angegeben, bis wann die Berechtigung / Verpflichtung gültig ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="artDerBeschaeftigung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xauslaender:Code.BerD.ArtDerBeschaeftigung">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird übermittelt, ob eine Beschäftigung vorliegt und welcher Art diese Beschäftigung ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="berechtigungVerpflichtungArt"
                     minOccurs="0"
                     type="xauslaender:Code.BerD.ArtDerBerechtigungVerpflichtung">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Art der Teilnahmeberechtigung / Teilnahmeverpflichtung übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geeignetesModul"
                     minOccurs="0"
                     type="xauslaender:Code.BerD.ModulArt">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird entsprechend §§ 12 und 13 DeuFöV die geeignete Art des Moduls übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="teilnahmeRegionsbeschraenkung"
                     minOccurs="0"
                     type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird eine Regionsbeschränkung angegeben.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="teilnahmeWiederholer" minOccurs="0" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird angegeben, ob es sich um einen Wiederholer handelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="rechtskreis" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Rechtskreis (SGB II oder SGB III) übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice>
                  <xs:element name="sgbII" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Person mit Leistungsbezug aus SGB II.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="sgbIII">
                     <xs:annotation>
                        <xs:documentation>Kunden aus dem Rechtskreis SGB III.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="ausbildungsuchend" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird mitgeteilt, ob die Person ausbildungsuchend ist.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="arbeitsuchend" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird mitgeteilt, ob die Person arbeitsuchend ist.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="arbeitslos" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird mitgeteilt, ob die Person arbeitslos ist.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="zugelasseneFoerdermassnahme" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird mitgeteilt, ob die Person durch eine Fördermaßnahme nach § 4 Abs. 1 DeuFöV gefördert wird.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="bezugALGI" type="xs:boolean">
                              <xs:annotation>
                                 <xs:documentation>Mit diesem Element wird mitgeteilt, ob die Person Arbeitslosengeld I bezieht.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="bdKennziffer" minOccurs="0" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die BAMF-Kennziffer der akzeptierten bestehenden Berechtigung / Verpflichtung übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="gueltigVon" minOccurs="0" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird angegeben von weilchem Datum an die Berechtigung / Verpflichtung gültig ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ausstellendeBehoerde"
                     minOccurs="0"
                     type="xibehoerde:Behoerde">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Behoerde übermittelt, die die Berechtigung / Verpflichtung ausgestellt hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BerD.BerechtigungVerpflichtung.Kursdaten">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp enthält die Daten einer Berechtigung / Verpflichtung. Je nachdem, ob es sich um eine laufende Berechtigung / Verpflichtung ohne Anmeldung, mit Anmeldung, mit laufender Kursteilnahme oder abgeschlossener Kursteilnahme handelt, werden zusätzliche Elemente übermittelt.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="laufendeBerechtigungVerpflichtungOhneAnmeldung"
                     type="xauslaender:BerD.BerechtigungVerpflichtung.Auskunft">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden die Daten zur Berechtigung / Verpflichtung übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="berechtigungVerpflichtungMitAnmeldung">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird eine Berechtigung / Verpflichtung mit Daten zur Kursanmeldung übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="berechtigungVerpflichtung"
                              type="xauslaender:BerD.BerechtigungVerpflichtung.Auskunft">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Daten zur Berechtigung / Verpflichtung übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="vomKurstraegerGemeldetesModul"
                              type="xauslaender:Code.BerD.ModulArt">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die vom Kursträger gemeldete Art des Moduls übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="kurstraeger" type="xauslaender:BerD.Kurstraeger">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden Informationen zum Kursträger übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="voraussichtlicherKursbeginn"
                              minOccurs="0"
                              type="xida:TeilbekanntesDatum">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird das Datum des geplanten Kursbeginns übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="berechtigungVerpflichtungMitLaufenderKursteilnahme">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird eine Berechtigung / Verpflichtung zu einer laufenden Kursteilnahme übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="berechtigungVerpflichtung"
                              type="xauslaender:BerD.BerechtigungVerpflichtung.Auskunft">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Daten zur Berechtigung / Verpflichtung übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="vomKurstraegerGemeldetesModul"
                              type="xauslaender:Code.BerD.ModulArt">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die vom Kursträger gemeldete Art des Moduls übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="kurstraeger" type="xauslaender:BerD.Kurstraeger">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden Informationen zum Kursträger übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="kursbeginn" type="xida:Tagesdatum">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird das Datum des Kursbeginns übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="voraussichtlichesKursende"
                              minOccurs="0"
                              type="xida:TeilbekanntesDatum">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird das voraussichtliche Kursende übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="berechtigungVerpflichtungMitAbgeschlossenerKursteilnahme">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird eine Berechtigung / Verpflichtung zu einer abgeschlossenen Kursteilnahme übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="berechtigungVerpflichtung"
                              type="xauslaender:BerD.BerechtigungVerpflichtung.Auskunft">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Daten zur Berechtigung / Verpflichtung übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="vomKurstraegerGemeldetesModul"
                              type="xauslaender:Code.BerD.ModulArt">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die vom Kursträger gemeldete Art des Moduls übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="kurstraeger" type="xauslaender:BerD.Kurstraeger">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden Informationen zum Kursträger übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="kursbeginn" type="xida:Tagesdatum">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird das Datum des Kursbeginns übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="kursende" type="xida:Tagesdatum">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird das Datum des Kursendes übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="kurszielErreicht" type="xs:boolean">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird mitgeteilt, ob das Kursziel erreicht wurde.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="BerD.Dienststelle">
      <xs:annotation>
         <xs:documentation>Eine Dienststelle in der Kommunikation mit den Trägern der Grundsicherung ist eine Verwaltungseinheit mit organisatorischer und sachlicher Selbstständigkeit. Sie nimmt einen eigenen Aufgabenbereich wahr.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="dstNummer" type="xauslaender:Code.Int.Dienststelle">
            <xs:annotation>
               <xs:documentation>Die Dienststellennummer ist eine eindeutige Kennung zur Identifizierung einer Dienststelle.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dstBezeichnung" minOccurs="0" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann eine Kurzbezeichnung der Dienststelle angegeben werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kontaktdaten"
                     maxOccurs="unbounded"
                     type="xauslaender:Kommunikation">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden die Kontaktdaten übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BerD.FachlicherFehler">
      <xs:annotation>
         <xs:documentation>Dieser Datentyp übermittelt Informationen zu einem fachlichen Fehler.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xauslaender:BerD.Basisnachricht">
            <xs:sequence>
               <xs:element name="code" type="xauslaender:Code.BerD.Fehlercode">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird der Fehlercode mitgeteilt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="informationSachbearbeitung"
                           minOccurs="0"
                           type="xoev-lc:String.Latin">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element werden zusätzliche Informationen für die Sachbearbeitung zum übermittelten Fehler mitgeteilt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BerD.Kurstraeger">
      <xs:annotation>
         <xs:documentation>Dieses Element enthält Angaben zu einem Kursträger.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="traegerkennziffer" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält die eindeutige vom BAMF vergebene Trägerkennziffer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält den Namen des Kursträgers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschrift"
                     type="xipa:PostalischeInlandsanschrift.Gebaeudeanschrift">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zur Anschrift des Kursträgers übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kontaktdaten"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xauslaender:Kommunikation">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält Kontaktdaten des Kursträgers.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BerD.Personalien">
      <xs:annotation>
         <xs:documentation>Mit diesem Element übermittelt die TGS/AA im Themenkreis berufsbezogene Deutschsprachförderung Angaben zur Person. Personalien kategorisieren und benennen die Person.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="vorname" type="xian:AllgemeinerName"/>
         <xs:element name="nachname" type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Nachname (aus der Führungspersonalie der jeweiligen Behörde, nach deutschem Recht oder nach Pass), so wie er auf dem Berechtigungsschein angedruckt wird, übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geschlecht" type="xauslaender:Geschlecht">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird das Geschlecht übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburtsdatum" type="xida:TeilbekanntesDatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird das Geburtsdatum übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anschrift"
                     type="xipa:PostalischeInlandsanschrift.Gebaeudeanschrift">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die aktuelle Wohnanschrift der Person übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="weitererNachname" minOccurs="0" type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird - sofern vorhanden - der Name nach deutschem Recht oder nach Pass übermittelt, sofern er nicht als Nachname übermittelt wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburtsname" minOccurs="0" type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann der Geburtsname übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="fruehererNachname"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann ein in der Vergangenheit verwendeter Name (nicht der Geburtsname, kein Künstler-, Ordens- und Genanntname und kein Alias) übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="abweichendeSchreibweiseNachname"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xian:AllgemeinerName">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann eine abweichende Schreibweise eines Nachnamens übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="staatsangehoerigkeit"
                     maxOccurs="4"
                     type="xauslaender:AngabenZumStaat">
            <xs:annotation>
               <xs:documentation>Diese Angabe darf nicht auf dem Berechtigungs-/Verpflichtungsschein angegeben werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aufenthaltsstatus" type="xauslaender:Code.BerD.Aufenthaltsstatus">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Aufenthaltsstatus übermittelt.Diese Angabe darf nicht auf dem Berechtigungs-/Verpflichtungsschein angegeben werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kontaktdaten"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xauslaender:Kommunikation">
            <xs:annotation>
               <xs:documentation>Sofern die Person der Übermittlung der Kontaktdaten zugestimmt hat, werden diese mit diesem Element übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="BerD.BerechtigungVerpflichtung.100001">
      <xs:annotation>
         <xs:appinfo>
            <title>Meldung einer Teilnahmeberechtigung / Teilnahmeverpflichtung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht meldet TGS/AA eine Berechtigung / Verpflichtung an das BAMF.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:BerD.Basisnachricht">
               <xs:sequence>
                  <xs:element name="meldungBerechtigungVerpflichtung"
                              type="xauslaender:BerD.BerechtigungVerpflichtung">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Daten zur Berechtigung / Verpflichtung mitgeteilt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BerD.BerechtigungVerpflichtung.Akzeptanz.100003">
      <xs:annotation>
         <xs:appinfo>
            <title>Akzeptanz einer Teilnahmeberechtigung / Teilnahmeverpflichtung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht wird eine Akzeptanz vom BAMF an die meldende TGS/AA mitgeteilt.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:BerD.BerechtigungVerpflichtung.Akzeptanz"/>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BerD.Dublettenverdacht.100004">
      <xs:annotation>
         <xs:appinfo>
            <title>Mitteilung eines Dublettenverdachts</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt das BAMF der TGS/AA einen Dublettenverdacht mit.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:BerD.Basisnachricht">
               <xs:sequence>
                  <xs:element name="code" type="xauslaender:Code.BerD.Dublettenverdacht">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird der Code zum Dublettenverdacht mitgeteilt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="informationSachbearbeitung"
                              minOccurs="0"
                              type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden zusätzliche Informationen für die Sachbearbeitung zum Dublettenverdacht übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BerD.BerechtigungVerpflichtung.Ablehnung.100005">
      <xs:annotation>
         <xs:appinfo>
            <title>Ablehnung einer Teilnahmeberechtigung / Teilnahmeverpflichtung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht wird eine Ablehnung vom BAMF an die meldende TGS/AA mitgeteilt.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:BerD.BerechtigungVerpflichtung.Ablehnung"/>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BerD.Auskunft.Anfrage.100011">
      <xs:annotation>
         <xs:appinfo>
            <title>Auskunftsanfrage Teilnahmeberechtigung / Teilnahmeverpflichtung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht fragt TGS/AA das BAMF zu einer Person Informationen an.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:BerD.Basisnachricht">
               <xs:sequence>
                  <xs:element name="personalien" type="xauslaender:BerD.Personalien">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden die Personalien der zu beauskunftenden Person übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="kundennummer" type="xoev-lc:String.Latin">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die Kundennummer von dem TGS/AA für die betroffene Person übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BerD.Auskunft.Antwort.100012">
      <xs:annotation>
         <xs:appinfo>
            <title>Auskunft Teilnahmeberechtigung / Teilnahmeverpflichtung</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt das BAMF der TGS/AA die Informationen zu einer Person mit.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:BerD.Auskunft.Antwort"/>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BerD.Fehlernachricht.100099">
      <xs:annotation>
         <xs:appinfo>
            <title>Fachliche Fehlernachricht</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht weist das BAMF eine Nachricht von TGS/AA nach einer fachlichen Prüfung als unplausibel/unzulässig zurück.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:BerD.FachlicherFehler"/>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BerD.BerechtigungVerpflichtung.Akzeptanz.Async.100103">
      <xs:annotation>
         <xs:appinfo>
            <title>Akzeptanz einer Teilnahmeberechtigung / Teilnahmeverpflichtung (async)</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht wird eine Akzeptanz vom BAMF an die meldende TGS/AA mitgeteilt. Diese Nachricht ist die asynchrone Variante der Nachricht nachricht.100003</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:BerD.BerechtigungVerpflichtung.Akzeptanz"/>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BerD.BerechtigungVerpflichtung.Ablehnung.Async.100105">
      <xs:annotation>
         <xs:appinfo>
            <title>Ablehnung einer Teilnahmeberechtigung / Teilnahmeverpflichtung (async)</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht wird eine Ablehnung vom BAMF an die meldende TGS/AA mitgeteilt. Diese Nachricht ist die asynchrone Variante der Nachricht nachricht.100005</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:BerD.BerechtigungVerpflichtung.Ablehnung"/>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BerD.Auskunft.Antwort.Async.100112">
      <xs:annotation>
         <xs:appinfo>
            <title>Auskunfts Teilnahmeberechtigung / Teilnahmeverpflichtung (async)</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht teilt das BAMF der TGS/AA die Informationen zu einer Person mit. Diese Nachricht ist die asynchrone Variante der Nachricht nachricht.100012</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:BerD.Auskunft.Antwort"/>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="BerD.Fehlernachricht.Async.100199">
      <xs:annotation>
         <xs:appinfo>
            <title>Fachliche Fehlernachricht (async)</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht weist das BAMF eine Nachricht von TGS/AA nach einer fachlichen Prüfung als unplausibel/unzulässig zurück.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xauslaender:BerD.FachlicherFehler"/>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
