src/main/resources/xsd/xauslaender113/xauslaender-allgemeine-datentypen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xauslaender="http://www.osci.de/xauslaender1130"
           xmlns:xian="http://www.osci.de/xinneres/allgemeinername/2"
           xmlns:xiaz="http://www.osci.de/xinneres/azrnummer/1"
           xmlns:xibehoerde="http://www.osci.de/xinneres/behoerde/4"
           xmlns:xida="http://www.osci.de/xinneres/datum/2"
           xmlns:xink="http://www.osci.de/xinneres/basisnachricht/4"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://www.osci.de/xauslaender1130"
           version="1.13.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XAusländer</nameLang>
            <nameKurz>XAusländer</nameKurz>
            <nameTechnisch>xinneres.xauslaender</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.xauslaender</kennung>
            <beschreibung>Das Fachmodul XAusländer des Standards XInneres beschreibt die Datenübermittlung im Ausländerwesen.</beschreibung>
         </standard>
         <versionStandard>
            <version>1.13.0</version>
            <versionXOEVProfil>1.5.1</versionXOEVProfil>
            <versionXOEVHandbuch>2.1</versionXOEVHandbuch>
            <versionXGenerator>2.6.1</versionXGenerator>
            <versionModellierungswerkzeug>18.0 SP6</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xauslaender-baukasten.xsd"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/allgemeinername/2/xinneres-name.xsd"
              namespace="http://www.osci.de/xinneres/allgemeinername/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/azrnummer/1/xinneres-azrnummer.xsd"
              namespace="http://www.osci.de/xinneres/azrnummer/1"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/basisnachricht/4/xinneres-basisnachricht.xsd"
              namespace="http://www.osci.de/xinneres/basisnachricht/4"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/behoerde/4/xinneres-behoerde.xsd"
              namespace="http://www.osci.de/xinneres/behoerde/4"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/datum/2/xinneres-datum.xsd"
              namespace="http://www.osci.de/xinneres/datum/2"/>
   <xs:import schemaLocation="http://xoev.de/latinchars/1_1/datatypes/latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:complexType name="Ablehnung">
      <xs:annotation>
         <xs:documentation>Mit diesem Element wird eine Ablehnung auf eine Anfrage übermittelt. Eine Ablehnung hat immer eine Begründung.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="begruendung" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Begründung für eine Ablehnung übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Aenderungsart">
      <xs:annotation>
         <xs:appinfo>
            <title>Änderungsart</title>
         </xs:appinfo>
         <xs:documentation>Die Änderungsart bezeichnet, ob es sich bei der Meldung um eine Korrektur oder die Fortschreibung zu einem Sachverhalt handelt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="artDerAenderung" type="xauslaender:Code.Art.der.Aenderung">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Änderungsart zur Sachverhaltsmeldung bezeichnet.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AntwortInhalt">
      <xs:annotation>
         <xs:appinfo>
            <title>Inhalt einer Antwort auf eine Anfrage</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Element kann der allgemeine Inhalt einer Antwort übermittelt werden.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element name="zustimmung" type="xauslaender:Zustimmung"/>
         <xs:element name="ablehnung" type="xauslaender:Ablehnung"/>
         <xs:element name="zustaendigkeitBekanntWeiterleitungNichtMoeglich"
                     type="xauslaender:ZustaendigkeitBekanntWeiterleitungNichtMoeglich"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="Identifikation.Nachricht">
      <xs:annotation>
         <xs:documentation>Identifikationsdaten für eine Nachricht zwischen zwei Akteuren, z. B. zwischen Ausländerbehörden und Meldebehörden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xink:Identifikation.Nachricht">
            <xs:sequence>
               <xs:element name="nachrichtenUUID" type="xink:UUID" form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Hier wird der Universally Unique Identifier (UUID) der Nachricht mitgeteilt, der das primäre Identifikationsmerkmal einer Nachricht darstellt. Der UUID der Nachricht ist weltweit eindeutig. So wird es möglich, Nachrichten hersteller- und anwendungsübergreifend eindeutig zu identifizieren.  Für jede Nachricht muss eine neue UUID erzeugt werden, um eine eindeutige Identifikation der Nachricht sicherzustellen. Insbesondere ist es nicht zulässig, in einer korrigierten Nachricht (bspw. nach Erhalt einer RTS-Nachricht) die UUID der ursprünglichen Nachricht wiederzuverwenden. Sofern eine einmal erzeugte Nachricht ein weiteres Mal gesendet werden soll (bspw. aufgrund von Problemen beim Nachrichtentransport), muss die UUID nicht angepasst werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="nachrichtentyp"
                           type="xauslaender:Code.Nachrichtentyp"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Die eindeutige Identifizierungsnummer für einen Nachrichtentyp. Der konkret zu verwendende Datentyp für die Übermittlung des Schlüsselwertes wird durch das XInneres-Fachmodul auf Schemaebene festgelegt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="erstellungszeitpunkt" type="xs:dateTime" form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Der Zeitpunkt, an dem die Nachricht erstellt wurde. Dieses Feld wird durch das Fachverfahren beim Erstellen der Nachricht gefüllt. Hier ist explizit nicht der Sende- und Empfangszeitpunkt festgehalten, denn die können in der Regel der Transportschicht entnommen werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="IdentifikationPerson">
      <xs:annotation>
         <xs:appinfo>
            <title>Typ zur Identifikation einer Natürlichen Person</title>
         </xs:appinfo>
         <xs:documentation>Dieses Element dient der Identifikation der betroffenen natürlichen Person. Beim Namen sind sind die Führungspersonalien (Vornamen, Familienname) der Person zu übermitteln. Diese stammen regelhaft aus dem Passdokument. Liegt ein solches nicht vor, werden die Namensangaben herangezogen, die die Person gemacht hat. Liegen weitere Namen oder Namensschreibweisen vor, sind diese ebenso zu übermitteln.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="staatsangehoerigkeit"
                     maxOccurs="4"
                     type="xauslaender:AngabenZumStaat"/>
         <xs:element name="geschlecht" type="xauslaender:Geschlecht"/>
         <xs:element name="geburt">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden der Geburtsort und das Geburtsdatum übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="xauslaender:Geburt">
                     <xs:sequence>
                        <xs:element name="geburtsort" minOccurs="0" type="xoev-lc:String.Latin">
                           <xs:annotation>
                              <xs:documentation>Dies ist der Geburtsort des Betroffenen.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="tagDerGeburt" type="xida:TeilbekanntesDatumMitUnbekannt">
                           <xs:annotation>
                              <xs:documentation>Mit diesem Element wird das eigentliche Geburtsdatum spezifiziert.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="nameNachPass" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Name nach Pass übermittelt. In der Regel sollte dieses Element gefüllt sein.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="xauslaender:NameNatuerlichePerson">
                     <xs:sequence>
                        <xs:element name="titel"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xoev-lc:String.Latin"/>
                        <xs:element name="anrede" minOccurs="0" type="xoev-lc:String.Latin"/>
                        <xs:element name="namenssuffix"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xoev-lc:String.Latin"/>
                        <xs:element name="vorname" type="xian:AllgemeinerName"/>
                        <xs:element name="familienname" type="xian:AllgemeinerName">
                           <xs:annotation>
                              <xs:documentation>Mit diesem Element wird grundsätzlich der Familienname zur Identifikation der betroffenen Person übermittelt. Sofern kein Familienname vorliegt wird das Flag NichtVorhanden gesetzt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="geburtsname" type="xian:AllgemeinerName">
                           <xs:annotation>
                              <xs:documentation>Mit diesem Element wird grundsätzlich der Geburtsname zur Identifikation der betroffenen Person übermittelt. Sofern kein Geburtsname vorliegt wird das Flag NichtVorhanden gesetzt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="ordensname" minOccurs="0" type="xian:AllgemeinerName"/>
                        <xs:element name="kuenstlername"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xian:AllgemeinerName"/>
                        <xs:element name="weitererName"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xian:AllgemeinerName"/>
                     </xs:sequence>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="nameNachDeutschemRecht" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird der Name nach deutschem Recht übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="xauslaender:NameNatuerlichePerson">
                     <xs:sequence>
                        <xs:element name="titel"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xoev-lc:String.Latin"/>
                        <xs:element name="anrede" minOccurs="0" type="xoev-lc:String.Latin"/>
                        <xs:element name="namenssuffix"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xoev-lc:String.Latin"/>
                        <xs:element name="vorname" type="xian:AllgemeinerName"/>
                        <xs:element name="familienname" type="xian:AllgemeinerName">
                           <xs:annotation>
                              <xs:documentation>Mit diesem Element wird grundsätzlich der Familienname zur Identifikation der betroffenen Person übermittelt. Sofern kein Familienname vorliegt wird das Flag NichtVorhanden gesetzt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="geburtsname" type="xian:AllgemeinerName">
                           <xs:annotation>
                              <xs:documentation>Mit diesem Element wird grundsätzlich der Geburtsname zur Identifikation der betroffenen Person übermittelt. Sofern kein Geburtsname vorliegt wird das Flag NichtVorhanden gesetzt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="ordensname" minOccurs="0" type="xian:AllgemeinerName"/>
                        <xs:element name="kuenstlername"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xian:AllgemeinerName"/>
                        <xs:element name="weitererName"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xian:AllgemeinerName"/>
                     </xs:sequence>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="nameNachEigenenAngaben" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird ein Name nach eigenene Angaben übermittelt. Die Führungspersonalien (Vornamen, Familienname) der Person stammen regelhaft aus dem Passdokument. Liegt ein solches nicht vor, werden die Namensangaben herangezogen, die der Ausländer gemacht hat.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="xauslaender:NameNatuerlichePerson">
                     <xs:sequence>
                        <xs:element name="titel"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xoev-lc:String.Latin"/>
                        <xs:element name="anrede" minOccurs="0" type="xoev-lc:String.Latin"/>
                        <xs:element name="namenssuffix"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xoev-lc:String.Latin"/>
                        <xs:element name="vorname" type="xian:AllgemeinerName"/>
                        <xs:element name="familienname" type="xian:AllgemeinerName">
                           <xs:annotation>
                              <xs:documentation>Mit diesem Element wird grundsätzlich der Familienname zur Identifikation der betroffenen Person übermittelt. Sofern kein Familienname vorliegt wird das Flag NichtVorhanden gesetzt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="geburtsname" type="xian:AllgemeinerName">
                           <xs:annotation>
                              <xs:documentation>Mit diesem Element wird grundsätzlich der Geburtsname zur Identifikation der betroffenen Person übermittelt. Sofern kein Geburtsname vorliegt wird das Flag NichtVorhanden gesetzt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="ordensname" minOccurs="0" type="xian:AllgemeinerName"/>
                        <xs:element name="kuenstlername"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xian:AllgemeinerName"/>
                        <xs:element name="weitererName"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xian:AllgemeinerName"/>
                     </xs:sequence>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="abweichendeNamensschreibweise" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird eine abweichende Namensschreibweise übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="xauslaender:NameNatuerlichePerson">
                     <xs:sequence>
                        <xs:element name="titel"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xoev-lc:String.Latin"/>
                        <xs:element name="anrede" minOccurs="0" type="xoev-lc:String.Latin"/>
                        <xs:element name="namenssuffix"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xoev-lc:String.Latin"/>
                        <xs:element name="vorname" type="xian:AllgemeinerName"/>
                        <xs:element name="familienname" type="xian:AllgemeinerName">
                           <xs:annotation>
                              <xs:documentation>Mit diesem Element wird grundsätzlich der Familienname zur Identifikation der betroffenen Person übermittelt. Sofern kein Familienname vorliegt wird das Flag NichtVorhanden gesetzt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="geburtsname" type="xian:AllgemeinerName">
                           <xs:annotation>
                              <xs:documentation>Mit diesem Element wird grundsätzlich der Geburtsname zur Identifikation der betroffenen Person übermittelt. Sofern kein Geburtsname vorliegt wird das Flag NichtVorhanden gesetzt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="ordensname" minOccurs="0" type="xian:AllgemeinerName"/>
                        <xs:element name="kuenstlername"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xian:AllgemeinerName"/>
                        <xs:element name="weitererName"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xian:AllgemeinerName"/>
                     </xs:sequence>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="aliasName" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Aliasnamen übermittelt. Von einem Aliasnamen im ausländerrechtlichen Sinne wird gesprochen, wenn eine natürliche Person verschiedene Namen verwendet in der Absicht, den Staat über ihre wahre Identität zu täuschen.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="xauslaender:NameNatuerlichePerson">
                     <xs:sequence>
                        <xs:element name="titel"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xoev-lc:String.Latin"/>
                        <xs:element name="anrede" minOccurs="0" type="xoev-lc:String.Latin"/>
                        <xs:element name="namenssuffix"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xoev-lc:String.Latin"/>
                        <xs:element name="vorname" type="xian:AllgemeinerName"/>
                        <xs:element name="familienname" type="xian:AllgemeinerName">
                           <xs:annotation>
                              <xs:documentation>Mit diesem Element wird grundsätzlich der Familienname zur Identifikation der betroffenen Person übermittelt. Sofern kein Familienname vorliegt wird das Flag NichtVorhanden gesetzt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="geburtsname" type="xian:AllgemeinerName">
                           <xs:annotation>
                              <xs:documentation>Mit diesem Element wird grundsätzlich der Geburtsname zur Identifikation der betroffenen Person übermittelt. Sofern kein Geburtsname vorliegt wird das Flag NichtVorhanden gesetzt.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="ordensname" minOccurs="0" type="xian:AllgemeinerName"/>
                        <xs:element name="kuenstlername"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xian:AllgemeinerName"/>
                        <xs:element name="weitererName"
                                    minOccurs="0"
                                    maxOccurs="unbounded"
                                    type="xian:AllgemeinerName"/>
                     </xs:sequence>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="IdentifikationPersonABHABH">
      <xs:annotation>
         <xs:appinfo>
            <title>Identifikation einer natürlichen Person in der Kommunikation zwischen Ausländerbehörden</title>
         </xs:appinfo>
         <xs:documentation>Dieses Element dient der Identifikation der betroffenen natürlichen Person auf die sich das Handeln der Ausländerbehörde bezieht.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xauslaender:IdentifikationPerson">
            <xs:sequence>
               <xs:element name="azrNummer" type="xiaz:AZRNummer">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird die AZR-Nummer übermittelt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Nachricht.G2G.XA">
      <xs:annotation>
         <xs:appinfo>
            <title>XAusländer Basisnachricht für Nachrichten zwischen Behörden</title>
         </xs:appinfo>
         <xs:documentation>Diese Klasse bildet die XAusländer-weite Basis für alle Nachrichten. Sie dient der leichteren programmtechnischen Verarbeitung von Nachrichten. Außerdem enthält diese Klasse Informationen, die für jede Nachricht relevant sind.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xink:Nachricht.G2G">
            <xs:sequence>
               <xs:element name="nachrichtenkopf"
                           type="xauslaender:Nachrichtenkopf.G2G"
                           form="unqualified"/>
            </xs:sequence>
            <xs:attribute name="produkt" type="xoev-lc:String.Latin" use="required">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut ist der Name des Produktes (der Software) einzutragen, mit dem diese Nachricht erstellt worden ist.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="produkthersteller" type="xoev-lc:String.Latin" use="required">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut ist der Name der Firma oder der Organisation einzutragen, die für das DV-Verfahren verantwortlich ist, mit dem diese Nachricht erstellt worden ist.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="produktversion" type="xoev-lc:String.Latin" use="optional">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut sollen ergänzende Hinweise zu dem Produkt, mit dem diese Nachricht erstellt worden ist, eingetragen werden. Dies sind Angaben, die für eine möglichst präzise Identifikation im Fehlerfall hilfreich sind, wie zum Beispiel Version und Patchlevel.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="standard"
                          type="xoev-lc:String.Latin"
                          use="required"
                          fixed="XAusländer">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut wird der Name des XInneres-Basismoduls bzw. des XInneres-Fachmoduls übermittelt, aus dem die Nachricht stammt. Der Name des XInneres-Basismoduls bzw. des XInneres-Fachmoduls wird durch das XInneres-Basismodul bzw. das XInneres-Fachmodul als fixed-Value auf Schemaebene festgelegt (z. B. XPersonenstand).</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="test" type="xoev-lc:String.Latin" use="optional">
               <xs:annotation>
                  <xs:documentation>Dieses Attribut ist optional. Ist es vorhanden, so sagt dies aus, dass es sich um eine Nachricht handelt, die (aus Sicht des Autors der Nachricht) nicht im normalen Produktivbetrieb behandelt werden soll. Über den Inhalt des Attributes wird nichts weiter ausgesagt, dies kann bilateral zwischen den Kommunikationspartnern vereinbart werden.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="version"
                          type="xoev-lc:String.Latin"
                          use="required"
                          fixed="1.13.0">
               <xs:annotation>
                  <xs:documentation>In diesem Attribut wird die Version des XInneres-Basismoduls bzw. XInneres-Fachmoduls übermittelt, aus dem die Nachricht stammt. Die Versionsbezeichnung wird durch das XInneres-Basismodul bzw. XInneres-Fachmodul als fixed-Value auf Schemaebene festgelegt (z. B. 1.5.0).</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Nachricht.G2G.XA.MBABH">
      <xs:annotation>
         <xs:appinfo>
            <title>XAusländer erweiterte Basisnachricht für Nachrichten zwischen Meldebehörden und Ausländerbehörden</title>
         </xs:appinfo>
         <xs:documentation>Dieses Element beschreibt die Nachrichtenstruktur für die Kommunikation von Meldebehörden an Ausländerbehörden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xauslaender:Nachricht.G2G.XA">
            <xs:sequence>
               <xs:element name="identifikation.ereignis" type="xink:Identifikation.Ereignis">
                  <xs:annotation>
                     <xs:documentation>Das Element benennt den Zeitpunkt des technischen Ereignisses der Speicherung bzw. der Verarbeitung im System. Es ist also nicht der Moment der Erstellung bzw. des Versandes der Nachricht gemeint, der später liegen kann. Es ist auch nicht der Zeitpunkt des fachlichen Ereignisses, der in der Regel vorher liegt, gemeint.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ausloeserUUID" minOccurs="0" type="xink:UUID">
                  <xs:annotation>
                     <xs:documentation>Sofern diese Nachricht als Reaktion (Antwort, Quittung, Erinnerung) auf eine andere Nachricht versendet wird, ist hier der Universally Unique Identifier (UUID) derjenigen Nachricht einzutragen, auf die sie sich bezieht.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Nachricht.G2G.XA.erweitert">
      <xs:annotation>
         <xs:appinfo>
            <title>XAusländer erweiterte Basisnachricht für Nachrichten zwischen Behörden</title>
         </xs:appinfo>
         <xs:documentation>Diese Klasse bildet eine erweiterte Basis für XAusländer Nachrichten. Sie dient der leichteren programmtechnischen Verarbeitung von Nachrichten. Außerdem enthält diese Klasse Informationen, die für jede Nachricht relevant sind.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xauslaender:Nachricht.G2G.XA">
            <xs:sequence>
               <xs:element name="ausloeserUUID" minOccurs="0" type="xink:UUID">
                  <xs:annotation>
                     <xs:documentation>Sofern diese Nachricht als Reaktion (Antwort, Quittung, Erinnerung) auf eine andere Nachricht versendet wird, ist hier der Universally Unique Identifier (UUID) derjenigen Nachricht einzutragen, auf die sie sich bezieht.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Nachrichtenkopf.G2G">
      <xs:annotation>
         <xs:documentation>Nachrichtenkopf für eine Nachricht zwischen zwei Akteuren, z. B. zwischen Ausländerbehörden und Meldebehörden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xink:Nachrichtenkopf.G2G">
            <xs:sequence>
               <xs:element name="identifikation.nachricht"
                           type="xauslaender:Identifikation.Nachricht"
                           form="unqualified"/>
               <xs:element name="leser" type="xibehoerde:Behoerde" form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Hier werden Angaben über den Leser der Nachricht übermittelt. Der Leser ist die Behörde oder andere (öffentliche) Stelle, der die Nachricht zugestellt werden soll.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="autor"
                           type="xibehoerde:Behoerde.Erreichbar"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Hier werden Angaben über den Autor der Nachricht übermittelt, die es dem Leser ermöglichen mit dem Autor in Verbindung zu treten. Der Autor ist die Behörde oder andere (öffentliche) Stelle, die aufgrund eines Geschäftsvorfalls die Nachricht erstellt, also bspw. eine Meldebehörde oder ein Standesamt. Für die sendende Behörde wird in der behoerdenkennung immer die Kennung der für den Betroffenen zuständigen Gemeinde bzw. Ausländerbehörde oder die Kennung des für den Personenstandsfall zuständigen Standesamtes übermittelt. Sofern die sendende Behörde für einen Gemeindeverbund oder im Auftrag einer anderen Behörde handelt, ist in diesen Fällen deshalb die Angabe der zuständigen Stelle (Gemeinde oder Behörde) verpflichtend. Daraus ergibt sich auch die Konsequenz, dass Sammelnachrichten nur für die einzelnen Gemeinden bzw. Behörden zulässig sind. Sofern es keine dem obigen Sinn nach zuständige Gemeinde oder Behörde gibt (bspw. bei der Beantragung eine Führungszeugnisses in einer nicht für den Wohnort des Beantragenden zuständigen Meldebehörde), ist in dem Kindelement behoerdenkennung eine beliebige Kennung zu übermitteln, mit der der Autor im DVDV adressiert werden kann.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Paketierung">
      <xs:annotation>
         <xs:documentation>Dieses Element sichert die korrekte Abfolge aller Pakete (paketnummer) einer Lieferung (laufende.nummer.der.lieferung) und ist Vollständigkeitskontrolle (Kennzeichen letztes.paket). Die Paketierung wird in XAusländer derzeit nur in Verbindung mit dem Datenabgleich gem. § 90 b aufenthg_s in der Kommunikation zwischen mb und abh eingesetzt. Die betroffene Nachricht lautet nachricht.030201. Nachfolgend ist beispielhaft die Verwendung des type.paketierung zur Markierung der korrekten Reihenfolge von Paketen innerhalb einer Lieferung dargestellt. laufende.nummer.der.lieferung paketnummer letztes.paket 1 1 false 1 2 false 1 3 true 2 1 false 2 2 true 3 1 true 4 1 false 4 2 true</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="laufende.nummer.der.lieferung" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Das Element bezeichnet die Nummer der Lieferung. Besteht eine Lieferung aus mehreren Paketen, dann hat jedes zur Lieferung gehörende Paket dieselbe Liefernummer. Für aufeinanderfolgende Lieferungen muss das sendende System eine laufende Nummer vergeben, die aufsteigend und lückenlos ist. Anhand dieser Nummer kann das empfangende System den vollständigen Eingang der Lieferung prüfen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="paketnummer" type="xs:positiveInteger">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird jedem Paket einer Lieferung eine fortlaufende Nummer vergeben, um eine eindeutige Identifizierung innerhalb der Lieferung zu ermöglichen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="letztes.paket" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Dieser Wert bezeichnet, ob es sich um das letzte Paket einer Lieferung handelt oder nicht.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ZustaendigkeitBekanntWeiterleitungNichtMoeglich">
      <xs:annotation>
         <xs:appinfo>
            <title>Zuständigkeit bekannt, Weiterleitung nicht möglich</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Element wird eine fehlende Zuständigkeit für den angefragten Sachverhalt mitgeteilt. Die zuständige Stelle ist bekannt, eine Weiterleitung an diese Stelle kann allerdings nicht über das Fachmodul XAusländer erfolgen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zustaendig" type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element gibt die Behörde an, wer aus ihrer Sicht zuständig für diese Anfrage ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Zustimmung">
      <xs:annotation>
         <xs:documentation>Mit diesem Element wird die Zustimmung zu einem Sachverhalt mitgeteilt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="nebenbestimmung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xoev-lc:String.Latin">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann die antwortende Behörde im Falle der Zustimmung zusätzliche Bestimmungen wie Befristung, Bedingung oder Auflage (z. B. Maßnahmen zur Vermeidung einer Gefährdung der öffentlichen Sicherheit) übermitteln (§36 Abs. 1 VerwVfG).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="gueltigAb" minOccurs="0" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element kann mit der Zustimmung ein Datum angegeben werden, welches bestimmt, ab wann die Zustimmung gültig ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
